/*
  Styles of cml & bd & cm & cm-pc abandoned from v5.main.css
  Latest modified: 2017-08-18 15:41
*/

.bodyCML {
	background-color: #fff
}
.bodyCML #header-fixed {
	background: #33446c
}
.bodyCML #header-wrap {
	background: url(../images/v3/cml_hline.png) repeat-x 0 bottom
}
.bodyCML .fixed #header-wrap {
	background: #14142b
}
.bodyCML #banner-wrap {
	background: url(../images/v3/cml_bg.jpg) no-repeat center -300px
}
.bodyCML .bannerBG {
	top: 0;
	height: 120px;
	background: url(../images/v3/cml_bg.jpg) no-repeat center -200px
}
.bodyCML #banner {
	padding: 100px 0 260px
}
.bodyCML #banner .title {
	width: 750px;
	height: auto;
	background: none
}
.bodyCML #banner .download {
	width: 266px
}
.bodyCML #banner .download a {
	display: block;
	width: 262px;
	height: 95px;
	margin: 15px 0;
	border: #534a78 solid 2px;
	border-radius: 8px
}
.bodyCML #banner .download a.gp {
	background: url(../images/v3/cml_gp.png) no-repeat 28px center
}
.bodyCML #banner .download a.apk {
	display: none;
	border-color: #352e58;
	background: url(../images/v3/cml_apk.png) no-repeat 28px center #fff
}
.bodyCML #banner .social {
	position: static;
	display: block;
	width: 145px;
	margin: 30px auto 0
}
.bodyCML #banner .download .no-android, .cml-dl .no-android {
	position: relative;
	top: 10px;
	left: 0;
	width: 100%
}
.fs-cml {
	background:no-repeat center center #271e37;
	background-size:cover;
}
.canBackgroundSize .fs-cml {
	background-image:url(../images/front/cml-bg.jpg);
}
.fs-cml .cml-app-bg {
	margin-top:-150px;
	top:50%;
}
.fs-cml .cml-app-bg-1 {
	margin-left:-500px;
	width:300px;
}
.fs-cml .cml-app-bg-2 {
	margin-left:200px;
	width:290px;
}
.fs-cml img {
	display:block;
	margin:0 auto;
}
.fs-cml .pic {
	margin:30px auto 40px;
}
.fs-cml .desc {
	margin-top:15px;
	font-size:26px;
	text-align:center;
	color:#fff;
}

.terms-links {
	padding: 10px 0;
	text-align: center
}
.terms-links a {
	display: inline-block;
	margin: 0 10px;
	color: #fff
}
.terms-links a:hover {
	text-decoration:underline;
}

.cml-app-bg {
	position: absolute;
	top: 50px;
	left: 50%
}
.cml-app-bg-1 {
	width: 400px;
	margin-left: -500px
}
.cml-app-bg-2 {
	width: 380px;
	margin-left: 100px
}
.cml-dl .gp .arrow {
	float: left;
	width: 26px;
	height: 22px;
	margin: 10px 20px 0 0;
	background: url(../images/v3/cml_gp_arrow.png) no-repeat
}
.cml-dl .gp .icon {
	float: right;
	width: 191px;
	height: 49px;
	background: url(../images/v3/cml_gp.png) no-repeat
}
#cml-sleek .content {
	padding-top:0;
}
#cml-sleek .textbox {
	margin-top:100px;
}
#cml-sleek .title {
	background-position:0 0;
}
#cml-sleek .anibox img {
	display:block;
	width:100%;
	margin:0 auto;
}
#cml-small .title {
	background-position:0 -120px;
}
#cml-small .anibox {
	padding-top:150px;
}
#cml-small .anibox .ball {
	position: absolute;
	top: 0;
	left: 50%;
	width: 282px;
	height: 356px;
	margin-left: -121px;
	background: url(../images/v3/cml_small_ball.png) no-repeat;
}
#cml-small .anibox .ball-shadow {
	background-image: url(../images/v3/cml_small_ball_shadow.png);
}
#cml-small .anibox .ball .ulbox {
	font-size: 60px;
	line-height: 1;
	position: relative;
	position: absolute;
	top: 18px;
	left: 80px;
	overflow: hidden;
	width: 40px;
	height: 170px;
	text-align: center;
	color: #5f5cbc;
}
#cml-small .anibox .ball ul {
	position: relative;
	top: 32%
}
#cml-small .anibox .ball p {
	font-size: 36px;
	margin: 88px 0 0 130px;
	color: #8e8fad
}
#cml-small .anibox .box {
	display: block;
	margin: 0 auto
}
@media (min-width:540px) {
	.cml-page, .bodyCML #banner-wrap {
		position: static !important;
		display: block !important
	}
}



@media (min-width:801px) and (min-height:790px) {
	.fs-cml .pic {
		margin: 100px auto 50px;
	}
}


@media (min-width:1300px) and (min-height:750px) {
	.cml-app-bg {
		top: 100px
	}
	.cml-app-bg-1 {
		margin-left: -600px
	}
	.cml-app-bg-2 {
		margin-left: 200px
	}
	.fs-cml .cml-app-bg {
		margin-top: -240px
	}
	.fs-cml .cml-app-bg-1 {
		width: auto;
		margin-left: -750px
	}
	.fs-cml .cml-app-bg-2 {
		width: auto;
		margin-left: 300px
	}
	#cml-sleek .textbox {
		margin-top: 170px
	}
	.bodyCML #banner-wrap {
		background-position: center -200px
	}
	.bodyCML .bannerBG {
		background-position: center 0
	}
	.bodyCML #banner {
		padding: 180px 0 270px
	}
	.bodyBD #banner .social {
		left: 920px
	}
	#bd_feature .article {
		padding: 50px 80px
	}
	#bd_feature .article img {
		max-width: 500px
	}
}


@media (max-width:800px) {
	.bodyCML #banner-wrap {
		background-position: center -400px
	}
	.bodyCML #banner {
		padding: 90px 0 170px
	}
	.bodyCML #banner .title {
		width: 500px
	}
	.bodyCML #banner .download a.gp {
		margin: 10px 0
	}
	.bodyCML #banner .social {
		margin: 20px auto 0
	}
	.cml-app-bg {
		display: none
	}
	.fs-cml .cml-app-bg {
		display: none
	}
	.fs-cml .pic {
		width: 140px
	}
	.fs-cml .title {
		width: 480px
	}
	.fs-cml .desc {
		font-size: 22px
	}
	.fs-cml3d .pic{
		width: 115px;
		margin-bottom: 30px;
	}
	.fs-cml3d .title{
		width: 490px;
	}
	.fs-cml3d .desc{
		width: 280px;
		margin-top: 25px;
	}
	.cml-title .icon {
		width: 100px;
		height: 100px;
		background-size: contain
	}
	.cml-title h2, #cml-footer .cml-title h2 {
		width: 380px;
		height: 90px;
		margin: 8px 0 0 20px;
		background-size: contain
	}

	#cml-sleek .textbox {
		margin-top: 40px
	}
	#cml-sleek .anibox img {
		width: 200px
	}
	#cml-small .title {
		background-position: 0 -78px
	}
	#cml-small .anibox {
		padding-top: 110px
	}
	#cml-small .anibox .box {
		width: 180px
	}
	#cml-small .anibox .ball {
		width: 180px;
		height: 230px;
		margin-left: -84px;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain
	}
	#cml-small .anibox .ball p {
		font-size: 26px;
		margin: 58px 0 0 80px
	}
	#cml-small .anibox .ball .ulbox {
		font-size: 40px;
		top: 15px;
		left: 40px;
		width: 30px;
		height: 112px
	}


}

@media (max-width:540px) {
	.bodyCML {
		background-color: #ddd
	}
	.bodyCML .mobileModel #container-wrap,
  .bodyCML .mobileModel #container-wrap .section {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-bottom: 0
  }
	.bodyCML .bannerBG {
		display: none
	}
	.bodyCML #banner-wrap {
		background-position: center 0;
		background-size: auto 110%;
	}
	.bodyCML #banner {
		padding-bottom: 100px
	}
	.bodyCML #banner .title {
		width: 300px
	}
  .bodyCML .mobileModel #footer-wrap {
		display: none;
		background: #fff
	}
	.bodyCML #banner .social {
		display: none
	}
	.bodyCML #banner .download {
		width: 180px;
		padding-top: 40px
	}
	.bodyCML #banner .download a {
		width: 178px;
		height: 64px;
		margin: 5px 0;
		border-width: 1px
	}
	.bodyCML #banner .download a.gp {
		background-position: 19px center;
		-moz-background-size: 140px auto;
		-o-background-size: 140px auto;
		background-size: 140px auto
	}
	.bodyCML #banner .download a.apk {
		background-position: 19px center;
		-moz-background-size: 136px auto;
		-o-background-size: 136px auto;
		background-size: 136px auto
	}
	.bodyCML .mobileModel #banner .download {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 180px;
		margin-left: -90px
	}
  .bodyCML .mobileModel #banner {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 340px;
		margin: -170px 0 0 0;
		margin-top: -140px;
		padding: 0;
		border-bottom: 0;
	}
	.fs-cml .pic {
		width: 100px;
		margin: 50px auto 20px
	}
	.fs-cml .title {
		width: 280px
	}
	.fs-cml .desc {
		font-size: 14px;
		margin-top: 10px
	}
	#cml-sleek .anibox img {
		width: auto;
		height: 130px
	}
	#cml-sleek .textbox {
		margin-top: 10px
	}
	#cml-sleek .content {
		padding-top: 40px
	}
	.mobileModel #cml-sleek .content {
		padding-top: 0
	}
	#cml-sleek .title {
		width: 108px
	}
	#cml-small .title {
		width: 116px
	}
	.cml-app-bg {
		top: 150px;
		display: none
	}
	.cml-app-bg-1 {
		width: 150px;
		margin-left: -170px
	}
	.cml-app-bg-2 {
		width: 130px;
		margin-left: 30px
	}
	.cml-dl .gp .arrow {
		width: 20px;
		height: 19px;
		margin: 5px 10px 0 0;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain
	}
	.cml-dl .gp .icon {
		width: 140px;
		height: 40px;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain
	}
	#banner .cml-title .icon {
		float: none;
		width: 80px;
		height: 80px;
		margin: 0 auto 20px
	}
	#banner .cml-title h2 {
		float: none;
		width: 280px;
		height: 70px;
		margin: 0 auto
	}
	#cml-footer .cml-title .icon {
		width: 55px;
		height: 55px
	}
	#cml-footer .cml-title h2 {
		float: right;
		width: 230px;
		height: 55px;
		margin: 0
	}
	#bd_feature .article p {
		font-size: 14px;
		line-height: 1.7
	}

}



@media (max-width:540px) and (min-height:450px) {
	#cml-sleek .anibox img {
		height: 200px
	}
}

@media (max-width:540px) and (min-height:550px) {
	#cml-sleek .anibox img {
		height: 240px
	}
	#cml-sleek .textbox {
		margin-top: 30px
	}
	.bodyCML .mobileModel #banner {
		height: 400px;
		margin-top: -170px
	}
	.bodyCML .mobileModel #banner .download {
		bottom: 30px
	}
}



@media (max-width:540px) and (max-height:550px) {
	.mobileModel #cml-small .content {
		margin-top: -190px
	}
	#cml-small .anibox {
		padding-top: 80px
	}
	#cml-small .anibox .box {
		width: 120px
	}
	#cml-small .anibox .ball {
		width: 120px;
		margin-left: -58px
	}
	#cml-small .anibox .ball p {
		font-size: 20px;
		margin: 50px 0 0 60px
	}
	#cml-small .anibox .ball .ulbox {
		font-size: 30px;
		top: 7px;
		left: 30px
	}
}

@media (max-width:540px) and (min-height:530px) {
	.mobileModel .bodyCML #banner {
		padding-top: 120px
	}
	.bodyCML #banner .download {
		bottom: 80px
	}
}

@media (min-width:801px) and (min-height:790px) {
	.fs-cml3d .pic {
		margin: 130px auto 42px
	}
}


.bodyBD #banner .social {
	left: 820px
}
#bdCharge .static_img {
	width: 381px;
	height: 377px;
	margin: 10px auto 0;
	background: url(../images/bd/sp.png) no-repeat
}
#battery_life .static_img {
	width: 341px;
	height: 333px;
	background: url(../images/bd/dbl.png) no-repeat
}

#banner .download a.link_latest {
	margin:0;
	font-size:12px;
	line-height:20px;
	width:180px;
	height:20px;
	color:#fff;
	border-radius:0;
	background:none;
}
#play {
	position:absolute;
	top:0;
	left:0;
	display:block;
	overflow:hidden;
	width:154px;
	height:148px;
	-webkit-transition:-webkit-transform 1s ease;
	-moz-transition:-moz-transform 1s ease;
	-moz-transition:transform 1s ease, -moz-transform 1s ease;
	-o-transition:-o-transform 1s ease;
	-o-transition:transform 1s ease, -o-transform 1s ease;
	transition:-webkit-transform 1s ease;
	transition:transform 1s ease;
	transition:transform 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
	text-indent:-999em;
	background:url(../images/v3/cm_icon.png) no-repeat;
	background-position:-411px -377px;
}
#play:hover {
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
	background-position:-410px -560px;
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
       only screen and (min--moz-device-pixel-ratio:1.5),
       only screen and (-o-min-device-pixel-ratio:3/2),
       only screen and (min-device-pixel-ratio:1.5) {
	#play, #play:hover {
		background: url(../images/v3/x2/play.png) no-repeat;
		-moz-background-size: 154px 148px;
		-o-background-size: 154px 148px;
		background-size: 154px 148px
	}
}

