/*
  For Clean Master only.
  Seperated from v5.main.css.
  Latest modified: 2017-08-15 17:49
*/

.bodyCM #header-fixed,
.bodyCM #header-wrap,
.bodyCM #banner-wrap {
	background-color:#3160af;
}
#banner .download a.btg,
#banner .download a.htu {
	font-size:16px;
	line-height:60px;
	width:180px;
	height:60px;
	color:#fff;
	background:url(../images/v3/cm_icon.png) no-repeat -389px -303px;
}
#banner .download a.btg:hover,
#banner .download a.htu:hover {
	background-position:-389px -228px;
}
#info {
	margin-bottom:10px;
	padding:150px 15px 30px;
	font-size:20px;
	line-height:1.2;
	color:#000;
}
#info h4 {
	font-weight:normal;
}
.body-ko-kr #info h4 {
	font-size:18px;
	line-height:1.4;
	color:#555;
}
.body-zh-cn #info h4,
.body-zh-tw #info h4 {
	font-size:17px;
}
#play {
	position:absolute;
	top:0;
	left:0;
	display:block;
	overflow:hidden;
	width:154px;
	height:148px;
	-webkit-transition:-webkit-transform 1s ease;
	-moz-transition:-moz-transform 1s ease;
	-moz-transition:transform 1s ease, -moz-transform 1s ease;
	-o-transition:-o-transform 1s ease;
	-o-transition:transform 1s ease, -o-transform 1s ease;
	transition:-webkit-transform 1s ease;
	transition:transform 1s ease;
	transition:transform 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
	text-indent:-999em;
	background:url(../images/v3/cm_icon.png) no-repeat;
	background-position:-411px -377px;
}
#play:hover {
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
	background-position:-410px -560px;
}

.article {
	overflow:hidden;
	text-align:center;
	background:#fff;
}

#cm_state {
	position:relative;
	margin-bottom:10px;
	padding:150px 0 140px 40%;
	overflow:hidden;
	zoom:1;
	text-align:left;
}
#cm_state strong {
	font-weight:bold;
}
.body-ko-kr #cm_state strong {
	font-size:18px;
}

#cm_state img {
	vertical-align:middle;
}
#cm_state .icon {
	position:absolute;
	top:80px;
	left:-11%;
	width:50%;
	_width:500px;
}
#cm_state li {
	padding:25px 0;
	font-size:20px;
	background:url(../images/v3/dot.png) repeat-x 0 100%;
	zoom:1;
}
.body-ko-kr #cm_state li {
	font-size:18px;
	line-height:1.4;
	color:#555;
}
.body-zh-cn #cm_state li,
.body-zh-tw #cm_state li {
	font-size:17px;
}

#cm_state li.last {
	background:none;
}
#cm_state li.rate {
	position:relative;
}
#cm_state .star {
	font-size:70px;
	color:#10824c;
	font-weight:bold;
	line-height:26px;
	*line-height:60px;
}
#cm_state .star span {
	display:inline-block;
	margin-right:2px;
	width:18px;
	height:17px;
	background:url(../images/v3/star.png) no-repeat;
	overflow:hidden;
	zoom:1;
}
#cm_state .star span.last {
	background-position:100% 0;
}
#cm_state .desc {
	position:absolute;
	bottom:20px;
	left:110px;
	line-height:30px;
}
#cm_state .desc strong {
	color:#333;
}
.body-ru-ru #cm_state .desc strong {
	font-family:'Gotham-Book',Helvetica,Verdana,Arial,'Microsoft YaHei';
	font-size:18px;
	font-weight:bold;
}
.body-zh-cn #cm_state .desc strong,
.body-zh-tw #cm_state .desc strong {
	font-family:'Gotham-Book',Helvetica,Verdana,Arial,'Microsoft YaHei';
}

#cm_feature {
	font-size:16px;
	background:url(../images/v3/dot.png) repeat-y 50% -2px #fff;
}
#cm_feature li {
	display:inline;
	position:relative;
	float:left;
	margin:40px 0 0;
	padding:120px 2% 0px;
	line-height:1.5;
	width:46%;
	height:144px;
	background:url(../images/v3/dot.png) repeat-x 0 100%;
}
#cm_feature li h4 {
	font-weight:bold;
	line-height:30px;
}
.body-ru-ru #cm_feature li h4 {
	font-family:'Gotham-Book',Helvetica,Verdana,Arial,'Microsoft YaHei';
}
#cm_feature li p {
	margin:0 auto;
	max-width:400px;
	color:#959595;
	font-size:16px;
}
.body-ru-ru #cm_feature li p {
	color:#777;
}
.body-zh-cn #cm_feature li p,
.body-zh-tw #cm_feature li p {
	font-size:15px;
}

#cm_feature li .icon {
	position:absolute;
	top:0;
	left:50%;
	margin-left:-56px;
	width:115px;
	height:115px;
	overflow:hidden;
	background:url(../images/v3/small_icon.png) no-repeat;
	-webkit-transition:all .4s ease;
	-moz-transition:all .4s ease;
	-ms-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
}
#cm_feature li .icon:hover {
	background-position-y:0!important;
}
#cm_feature .remove-junk-files .icon {
	background-position:-236px 100%;
}
#cm_feature .protect-privacy .icon {
	background-position:-350px 100%;
}
#cm_feature .memory-boost .icon {
	background-position:0 100%;
}
#cm_feature .app-manager .icon {
	background-position:-120px 100%;
}

#cm_thanks {
	position:relative;
	margin-bottom:10px;
	padding:100px 25% 160px 10%;
	_padding-right:150px;
	font-size:20px;
	line-height:1.6;
	text-align:left;
	zoom:1;
}
.body-ru-ru #cm_thanks {
	font-size:20px;
}
.body-zh-cn #cm_thanks,
.body-zh-tw #cm_thanks {
	font-size:17px;
}
#cm_thanks .icon {
	position:absolute;
	right:-15%;
	bottom:0;
	width:40%;
}
#cm_thanks p {
	margin-bottom:30px;
}
.body-ko-kr #cm_thanks p {
	font-size:18px;
	line-height:1.4;
	color:#555;
}
#cm_thanks strong {
	font-size:30px;
	font-weight:bold;
}
.body-ru-ru #cm_thanks strong {
	font-size:24px;
}
#cm_thanks i {
	font-style:normal;
}


@media (min-width:1300px) and (min-height:750px) {
	#cm_state .icon {top:50px;}
}

@media (max-width:800px) {
	#cm_thanks {padding:50px 15px 45%;}
	#cm_thanks .icon {bottom:-10%;left:30%;width:55%;}
	#cm_state {padding:50px 0 260px;}
	#cm_state .icon {top:auto;bottom:-170px;margin-left:-250px;left:50%;width:500px;}
	#cm_state li {padding:20px;line-height:26px;font-size:18px;}
	#cm_state .desc {left:130px;}
	#cm_feature, #cm_feature li {font-size:16px;background-image:none;}
}

@media (max-width:540px) {
	#cm_state {padding:50px 0 180px;}
	#cm_state .desc {position:static;margin:10px 0 0;}
	#cm_state .star {text-align:center;}
	#cm_state strong, #cm_state .desc strong {font-size:18px;}
	#cm_state .icon {bottom:-100px;margin-left:-160px;width:320px;}
	#cm_thanks, #cm_thanks strong {font-size:18px;}
	#cm_thanks {line-height:1.6;}
	#cm_thanks .orange {font-size:18px;font-weight:bold;}
	#cm_feature li {width:96%;font-size:15px;background:url(../images/v3/dot.png) repeat-x 0 100%;}
	#play {-webkit-transform:scale(.7);-moz-transform:scale(.7);-ms-transform:scale(.7);-o-transform:scale(.7);transform:scale(.7);}
	#info {padding-top:100px;font-size:18px;}
}



@media only screen and (-webkit-min-device-pixel-ratio:1.5),
       only screen and (min--moz-device-pixel-ratio:1.5),
       only screen and (-o-min-device-pixel-ratio:3/2),
       only screen and (min-device-pixel-ratio:1.5) {
	#cm_feature .remove-junk-files .icon {background:url(../images/v3/x2/f1.png);background-size:cover;}
	#cm_feature .protect-privacy .icon {background:url(../images/v3/x2/f2.png);background-size:cover;}
	#cm_feature .memory-boost .icon {background:url(../images/v3/x2/f4.png);background-size:cover;}
	#cm_feature .app-manager .icon {background:url(../images/v3/x2/f3.png);background-size:cover;}
	#play, #play:hover {background:url(../images/v3/x2/play.png) no-repeat;background-size:154px 148px;}

}
