/*
  For CM Launcher only.
  Seperated from v5.main.css.
  Latest modified: 2017-08-07 17:09
*/


.cml-title .icon {
	float:left;
	width:134px;
	height:134px;
	background:url(../images/v3/cml_icon.png) no-repeat;
}
.cml-title h2 {
	float:left;
	margin:12px 0 0 25px;
	width:553px;
	height:121px;
	background:url(../images/v3/cml_title.png) no-repeat;
}

