/*
  cmpc.css is for "Clean Master for PC" only.
  Some codes are seperated from v5.main.css.
  Latest modified: 2017-08-18 16:20
*/

body.bodyCMPC {
  background:#fff;
}
.bodyCMPC #header-fixed,
.bodyCMPC #header-wrap,
.bodyCMPC #banner-wrap {
  background-color:#115385;
}
.bodyCMPC #banner .title,
.bodyCMPC #banner .download a,
.bodyCMPC #banner .app {
  background-image:url(/images/v3/en-us/cmpc_icon.png);
}

#play {
	position:absolute;
	top:0;
	left:0;
	display:block;
	overflow:hidden;
	width:154px;
	height:148px;
	-webkit-transition:-webkit-transform 1s ease;
	-moz-transition:-moz-transform 1s ease;
	-moz-transition:transform 1s ease, -moz-transform 1s ease;
	-o-transition:-o-transform 1s ease;
	-o-transition:transform 1s ease, -o-transform 1s ease;
	transition:-webkit-transform 1s ease;
	transition:transform 1s ease;
	transition:transform 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
	text-indent:-999em;
	background:url(../images/v3/en-us/cmpc_icon.png) no-repeat;
	background-position:-411px -377px;
}
#play:hover {
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
	background-position:-410px -560px;
}


.bodyCMPC #banner .title {
  width:693px;
}
.bodyCMPC #banner .app {
  width:341px;
  height:290px;
  bottom:-42px;
  background-position:0 -153px;
}
.bodyCMPC #container-wrap {
  background:url(/images/v3/en-us/cmpc_earth.png) center bottom no-repeat;
}
.bodyCMPC #cmpc_intro {
  padding:10% 0 3%;
  background:none;
  height:406px;
}
.bodyCMPC #cmpc_intro .icon {
  position:absolute;
  left:90px;
  width:399px;
  height:406px;
  background:url(/images/v3/en-us/cmpc_box.png) center bottom no-repeat;
}
.bodyCMPC #cmpc_intro ul { 
  padding:70px 0 0 640px;
  font-family:Tahoma;
  font-size:20px;
  text-align:left;
  color:#777;
  line-height:45px;
}
.bodyCMPC #cmpc_intro ul strong {
  color:#1993e4;
}
.cmpc-tip {
  display:inline-block;
  display:none;
  color:#fff;
  width:180px;
  height:60px;
  line-height:60px;
  font-size:14px;
  color:#81B9E8;
  border-radius:8px;
}

.cmpc_num {
  padding-top:10px;
}
.cmpc_num i {
  _display:inline;
  float:left;
  margin:0 2px;
  width:28px;
  height:40px;
  background:url(/images/v3/en-us/cmpc_num.png) 0 2px no-repeat;
}
.cmpc_num i.num2 {background-position:0 -46px;}
.cmpc_num i.num3 {background-position:0 -94px;}
.cmpc_num i.num4 {background-position:0 -142px;}
.cmpc_num i.num5 {background-position:0 -190px;}
.cmpc_num i.num6 {background-position:0 -238px;}
.cmpc_num i.num7 {background-position:0 -286px;}
.cmpc_num i.num8 {background-position:0 -334px;}
.cmpc_num i.num9 {background-position:0 -382px;}
.cmpc_num i.num0 {background-position:0 -430px;}
.cmpc_num i.num_comma {background-position:0 -470px;}
.cmpc_num span {
  float:left;
  margin:3px 0 0 5px;
  font-size:30px;
  font-family:"Gotham-Book",Helvetica,Verdana,Arial,"Microsoft YaHei";
}


#banner .download a.btg {
	font-size:16px;
	line-height:60px;
	width:180px;
	height:60px;
	color:#fff;
	background:url(../images/v3/cm_icon.png) no-repeat -389px -303px;
}
#banner .download a.btg:hover {
	background-position:-389px -228px;
}

.article {
	overflow:hidden;
	text-align:center;
	background:#fff;
}

@media (max-width:800px) {
  .bodyCMPC #banner .title {margin:0 auto;width:600px;height:120px;background-size:100%;}
  #banner {padding:40px 0 50px;}
  #banner .app {margin:10px auto;}
  #banner .download {padding-top:10px;}
  .bodyCMPC #cmpc_intro {height:auto;}
  .bodyCMPC #cmpc_intro .icon {position:static;max-width:50%;height:auto;margin:50px auto 0;padding-bottom:22%;background-size:100%;}
  .bodyCMPC #cmpc_intro .icon img {max-width:100%;}
  .bodyCMPC #cmpc_intro ul {padding:0;font-size:16px;line-height:30px;text-align:center;}
  .cmpc_num {margin:0 auto;width:200px;}
  .cmpc_num i {margin:0 1px;background-size:16px;background-position:0 0;width:16px;height:23px;}
  .cmpc_num i.num2 {background-position:0 -27px;}
  .cmpc_num i.num3 {background-position:0 -54px;}
  .cmpc_num i.num4 {background-position:0 -82px;}
  .cmpc_num i.num5 {background-position:0 -109px;}
  .cmpc_num i.num6 {background-position:0 -136px;}
  .cmpc_num i.num7 {background-position:0 -163px;}
  .cmpc_num i.num8 {background-position:0 -191px;}
  .cmpc_num i.num9 {background-position:0 -218px;}
  .cmpc_num i.num0 {background-position:0 -246px;}
  .cmpc_num i.num_comma {background-position:0 -270px;}
  .cmpc_num span {font-size:20px;margin-top:0;}
}

@media (max-width:640px) {
  .bodyCMPC #banner .title {width:500px;height:100px;}
}

@media (max-width:540px) {
  .bodyCMPC #banner .title {width:310px;height:68px;background-position:0px 0;}
  .bodyCMPC #banner .app {background-position:10px -80px;width:220px;height:180px;background-size:180%;}
	#play { 
		-webkit-transform: scale(.7);
		-moz-transform: scale(.7);
		-ms-transform: scale(.7);
		-o-transform: scale(.7);
		transform: scale(.7)
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
  #banner .app {background-image:url(/images/v3/en-us/cmpc_icon.png);background-size:auto;}
  #play, #play:hover {background-image:url(/images/v3/en-us/cmpc_icon.png)!important;background-size:auto;background-position:-411px -377px;}
}
