/*!
 * compile by less
 * @author: liujiaqi@cmcm.com 
 * Update for new visual design, for en-us ONLY, temporary!
 * Latest modified 2017-05-23 19:42
 */

/* .bodyCMS can be deleted after multiple languages done */
.privacy-ani .i1,.privacy-ani .i2{overflow:hidden;-webkit-transform:translateZ(0);-moz-transform:translateZ(0)}
@font-face{font-family:helvetica-light;font-weight:400;font-style:normal;src:url(../images/v3/fonts/helveticalight.eot);src:url(../images/v3/fonts/helveticalight.eot?#iefix) format('embedded-opentype'),url(../images/v3/fonts/helveticalight.woff) format('woff'),url(../images/v3/fonts/helveticalight.ttf) format('truetype'),url(../images/v3/fonts/helveticalight.svg#helvetica-light) format('svg')}
@font-face{font-family:helvetica;font-weight:400;font-style:normal;src:url(../images/v3/fonts/helvetica.eot);src:url(../images/v3/fonts/helvetica.eot?#iefix) format('embedded-opentype'),url(../images/v3/fonts/helvetica.woff) format('woff'),url(../images/v3/fonts/helvetica.ttf) format('truetype'),url(../images/v3/fonts/helvetica.svg#helvetica) format('svg')}
body{background:#fff}
.bodyCMS #banner-wrap, #footer, .bodyCMS #header-fixed{background:0 0;}
.bodyCMS #header-fixed{position:absolute;z-index:10;top:0;left:0;width:100%;}
.bodyCMS #header-wrap{background:url(../images/v3/head-bottom-line.png) 0 bottom repeat-x;}
.bodyCMS .fixed #header-wrap{background:url(../images/cms/new-cms-bg.jpg) 50% 50% no-repeat #2c33a0;}
.bodyCMS #banner-wrap{position:relative;overflow:hidden;background:url(../images/cms/new-cms-bg.jpg) center top no-repeat #2c33a0;-o-background-size:auto 100%;background-size:auto 100%}
.footer-wrap{background:#1ea3e6}
#banner{padding:400px 0 100px}
#banner .logo{position:absolute;top:150px;left:50%;width:420px;margin-left:-210px}
.bodyCMS #banner .title{width:590px;height:70px;background:url(../images/cms/new-cms-big-title.png) no-repeat;-o-background-size:contain;background-size:contain;}
.bodyCMS #banner .sub-title{margin:0 auto;width:430px;height:40px;background:url(../images/cms/new-cms-sub-title.png) no-repeat;-o-background-size:contain;background-size:contain;text-indent:-9999px;}
#banner .download{padding-top:20px}
#banner .social{top:440px;left:780px;}
#banner .arrow{position:absolute;bottom:0;left:50%;width:100px;margin-left:-50px}
.page{font-family:helvetica,Helvetica,Verdana,Arial;padding:0;color:#777}
.page .desc,.page .title{color:#3bc7fc}
.page .content{padding:100px 0}
.page .item{width:50%}
.page .title{font-family:helvetica-light,Helvetica,Verdana,Arial;font-size:50px;line-height:1.2}
.page .entry{font-size:16px;margin-top:30px;color:#737373}
.page img{display:block}

.applock-ani{
  position:relative;
  margin:0 auto;
  width:320px;
  height:320px;
}

#cms-app-lock .title{
  margin-top:70px;
  text-indent:-9999px;
}
#cms-app-lock .entry{
  padding:0 0 0 5px;
  width:430px;
}
#cms-app-lock .entry strong {
  color:#2d379c;
}
#cms-anti-virus .title-icon,
#cms-anti-virus .title,
#cms-anti-virus .entry,
#cms-anti-virus .three-icons {
  width:440px;
}
#cms-anti-virus .title-icon {
  margin:0 auto;
  display:block;
  height:55px;
  background:url(../images/cms/new-cms-intel-icon.png) no-repeat;
  text-indent:-9999px;
}
#cms-anti-virus .title{
  margin:40px auto 0;
}
#cms-anti-virus .entry{
  margin:30px auto 0!important;
}
#cms-anti-virus .three-icons{
  margin:30px auto 0;
  height:120px;
}
#cms-anti-virus .three-icons img{
  display:block;
  float:left;
  margin-right:15px;
}
.anti-virus-ani{
  position:relative;
  margin:0 auto;
  width:300px;
  height:530px;
}
.anti-virus-ani img {
  position:absolute;
  left:0px;
  top:0px;
}
.anti-virus-ani img.cuty {
  left:168px;
  top:284px;
}
.animated .anti-virus-ani img.cuty {
  -webkit-animation:flyRight .6s ease both;
  -moz-animation:flyRight .6s ease both;
  -ms-animation:flyRight .6s ease both;
  -o-animation:flyRight .6s ease both;
  animation:flyRight .6s ease both;
}

.animated .thr-icon1 {
  -webkit-animation:flyBottom .3s ease both;
  -moz-animation:flyBottom .3s ease both;
  -ms-animation:flyBottom .3s ease both;
  -o-animation:flyBottom .3s ease both;
  animation:flyBottom .3s ease both;
}
.animated .thr-icon2 {
  -webkit-animation:flyBottom .6s ease both;
  -moz-animation:flyBottom .6s ease both;
  -ms-animation:flyBottom .6s ease both;
  -o-animation:flyBottom .6s ease both;
  animation:flyBottom .6s ease both;
}
.animated .thr-icon3 {
  -webkit-animation:flyBottom .9s ease both;
  -moz-animation:flyBottom .9s ease both;
  -ms-animation:flyBottom .9s ease both;
  -o-animation:flyBottom .9s ease both;
  animation:flyBottom .9s ease both;
}


#cms-privacy .title-icon,
#cms-privacy .title,
#cms-privacy .entry {
  width:435px;
}
#cms-privacy .title-icon {
  margin:8px auto 0;
  display:block;
  height:50px;
  background:url(../images/cms/new-cms-keycloud.png) no-repeat;
  text-indent:-9999px;
}
#cms-privacy .title {
  margin:40px auto 0;
}
#cms-privacy .entry {
  margin:30px auto 0!important;
}

.privacy-ani {
  position:relative;
  margin:0 auto;
  width:300px;
  height:530px;
}
.privacy-ani img {
  position:absolute;
  left:0px;
  top:0px;
}
.privacy-ani img.gathering {
  left:190px;
  top:325px;
}
.animated .privacy-ani img.gathering {
  -webkit-animation:flyBottom .9s ease both;
  -moz-animation:flyBottom .9s ease both;
  -ms-animation:flyBottom .9s ease both;
  -o-animation:flyBottom .9s ease both;
  animation:flyBottom .9s ease both;
}


#cms-wifi-scanner .title-icon,
#cms-wifi-scanner .title,
#cms-wifi-scanner .entry {
  width:435px;
}
#cms-wifi-scanner .title-icon {
  margin:50px auto 0;
  display:block;
  height:70px;
  background:url(../images/cms/new-cms-alock.png) no-repeat;
  text-indent:-9999px;
}
#cms-wifi-scanner .title {
  margin:40px auto 0;
}
#cms-wifi-scanner .entry {
  margin:30px auto 0!important;
}

.wifi-scanner-ani {
  position:relative;
  margin:0 auto;
  width:300px;
  height:530px;
}
.wifi-scanner-ani img {
  position:absolute;
  left:0px;
  top:0px;
}
.wifi-scanner-ani img.theif {
  left:260px;
  top:10px;
  -webkit-animation:flyBottom .9s ease both;
}
.wifi-scanner-ani img.alerting {
  left:50%;
  margin-left:-90px;
  top:280px;
}
.wifi-scanner-ani img.locker {
  left:-150px;
  top:300px;
}
.animated .wifi-scanner-ani img.theif {
  -webkit-animation:flyTop .9s ease both;
  -moz-animation:flyTop .9s ease both;
  -ms-animation:flyTop .9s ease both;
  -o-animation:flyTop .9s ease both;
  animation:flyTop .9s ease both;
}
.animated .wifi-scanner-ani img.alerting {
  -webkit-animation:flyLeft .6s ease both;
  -moz-animation:flyLeft .6s ease both;
  -ms-animation:flyLeft .6s ease both;
  -o-animation:flyLeft .6s ease both;
  animation:flyLeft .6s ease both;
}
.animated .wifi-scanner-ani img.locker {
  -webkit-animation:flyLeft .6s ease both;
  -moz-animation:flyLeft .6s ease both;
  -ms-animation:flyLeft .6s ease both;
  -o-animation:flyLeft .6s ease both;
  animation:flyLeft .6s ease both;
}






/* ====== 宽大屏 ====== */
@media (min-width: 1300px) and (min-height: 750px){
  #banner {padding:510px 0 100px;}
  #banner .social{top:555px;left:910px;}
  #banner .logo{top:180px;width:575px;margin-left:-287px}
  #banner .arrow{width:126px;margin-left:-63px}
  .page .content{width:1050px;padding:120px 0}
  .page .title{font-size:60px}
  .page .desc{font-size:22px}
  .page .entry{font-size:18px}
  #cms-anti-virus .title{margin-top:40px}
}

/* ====== 中小屏 ====== */
@media (max-width: 800px) {
  #banner{padding:260px 0 70px;}
  #banner .logo{top:80px;width:300px;margin-left:-150px;}
  .bodyCMS #banner .title{width:360px;height:42.7px;}
  .bodyCMS #banner .sub-title {width:360px;height:34px;}
  .page .content{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:60px 20px}
  .page .entry{font-size:14px;}
  .page .item{width:100%;}
  .page .title img {margin:0 auto;}
  .page .title-icon {display:none!important;}
  .page .entry {margin:30px auto 0;}
  .page .alignleft, .page .alignright{float:none;margin:0 auto;}
  #cms-anti-virus .title, #cms-app-lock .title, #cms-privacy .title, #cms-wifi-scanner .title {margin-top:0}
  #cms-anti-virus .entry {width:295px;}
  #cms-anti-virus .three-icons{width:295px;}
  #cms-anti-virus .three-icons img{width:90px;height:90px;margin-right:4px;}
  #cms-privacy .entry {width:320px;}
  .privacy-ani img.gathering {left:90px;}
  #cms-wifi-scanner .entry {width:374px;}
  .anti-virus-ani, .applock-ani, .privacy-ani, .wifi-scanner-ani {margin:40px auto 0;}
}

/* ====== 小屏 ====== */
@media (max-width: 540px) {
  #banner{padding:240px 0 50px;}
  #banner .logo{width:260px;margin-left:-130px;}
  .bodyCMS #banner .title{width:250px;height:30px;}
  .bodyCMS #banner .sub-title{width:250px;height:23px;}
  #banner .arrow{width:60px;margin-left:-30px;}
  .page .content{padding:30px 10px;}
  .page .title img {width:320px;}
  #cms-app-lock .entry{width:320px;}
  #cms-privacy .title-icon,
  #cms-privacy .title,
  #cms-privacy .entry,
  #cms-wifi-scanner .title-icon,
  #cms-wifi-scanner .title,
  #cms-wifi-scanner .entry {
    width:320px;
  }
}
