/*!
 * compile by less
 * @author: liujiaqi@cmcm.com 
 * Update for new visual design, for en-us ONLY, temporary!
 * Latest modified 2017-05-25 16:50
 */

@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('../images/cms/RobotoCondensedRegular.eot');
    src: url('../images/cms/RobotoCondensedRegular.eot') format('embedded-opentype'),
         url('../images/cms/RobotoCondensedRegular.woff2') format('woff2'),
         url('../images/cms/RobotoCondensedRegular.woff') format('woff'),
         url('../images/cms/RobotoCondensedRegular.ttf') format('truetype'),
         url('../images/cms/RobotoCondensedRegular.svg#RobotoCondensedRegular') format('svg');
}

body {background:#fff;}
.bodyCMS #banner-wrap, #footer, .bodyCMS #header-fixed{background:0 0;}
.bodyCMS #header-fixed{position:absolute;z-index:10;top:0;left:0;width:100%;}
.bodyCMS #header-wrap{background:url(../images/v3/head-bottom-line.png) 0 bottom repeat-x;}
.bodyCMS .fixed #header-wrap{background:url(../images/cms/new-cms-bg.jpg) 50% 50% no-repeat #2c33a0;}
.bodyCMS #banner-wrap{position:relative;overflow:hidden;background:url(../images/cms/new-cms-bg.jpg) center top no-repeat #2c33a0;-o-background-size:auto 100%;background-size:auto 100%}
.footer-wrap{background:#1ea3e6}
#banner{padding:400px 0 100px}
#banner .logo{position:absolute;top:150px;left:50%;width:420px;margin-left:-210px}
.bodyCMS #banner .title{width:590px;height:70px;background:url(../images/cms/new-cms-big-title.png) no-repeat;-o-background-size:contain;background-size:contain;}
.bodyCMS #banner .sub-title{margin:0 auto;width:430px;height:40px;background:url(../images/cms/new-cms-sub-title.png) no-repeat;-o-background-size:contain;background-size:contain;text-indent:-9999px;}
#banner .download{padding-top:20px}
#banner .social{top:440px;left:780px;}
#banner .arrow{position:absolute;bottom:0;left:50%;width:100px;margin-left:-50px}

.gp-dl.new-cms-dlbtn {
  padding:0;
  width:181px;
  height:64px;
  background:url(../images/cms/new-cms-dl.png) no-repeat;
  text-indent:-9999px;
  border-radius:0;
}

#container-wrap .title, #container-wrap .descr {font-family:'RobotoCondensedRegular';color:#2d379c;}
.page .entry {font-family:helvetica,Helvetica,Verdana,Arial;padding:0;}
.page .content{padding:100px 0;}
.page .item{width:50%;}
.page .title{font-size:50px;line-height:1.2;}
.page img{display:block;}

#cms-app-lock .title,
#cms-anti-virus .title,
#cms-privacy .title,
#cms-wifi-scanner .title {margin:35px auto 0;font-size:60px;}

#cms-app-lock .descr,
#cms-anti-virus .descr,
#cms-privacy .descr,
#cms-wifi-scanner .descr {margin:0 auto;font-size:24px;line-height:28px;}

#cms-app-lock .entry,
#cms-anti-virus .entry,
#cms-privacy .entry,
#cms-wifi-scanner .entry {margin:30px auto 0;font-size:18px;color:#737373;}

#cms-app-lock img.img-in-mob,
#cms-anti-virus .show-in-mob,
#cms-privacy .show-in-mob,
#cms-wifi-scanner .show-in-mob {display:none;}

.applock-ani{
  position:relative;
  margin:0 auto;
  width:320px;
  height:320px;
}

#cms-app-lock .title {
  margin:70px auto 0;
  max-width:435px;
}
#cms-app-lock .entry {
  padding:0 0 0 5px;
  max-width:430px;
}
#cms-app-lock .entry strong {
  color:#2d379c;
  font-weight:bold;
}


#cms-anti-virus .title-icon,
#cms-anti-virus .title,
#cms-anti-virus .entry,
#cms-anti-virus .descr,
#cms-anti-virus .three-icons {
  width:440px;
}
#cms-anti-virus .title-icon {
  margin:0 auto;
  display:block;
  height:55px;
  background:url(../images/cms/new-cms-intel-icon.png) no-repeat;
  text-indent:-9999px;
}
#cms-anti-virus .three-icons{
  margin:30px auto 0;
  height:120px;
}
#cms-anti-virus .three-icons img {
  display:block;
  float:left;
  margin-right:15px;
}
.anti-virus-ani{
  position:relative;
  margin:0 auto;
  width:300px;
  height:530px;
}
.anti-virus-ani img {
  position:absolute;
  left:0px;
  top:0px;
}
.page img.phone-shadow { /* Shadow size: 460 * 630 */
  left:50%;
  top:-50px;
  margin-left:-230px;
}
.anti-virus-ani img.cuty {
  left:168px;
  top:284px;
}
.animated .anti-virus-ani img.cuty {
  -webkit-animation:flyRight .6s ease both;
  -moz-animation:flyRight .6s ease both;
  -ms-animation:flyRight .6s ease both;
  -o-animation:flyRight .6s ease both;
  animation:flyRight .6s ease both;
}

.animated .thr-icon1 {
  -webkit-animation:flyBottom .3s ease both;
  -moz-animation:flyBottom .3s ease both;
  -ms-animation:flyBottom .3s ease both;
  -o-animation:flyBottom .3s ease both;
  animation:flyBottom .3s ease both;
}
.animated .thr-icon2 {
  -webkit-animation:flyBottom .6s ease both;
  -moz-animation:flyBottom .6s ease both;
  -ms-animation:flyBottom .6s ease both;
  -o-animation:flyBottom .6s ease both;
  animation:flyBottom .6s ease both;
}
.animated .thr-icon3 {
  -webkit-animation:flyBottom .9s ease both;
  -moz-animation:flyBottom .9s ease both;
  -ms-animation:flyBottom .9s ease both;
  -o-animation:flyBottom .9s ease both;
  animation:flyBottom .9s ease both;
}

#cms-privacy .title-icon,
#cms-privacy .title,
#cms-privacy .descr,
#cms-privacy .entry {
  width:435px;
}
#cms-privacy .title-icon {
  margin:8px auto 0;
  display:block;
  height:50px;
  background:url(../images/cms/new-cms-keycloud.png) no-repeat;
  text-indent:-9999px;
}
#cms-privacy .entry p.tips-text {margin-top:20px;text-align:right;font-size:12px;}

.privacy-ani {
  position:relative;
  margin:0 auto;
  width:300px;
  height:530px;
}
.privacy-ani img {
  position:absolute;
  left:0px;
  top:0px;
}
.privacy-ani img.gathering {
  left:190px;
  top:325px;
}
.animated .privacy-ani img.gathering {
  -webkit-animation:flyBottom .9s ease both;
  -moz-animation:flyBottom .9s ease both;
  -ms-animation:flyBottom .9s ease both;
  -o-animation:flyBottom .9s ease both;
  animation:flyBottom .9s ease both;
}


#cms-wifi-scanner .title-icon,
#cms-wifi-scanner .title,
#cms-wifi-scanner .descr,
#cms-wifi-scanner .entry {
  width:435px;
}
#cms-wifi-scanner .title-icon {
  margin:50px auto 0;
  display:block;
  height:70px;
  background:url(../images/cms/new-cms-alock.png) no-repeat;
  text-indent:-9999px;
}

.wifi-scanner-ani {
  position:relative;
  margin:0 auto;
  width:300px;
  height:530px;
}
.wifi-scanner-ani img {
  position:absolute;
  left:0px;
  top:0px;
}
.wifi-scanner-ani img.theif {
  left:260px;
  top:10px;
  -webkit-animation:flyBottom .9s ease both;
}
.wifi-scanner-ani img.alerting {
  left:50%;
  margin-left:-90px;
  top:280px;
}
.wifi-scanner-ani img.locker {
  left:-150px;
  top:300px;
}
.animated .wifi-scanner-ani img.theif {
  -webkit-animation:flyTop .9s ease both;
  -moz-animation:flyTop .9s ease both;
  -ms-animation:flyTop .9s ease both;
  -o-animation:flyTop .9s ease both;
  animation:flyTop .9s ease both;
}
.animated .wifi-scanner-ani img.alerting {
  -webkit-animation:flyLeft .6s ease both;
  -moz-animation:flyLeft .6s ease both;
  -ms-animation:flyLeft .6s ease both;
  -o-animation:flyLeft .6s ease both;
  animation:flyLeft .6s ease both;
}
.animated .wifi-scanner-ani img.locker {
  -webkit-animation:flyLeft .6s ease both;
  -moz-animation:flyLeft .6s ease both;
  -ms-animation:flyLeft .6s ease both;
  -o-animation:flyLeft .6s ease both;
  animation:flyLeft .6s ease both;
}



/* ====== 宽大屏 ====== */
@media (min-width: 1300px) and (min-height: 750px){
  #banner {padding:510px 0 100px;}
  #banner .social{top:555px;left:910px;}
  #banner .logo{top:180px;width:575px;margin-left:-287px;}
  #banner .arrow{width:126px;margin-left:-63px;}
  .page .content{width:1050px;padding:120px 0;}
  .page .title{font-size:60px;}
  .page .entry{font-size:18px;}
  #cms-anti-virus .title{margin-top:40px;}
}

/* ====== 中小屏 ====== */
@media (max-width: 800px) {
  #banner{padding:260px 0 70px;}
  #banner .logo{top:80px;width:300px;margin-left:-150px;}
  .bodyCMS #banner .title{width:360px;height:42.7px;}
  .bodyCMS #banner .sub-title {width:360px;height:34px;}
  .page .content{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:60px 20px;}
  .page .item{width:100%;}
  .page .title-icon {display:none!important;}
  .page .alignleft, .page .alignright{float:none;margin:0 auto;}

  #cms-app-lock .title,
  #cms-anti-virus .title,
  #cms-privacy .title,
  #cms-wifi-scanner .title {margin:50px auto 0;width:435px;}

  #cms-app-lock .descr,
  #cms-anti-virus .descr,
  #cms-privacy .descr,
  #cms-wifi-scanner .descr {width:435px;}

  #cms-app-lock .entry,
  #cms-anti-virus .entry,
  #cms-privacy .entry,
  #cms-wifi-scanner .entry {width:435px;font-size:16px;}

  #cms-anti-virus .three-icons{width:435px;}
  #cms-anti-virus .three-icons img{margin-right:15px;}
  .privacy-ani img.gathering {left:90px;}
  .anti-virus-ani, .applock-ani, .privacy-ani, .wifi-scanner-ani {margin:40px auto 0;}
}

/* ====== 小屏 ====== */
@media (max-width: 540px) {
  #banner{padding:240px 0 50px;}
  #banner .logo{width:260px;margin-left:-130px;}
  .bodyCMS #banner .title{width:250px;height:30px;}
  .bodyCMS #banner .sub-title{width:250px;height:23px;}
  #banner .arrow{width:60px;margin-left:-30px;}
  #cms-app-lock .title {margin-top:30px;}
  .page .content{padding:30px 0px;}

  .applock-ani{margin:0;width:0px;height:0px;}
  #cms-app-lock .entry {padding:0;}
  #cms-app-lock .entry span.cms-txt {width:200px;float:left;}
  #cms-app-lock .alignright, #cms-app-lock .title, #cms-app-lock .entry {position:relative;}
  #cms-app-lock img.img-in-mob {display:block;position:absolute;right:-60px;top:10px;width:240px;}

  #cms-app-lock .alignleft.in-pc,
  #cms-anti-virus .alignright.in-pc,
  #cms-anti-virus .three-icons.in-pc,
  #cms-privacy .alignleft.in-pc,
  #cms-wifi-scanner .alignright.in-pc {display:none;}

  #cms-anti-virus .show-in-mob,
  #cms-privacy .show-in-mob,
  #cms-wifi-scanner .show-in-mob {display:block;position:relative;width:100%;}

  #cms-anti-virus .show-in-mob img,
  #cms-privacy .show-in-mob img,
  #cms-wifi-scanner .show-in-mob img {display:block;width:100%;}

  #cms-anti-virus .show-in-mob img.mob-cuty-bg,
  #cms-wifi-scanner .show-in-mob img.mob-appl-bg {position:relative;width:100%;}

  #cms-anti-virus .show-in-mob img.mob-cuty1 {position:absolute;left:10px;top:20px;width:137px;}
  #cms-anti-virus .show-in-mob img.mob-cuty2 {position:absolute;right:20px;top:20px;width:110px;}
  #cms-anti-virus .show-in-mob img.mob-cuty3 {position:absolute;right:10px;bottom:-40px;width:110px;}

  #cms-wifi-scanner .show-in-mob img.mob-appl-thief {position:absolute;right:13px;top:-83px;width:150px;}
  #cms-wifi-scanner .show-in-mob img.mob-appl-alerting {position:absolute;left:70px;top:80px;width:150px;}
  #cms-wifi-scanner .show-in-mob img.mob-appl-locker {position:absolute;left:-38px;bottom:-10px;width:200px;}


  .animated .show-in-mob img.mob-cuty1 {
    -webkit-animation:flyTop .6s ease both;
    -moz-animation:flyTop .6s ease both;
    -ms-animation:flyTop .6s ease both;
    -o-animation:flyTop .6s ease both;
    animation:flyTop .6s ease both;
  }

  .animated .show-in-mob img.mob-cuty2,
  .animated .show-in-mob img.mob-appl-alerting,
  .animated .show-in-mob img.mob-appl-locker {
    -webkit-animation:flyBottom .6s ease both;
    -moz-animation:flyBottom .6s ease both;
    -ms-animation:flyBottom .6s ease both;
    -o-animation:flyBottom .6s ease both;
    animation:flyBottom .6s ease both;
  }

  .animated .show-in-mob img.mob-cuty3,
  .animated .show-in-mob img.mob-appl-thief {
    -webkit-animation:flyRight .6s ease both;
    -moz-animation:flyRight .6s ease both;
    -ms-animation:flyRight .6s ease both;
    -o-animation:flyRight .6s ease both;
    animation:flyRight .6s ease both;
  }

  #cms-app-lock .title,
  #cms-anti-virus .title,
  #cms-privacy .title,
  #cms-wifi-scanner .title {margin:45px auto 0;width:320px;font-size:40px;}

  #cms-app-lock .descr,
  #cms-anti-virus .descr,
  #cms-privacy .descr,
  #cms-wifi-scanner .descr {margin:5px auto 0;width:320px;}
  #cms-app-lock .entry,
  #cms-anti-virus .entry,
  #cms-privacy .entry,
  #cms-wifi-scanner .entry {margin:20px auto 0;width:320px;}

  #cms-privacy .entry p.tips-text {text-align:left;}
  #cms-privacy .title {margin:0 auto;}
}
