/*
  CSS for PhotoGrid new look ONLY!!
  Devided from v4.main.css
  Latest modified: 2017-06-16 18:50
*/

.clearfix:after {
  content:"\0020";
  display:block;
  visibility:hidden;
  clear:both;
  height:0;
  overflow:hidden;
}
.has-trans {
  -webkit-transition:all .4s ease;
  -moz-transition:all .4s ease;
  -ms-transition:all .4s ease;
  -o-transition:all .4s ease;
  transition:all .4s ease;
}
body.bodyPG-new {
  background:#f4f4f4;
}
.bannerBG {
	position:fixed;
	_position:absolute;
	top:0;
	left:0;
	overflow:hidden;
	width:100%;
	min-width:960px;
}
.bannerBG img {
	display:block;
	width:100%;
	min-width:initial;
}

.bodyPG-new {
	font-family:helveticaLight,'HelveticaRegular',Helvetica,HelveticaNeue,'Droid Sans',Arial,Verdana,serif,'Heiti SC',Droidsansfallback,'Microsoft YaHei','微软雅黑';
	background:#fff;
}
.bodyPG-new #header-fixed,
.bodyPG-new #header-wrap {
	background:none;
}
.bodyPG-new #header-wrap {
	-webkit-transition:background .5s;
	-moz-transition:background .5s;
	-o-transition:background .5s;
	transition:background .5s
}
.bodyPG-new .fixed #header-wrap {
	background-color:rgba(0,0,0,.4);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#50000000', EndColorStr='#50000000');
}
.bodyPG-new #footer-wrap {
	background:#fff;
}
.bodyPG-new #menus a:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, .2)), to(rgba(0, 0, 0, 0)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
	background: -moz-linear-gradient(top, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
	background: -o-linear-gradient(top, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
	background: -ms-linear-gradient(top, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
	_background: none;
}
.pg-v2-page {
	position:relative;
	min-height:400px;
}

/* ========== First screen banner ========== */
#pg-v2-banner {
	padding:100px 0 200px;
}
.pg-new-logo {
  float:left;
  margin:0 30px 0 0;
  width:131px;
}
.pg-new-logo img {
  display:block;
}
.pg-new-title-dl {
  float:left;
  width:344px;
}
.pg-new-title-dl h1 {
  width:100%;
  height:131px;
  background:url(../images/pg/pg-new-logo-txt.png) no-repeat;
  text-indent:-9999px;
}
.pg-new-dl-btns {
  margin:30px 0 0;
}
.pg-new-dlbtn {
  display:block;
  width:165px;
  height:50px;
  border-radius:5px;
  overflow:hidden;
  text-indent:-9999px;
  color:transparent;
  background-repeat:no-repeat;
  background-image:url(../images/pg/pg-new-dl-btns.png);
  background-color:rgba(0,0,0,.7);
}
.pg-new-dlbtn:hover {
  background-color:#000;
}
.pg-new-dlbtn.googlePlay {
  float:left;
  background-position:0 0;
}
.pg-new-dlbtn.appStore {
  float:right;
  background-position:-179px 0;
}


/* ========== Second screen of spectacular, the previous community ========== */
#pg-community {
	padding:80px 0;
	text-align:center;
	background:#f4f4f4;
}
#pg-community h3 {
	font-size:36px;
	line-height:1.56;
}
#pg-community p {
	font-size:16px;
	line-height:1.33;
	color:#767676;
}
.community-list {
	width:620px;
	margin:40px auto 0;
}
.community-list li {
	position:relative;
	float:left;
	width:280px;
	height:400px;
	margin:0 15px;
}
.community-list li a {
	position:relative;
	display:block;
	overflow:hidden;
	width:280px;
	height:400px;
}
.community-list li a img {
	position:absolute;
	top:-28px;
	left:-20px;
	display:block;
	width:320px;
	height:457px;
	-webkit-transition: -webkit-transform .2s;
	-moz-transition: -moz-transform .2s;
	-moz-transition: transform .2s, -moz-transform .2s;
	-o-transition: -o-transform .2s;
	-o-transition: transform .2s, -o-transform .2s;
	transition: -webkit-transform .2s;
	transition: transform .2s;
	transition: transform .2s, -webkit-transform .2s, -moz-transform .2s, -o-transform .2s;
	-webkit-transform: scale(1) translateZ(0);
	-moz-transform: scale(1) translateZ(0);
	transform: scale(1) translateZ(0);
}
.community-list li a:hover img {
	-webkit-transform: scale(1) translateZ(0);
	-webkit-transform: scale(.875) translateZ(0);
	-webkit-transform: scale(.875) translateZ(0);
	-moz-transform: scale(1) translateZ(0);
	-moz-transform: scale(.875) translateZ(0);
	-moz-transform: scale(.875) translateZ(0);
	transform: scale(1) translateZ(0);
	-webkit-transform: scale(.875) translateZ(0);
	-moz-transform: scale(.875) translateZ(0);
	transform: scale(.875) translateZ(0);
}
.community-list li a span {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:40px 0 20px;
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
	opacity:0;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .8)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=transparent, endColorStr=#000000);
	filter: alpha(opacity=0);
}
.community-list li a:hover span {
	opacity:1;
	filter:alpha(opacity=100);
}
.community-list li a em {
	font-size:20px;
	display:block;
	padding-left: 36px;
	-webkit-transition: opacity .3s .2s, -webkit-transform .3s .2s;
	-moz-transition: opacity .3s .2s, -moz-transform .3s .2s;
	-moz-transition: opacity .3s .2s, transform .3s .2s, -moz-transform .3s .2s;
	-o-transition: opacity .3s .2s, -o-transform .3s .2s;
	-o-transition: opacity .3s .2s, transform .3s .2s, -o-transform .3s .2s;
	transition: opacity .3s .2s, -webkit-transform .3s .2s;
	transition: opacity .3s .2s, transform .3s .2s;
	transition: opacity .3s .2s, transform .3s .2s, -webkit-transform .3s .2s, -moz-transform .3s .2s, -o-transform .3s .2s;
	-webkit-transform: translate3d(0, 100%, 0);
	-moz-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	text-align: left;
	opacity: 0;
	color: #fff;
	-moz-opacity: .0;
	filter: alpha(opacity=0);
}
.community-list li a:hover em {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
	filter: alpha(opacity=100);
}
.community-list li s {
	position:absolute;
  display:block;
  text-indent:-9999px;
}
.community-list li s.pg-new-donut {
  margin-left:-82px;
  left:50%;
  top:-46px;
  width:154px;
  height:94px;
  background:url(../images/pg/pg-new-spec-donut.png) no-repeat;
}
.community-list li s.pg-new-flags {
  left:-20px;
  top:-10px;
  width:110px;
  height:76px;
  background:url(../images/pg/pg-new-spec-flags.png) no-repeat;
}
.community-list li s.pg-new-balloon {
  right:-50px;
  bottom:-20px;
  width:126px;
  height:145px;
  background:url(../images/pg/pg-new-spec-balloon.png) no-repeat;
}
.community-playvideo {
	margin-top:35px;
}
.pg-playvideo {
	font-size:18px;
	color:#387afb;
}
.pg-playico {
	display:inline-block;
	width:23px;
	height:23px;
	margin-left:7px;
	vertical-align:middle;
	background:url(../images/pg/pg-new-play.png) no-repeat;
	background-position:0 -50px;
}


/* ========== Third screen of 6 Popular Tools ========== */
#pg-popular-tools {
	position:relative;
  height:900px;
  overflow:hidden;
}
.tool-bg {
	width:100%;
	vertical-align:top;
}
.pg-tools {
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
	width:100%;
	height:100%;
	background:#253034;
}
.pg-one-tool {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:50% 50%;
}
.pg-one-tool.pg-tool-1 {
  background-image:url(../images/pg/pg-new-tools-bg-1.jpg);
}
.pg-one-tool.pg-tool-2 {
  background-image:url(../images/pg/pg-new-tools-bg-2.jpg);
}
.pg-one-tool.pg-tool-3 {
  background-image:url(../images/pg/pg-new-tools-bg-3.jpg);
}
.pg-one-tool.pg-tool-4 {
  background-image:url(../images/pg/pg-new-tools-bg-4.jpg);
}
.pg-one-tool.pg-tool-5 {
  background-image:url(../images/pg/pg-new-tools-bg-5.jpg);
}
.pg-one-tool.pg-tool-6 {
  background-image:url(../images/pg/pg-new-tools-bg-6.jpg);
}

.pg-tools-logo {
	position:absolute;
	top:6.67%;
	left:50%;
	overflow:hidden;
	width:188px;
	height:108px;
	margin:0 0 0 -480px;
	text-indent:-9999px;
	background:url(../images/pg/pg-new-tools.png) no-repeat center;
}
.tool-text {
	position:absolute;
	bottom:22.67%;
	left:50%;
	width:340px;
	margin:0 0 0 -480px;
	color:#fff;
}
.tool-text h3 {
	font-size:50px;
	line-height:1.25;
}
.tool-text h4 {
	font-size:24px;
	line-height:1.25;
	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	-o-animation-delay: .3s;
	animation-delay: .3s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.tool-text p {
	font-size: 16px;
	line-height: 1.25;
	margin-top: 15px;
	-webkit-animation-delay: .6s;
	-moz-animation-delay: .6s;
	-o-animation-delay: .6s;
	animation-delay: .6s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.tool-pic {
	position:absolute;
	top:50%;
	left:50%;
	width:343px;
	margin:-190px 0 0 -171px;
	-webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
	-moz-transform: translate3d(0, 0, 0) rotateZ(0deg);
	transform: translate3d(0, 0, 0) rotateZ(0deg);
}
.tool-pic.riding-bike {
  width:498px;
  margin:-260px 0 0;
  box-shadow:30px 30px 30px rgba(0,0,0,.4);
}

.tool-pic-rotate1 {
	-webkit-transform-origin: 23.45058626465662% 49.31972789115646%;
	-moz-transform-origin: 23.45058626465662% 49.31972789115646%;
	-ms-transform-origin: 23.45058626465662% 49.31972789115646%;
	-o-transform-origin: 23.45058626465662% 49.31972789115646%;
	transform-origin: 23.45058626465662% 49.31972789115646%;
	-webkit-animation: picRotate1 1s both;
	-moz-animation: picRotate1 1s both;
	-o-animation: picRotate1 1s both;
	animation: picRotate1 1s both
}
.tool-pic-rotate2 {
	-webkit-transform-origin: 74.37185929648241% 24.48979591836735%;
	-moz-transform-origin: 74.37185929648241% 24.48979591836735%;
	-ms-transform-origin: 74.37185929648241% 24.48979591836735%;
	-o-transform-origin: 74.37185929648241% 24.48979591836735%;
	transform-origin: 74.37185929648241% 24.48979591836735%;
	-webkit-animation: picRotate2 1s both;
	-moz-animation: picRotate2 1s both;
	-o-animation: picRotate2 1s both;
	animation: picRotate2 1s both
}
.tool-pic-rotate3 {
	-webkit-transform-origin: 74.37185929648241% 75.34013605442177%;
	-moz-transform-origin: 74.37185929648241% 75.34013605442177%;
	-ms-transform-origin: 74.37185929648241% 75.34013605442177%;
	-o-transform-origin: 74.37185929648241% 75.34013605442177%;
	transform-origin: 74.37185929648241% 75.34013605442177%;
	-webkit-animation: picRotate3 1s both;
	-moz-animation: picRotate3 1s both;
	-o-animation: picRotate3 1s both;
	animation: picRotate3 1s both
}

@-webkit-keyframes picRotate1 {
  0%{opacity:0;-webkit-transform:translate3d(-200%,100%,0) rotateZ(-720deg);}
	100%{opacity:1;-webkit-transform:translate3d(0,0,0) rotateZ(0deg);}
}
@-moz-keyframes picRotate1 {
  0%{opacity:0;-moz-transform:translate3d(-200%,100%,0) rotateZ(-720deg);}
	100%{opacity:1;-moz-transform:translate3d(0,0,0) rotateZ(0deg);}
}
@-ms-keyframes picRotate1 {
  0%{opacity:0;-ms-transform:translate3d(-200%,100%,0) rotateZ(-720deg);}
	100%{opacity:1;-ms-transform:translate3d(0,0,0) rotateZ(0deg);}
}
@-o-keyframes picRotate1 {
  0%{opacity:0;-o-transform:translate3d(-200%,100%,0) rotateZ(-720deg);}
	100%{opacity:1;-o-transform:translate3d(0,0,0) rotateZ(0deg);}
}
@keyframes picRotate1 {
  0%{opacity:0;transform:translate3d(-200%,100%,0) rotateZ(-720deg);}
	100%{opacity:1;transform:translate3d(0,0,0) rotateZ(0deg);}
}

@-webkit-keyframes picRotate2 {
	0%{opacity:0;-webkit-transform:translate3d(200%,-100%,0) rotateZ(-720deg);}
	100%{opacity:1;-webkit-transform:translate3d(0,0,0) rotateZ(0deg);}
}
@-moz-keyframes picRotate2 {
	0%{opacity:0;-moz-transform:translate3d(200%,-100%,0) rotateZ(-720deg);}
	100%{opacity:1;-moz-transform:translate3d(0,0,0) rotateZ(0deg);}
}
@-ms-keyframes picRotate2 {
	0%{opacity:0;-ms-transform:translate3d(200%,-100%,0) rotateZ(-720deg);}
	100%{opacity:1;-ms-transform:translate3d(0,0,0) rotateZ(0deg);}
}
@-o-keyframes picRotate2 {
	0%{opacity:0;-o-transform:translate3d(200%,-100%,0) rotateZ(-720deg);}
	100%{opacity:1;-o-transform:translate3d(0,0,0) rotateZ(0deg);}
}
@keyframes picRotate2 {
	0%{opacity:0;transform:translate3d(200%,-100%,0) rotateZ(-720deg);}
	100%{opacity:1;transform:translate3d(0,0,0) rotateZ(0deg);}
}

@-webkit-keyframes picRotate3 {
	0%{opacity:0;-webkit-transform:translate3d(200%,100%,0) rotateZ(720deg);}
	100%{opacity:1;-webkit-transform:translate3d(0,0,0) rotateZ(0deg);}
}
@-moz-keyframes picRotate3 {
	0%{opacity:0;-moz-transform:translate3d(200%,100%,0) rotateZ(720deg);}
	100%{opacity:1;-moz-transform:translate3d(0,0,0) rotateZ(0deg);}
}
@-ms-keyframes picRotate3 {
	0%{opacity:0;-ms-transform:translate3d(200%,100%,0) rotateZ(720deg);}
	100%{opacity:1;-ms-transform:translate3d(0,0,0) rotateZ(0deg);}
}
@-o-keyframes picRotate3 {
	0%{opacity:0;-o-transform:translate3d(200%,100%,0) rotateZ(720deg);}
	100%{opacity:1;-o-transform:translate3d(0,0,0) rotateZ(0deg);}
}
@keyframes picRotate3 {
	0%{opacity:0;transform:translate3d(200%,100%,0) rotateZ(720deg);}
	100%{opacity:1;transform:translate3d(0,0,0) rotateZ(0deg);}
}

.pg-tool-5 .tool-text.specific {
  left:100%;
}
.pg-tool-5 .tool-text.specific  h3,
.pg-tool-5 .tool-text.specific  h4,
.pg-tool-5 .tool-text.specific  p {
  color:#333;
}
.pg-tools-navbtns {
	position:absolute;
	bottom:55px;
	left:50%;
	margin-left:-307px;
  width:614px;
}
.pg-tools-navbtns li,
.pg-tools-navbtns li span,
.pg-tools-navbtns li s,
.pg-tools-navbtns li strong {
  background-repeat:no-repeat;
  background-image:url(../images/pg/pg-new-icons-1x.png);
  background-image:-webkit-image-set(
    url(../images/pg/pg-new-icons-1x.png) 1x,
    url(../images/pg/pg-new-icons-2x.png) 2x
  )
}
.pg-tools-navbtns li {
	position:relative;
	float:left;
	width:72px;
	height:72px;
	margin:0 15px;
	cursor:pointer;
}
.pg-tools-navbtns li span,
.pg-tools-navbtns li s,
.pg-tools-navbtns li strong {
	position:absolute;
	top:0;
	left:0;
	display:block;
	overflow:hidden;
	width:100%;
	height:100%;
	text-indent:-9999px;
}
.pg-tools-navbtns li s,
.pg-tools-navbtns li span {
	-webkit-transition:-webkit-transform .3s, opacity .3s;
	-webkit-transition:opacity .3s, -webkit-transform .3s;
	-moz-transition:-moz-transform .3s, opacity .3s;
	-moz-transition:transform .3s, opacity .3s, -moz-transform .3s;
	-o-transition:-o-transform .3s, opacity .3s;
	-o-transition:transform .3s, opacity .3s, -o-transform .3s;
	transition:opacity .3s, -webkit-transform .3s;
	transition:transform .3s, opacity .3s;
	transition:transform .3s, opacity .3s,-webkit-transform .3s,-moz-transform .3s,-o-transform .3s;
	-webkit-transform:scale(0) translate3d(0, 0, 0);
	-moz-transform:scale(0) translate3d(0, 0, 0);
	transform:scale(0) translate3d(0, 0, 0);
	opacity:0;
}
.pg-tools-navbtns li span {
	background-position:-80px 0;
}
.pg-tools-navbtns .active s,
.pg-tools-navbtns .active span {
	-webkit-transform:scale(1) translate3d(0,0,0);
	-moz-transform:scale(1) translate3d(0,0,0);
	transform:scale(1) translate3d(0,0,0);
	opacity:1;
}
.pg-tools-navbtns .active strong {
	-webkit-transform:scale(0) translate3d(0,0,0);
	-moz-transform:scale(0) translate3d(0,0,0);
	transform:scale(0) translate3d(0,0,0);
	opacity:0;
}

.pg-tools-navbtns li .switch-icon-1 {
	background-position:0 -80px;
}
.pg-tools-navbtns li .switch-icon-2 {
	background-position:-80px -80px;
}
.pg-tools-navbtns li .switch-icon-3 {
	background-position:-160px -80px;
}
.pg-tools-navbtns li .switch-icon-4 {
	background-position:-240px -80px;
}
.pg-tools-navbtns li .switch-icon-5 {
	background-position:-160px 0;
}
.pg-tools-navbtns li .switch-icon-6 {
	background-position:0 -240px;
}


/* ========== Fourth screen of Features ========== */
#pg-features {
	padding:90px 0 110px;
	background:#fff;
}
#pg-features h3 {
	font-size:36px;
	line-height:1.56;
	text-align:center;
}
#pg-features p {
	margin:0 auto;
	width:520px;
	font-size:16px;
	line-height:1.33;
	text-align:center;
	color:#767676;
}
.pg-flist {
	margin:0 auto;
	width:960px;
}
.pg-flist li {
	float:left;
	margin:50px 7px 0;
	width:226px;
	text-align:center;
}
.pg-ficon,
.pg-ficon span,
.pg-ficon strong {
  background-repeat:no-repeat;
  background-image:url(../images/pg/pg-new-icons-1x.png);
  background-image:-webkit-image-set(
    url(../images/pg/pg-new-icons-1x.png) 1x,
    url(../images/pg/pg-new-icons-2x.png) 2x
  )
}
.pg-ficon {
	position:relative;
	margin:0 auto;
	overflow:hidden;
	width:80px;
	height:80px;
  background-position:-320px 0;
}
.pg-ficon span,
.pg-ficon strong {
	display:block;
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
	width:100%;
	height:100%;
	text-indent:-9999px;
}
.pg-ficon span {
	-webkit-transition: -webkit-transform .3s, opacity .3s;
	-webkit-transition: opacity .3s, -webkit-transform .3s;
	-moz-transition: -moz-transform .3s, opacity .3s;
	-moz-transition: transform .3s, opacity .3s, -moz-transform .3s;
	-o-transition: -o-transform .3s, opacity .3s;
	-o-transition: transform .3s, opacity .3s, -o-transform .3s;
	transition: opacity .3s, -webkit-transform .3s;
	transition: transform .3s, opacity .3s;
	transition: transform .3s, opacity .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s;
	-webkit-transform: scale(0) translate3d(0, 0, 0);
	-moz-transform: scale(0) translate3d(0, 0, 0);
	transform: scale(0) translate3d(0, 0, 0);
	opacity:0;
	background-position:-400px 0;
}
.pg-flist .active span,
.pg-flist .pg-ficon:hover span {
	-webkit-transform:scale(1) translate3d(0, 0, 0);
	-moz-transform:scale(1) translate3d(0, 0, 0);
	transform:scale(1) translate3d(0, 0, 0);
	opacity:1;
}
.pg-ficon .ficon-1 {
	background-position:-320px -80px;
}
.pg-ficon .ficon-2 {
	background-position:-400px -80px;
}
.pg-ficon .ficon-3 {
	background-position:-480px -80px;
}
.pg-ficon .ficon-4 {
	background-position:-560px -80px;
}
.pg-ficon .ficon-5 {
	background-position:-640px -80px;
}
.pg-ficon .ficon-6 {
	background-position:-720px -80px;
}
.pg-ficon .ficon-7 {
	background-position:-800px -80px;
}
.pg-ficon .ficon-8 {
	background-position:-720px -240px;
}

.pg-flist .active .ficon-1, .pg-flist .pg-ficon:hover .ficon-1 {
	background-position:-320px -160px;
}
.pg-flist .active .ficon-2, .pg-flist .pg-ficon:hover .ficon-2 {
	background-position:-400px -160px;
}
.pg-flist .active .ficon-3, .pg-flist .pg-ficon:hover .ficon-3 {
	background-position:-480px -160px;
}
.pg-flist .active .ficon-4, .pg-flist .pg-ficon:hover .ficon-4 {
	background-position:-560px -160px;
}
.pg-flist .active .ficon-5, .pg-flist .pg-ficon:hover .ficon-5 {
	background-position:-640px -160px;
}
.pg-flist .active .ficon-6, .pg-flist .pg-ficon:hover .ficon-6 {
	background-position:-720px -160px;
}
.pg-flist .active .ficon-7, .pg-flist .pg-ficon:hover .ficon-7 {
	background-position:-800px -160px;
}
.pg-flist .active .ficon-8, .pg-flist .pg-ficon:hover .ficon-8 {
	background-position:-800px -240px;
}
.pg-ftitle {
	display:block;
	font-size:26px;
	line-height:2em;
	text-align:center;
	color:#767676;
}
.pg-fdesc {
	display:block;
	font-size:16px;
	line-height:1.2em;
	text-align:center;
	color:#767676;
}


/* ========== Fifth screen of Creative Community ========== */
#pg-creative {
	position:relative;
	overflow:hidden;
	height:778px;
  background:#eff2f4;
}
.creative-title {
	position:absolute;
	top:12.85347043701799%;
	top:7%;
	left:0;
	width:100%;
	text-align:center;
}
.creative-title h3 {
	font-size:36px;
	line-height:1.56em;
	text-align:center;
}
.creative-title p {
	font-size:16px;
	line-height:1.3em;
	text-align:center;
	color:#767676;
}
.pg-cbox {
	margin:0 0 0 -150px;
	position:absolute;
	top:29.56298200514139%;
	left:50%;
	width:427px;
	width:300px;
}
.pg-cbox img {
	width:100%;
}
.pg-cimg {
	position:absolute;
	top:0;
	left:0;
}

.pg-citem {
	position:absolute;
	color:#767676;
}
.pg-cicon,
.pg-cicon span {
  background-repeat:no-repeat;
  background-image:url(../images/pg/pg-new-icons-1x.png);
  background-image:-webkit-image-set(
    url(../images/pg/pg-new-icons-1x.png) 1x,
    url(../images/pg/pg-new-icons-2x.png) 2x
  )
}
.pg-cicon {
	position:absolute;
	width:60px;
	height:60px;
  background-position:-880px 0;
}
.pg-cicon span {
	display:block;
	width:100%;
	height:100%;
}
.pg-cicon1 {
	top:24.23529411764706%;
	left:-3.51288056206089%;
}
.pg-cicon1 span {
	background-position:-880px -80px;
}
.pg-cicon2 {
	top:7.52941176470588%;
	left:76.11241217798595%;
}
.pg-cicon2 span {
	background-position:-960px -80px;
}
.pg-cicon3 {
	top:82.11764705882353%;
	left:13.34894613583138%;
}
.pg-cicon3 span {
	background-position:-1040px -80px;
}
.pg-cicon4 {
	top:62.29508196721311%;
	left:88.47058823529412%;
}
.pg-cicon4 span {
	background-position:-1120px -80px;
}
.pg-citem h4 {
	font-size:36px;
	font-weight:lighter;
	line-height:1.2em;
  color:#387afb;
}
.pg-citem p {
	font-size:16px;
	font-weight:lighter;
	line-height:1.3em;
}
.pg-citem1 {
	top:18.82352941176471%;
	left:-335px;
	width:280px;
  text-align:right;
}
.pg-citem2 {
	top:2.82352941176471%;
	left:100%;
	width:280px;
	margin-left:25px;
}
.pg-citem3 {
	top:76.70588235294118%;
	left:-300px;
	width:300px;
	text-align:right;
}
.pg-citem4 {
	top:60%;
	left:100%;
	margin-left:50px;
	width:280px;
}



/* ========== Sixth screen of Join ========== */
#pg-joins {
	background:#fff;
}
#pg-joins .pg-new-middle {
	width:960px;
	margin:0 auto;
	padding:116px 0 70px;
}
.pg-join-info {
	float:right;
	width:480px;
	margin:70px 0 0 70px;
}
.pg-join-logo {
  display:block;
  margin:0 0 20px;
}
.pg-join-text {
	font-size:18px;
	line-height:1.25em;
}
.pg-join-btn {
  margin:50px 0 0;
  width:345px;
}
.pg-new-slides {
  position:relative;
	float:left;
	padding:70px 0 0 17px;
  width:269px;
	background:url(../images/pg/pg-new-phone-bg.png) no-repeat;
}
.pg-new-slidelogo {
  position:absolute;
  right:-50px;
  bottom:0px;
  z-index:3;
}

#pg-v2-slide {
	position:relative;
	overflow:hidden;
	width:249px;
	height:386px;
}
#pg-v2-slide img {
	position:absolute;
  z-index:2;
	top:0;
	left:0;
	width:100%;
}


/* ========== Fixed tools for share ========== */
.pg-v2-sharebox {
	position:fixed;
	z-index:999;
	top:140px;
	right:23px;
	width:24px;
	text-align:right;
}
.pg-v2-sharebox a {
	float:right;
	margin:0 0 6px;
	padding:10px;
	font-size:16px;
	line-height:24px;
	height:24px;
	color:#fff;
	border-radius:6px;
	background:rgba(0,0,0,.5);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#88000000', EndColorStr='#88000000')
}
.pg-v2-sharebox a span {
	display:block;
	padding:0 0 0 24px;
	width:0;
	height:24px;
	line-height: 24px;
	overflow:hidden;
	text-align:left;
	white-space:nowrap;
	background:url(/images/v3/pg-v2-share.png) no-repeat;
}

.pg-v2-sharebox a:hover span {
	padding:0 0 0 34px;
	width:70px;
}
.pg-v2-sharebox a.pg-v2-fb span {
	background-position:0 0;
}
.pg-v2-sharebox a.pg-v2-ins span {
	background-position:0 -23px;
}
.pg-v2-sharebox a.pg-v2-gp span {
	background-position:0 -47px;
}



/* ========== Responsive Styles ========== */
/* ========== 宽高大屏 ========== */
@media (min-width:1300px) {
	#pg-v2-banner {
		padding:200px 0 320px;
	}
	.pg-tool-1 .tool-pic {
		width:597px;
		margin:-344px 0 0 -298px;
	}
	.pg-tools-logo,
  .tool-text {
		margin:0 0 0 -570px;
	}
	.pg-flist {
		width:1128px;
	}
	.pg-flist li {
		margin:50px 15px 0;
		width:252px;
	}
	.creative-title {
		top:12.85347043701799%;
	}
	.pg-cbox {
		top:29.56298200514139%;
		margin-left:-213px;
		width:427px;
	}
}


/* ===== 中屏 ===== */
@media (max-width:800px) {
	.bannerBG img {
		min-height:initial;
	}
	#pg-v2-banner {
		padding:100px 20px 150px;
	}
  .pg-new-dl-btns {
    margin:10px 0 0;
  }
	.pg-tools-navbtns {
		bottom:20px;
    margin-left:-277px;
    width:554px;
	}
	.pg-tools-navbtns li {
		margin:0 10px;
	}
	.pg-tools-logo {
		margin-left:-250px;
	}
	.tool-text {
		bottom:20%;
		margin-left:-250px;
	}
	.tool-text h3 {
		font-size:36px;
	}
	.tool-text h4 {
		font-size:18px;
	}
	.tool-text p {
		font-size:14px;
	}
	.pg-tools-logo {
		width:141px;
		height:81px;
		background-size:contain;
	}
  .pg-tool-5 .tool-text.specific {
    left:76%;
  }
  .tool-pic.riding-bike {
    width:298px;
    margin:-160px 0 0;
  }
	.pg-flist {
		width:100%;
	}
	.pg-flist li {
		margin:0;
		padding:20px 7px 10px;
		box-sizing:border-box;
		width:25%;
    height:245px;
	}
  #pg-creative {
    height:600px;
  }
	.pg-cbox {
		width:225px;
		margin-left:-112px;
	}
  .pg-cicon1 {
    left:-10.512881%;
  }
	.pg-citem {
		width:195px;
	}
	.pg-citem h4 {
		font-size:27px;
	}
	.pg-citem p {
		font-size:14px;
	}
	.pg-citem1 {
		top:18.82352941176471%;
		left:-225px;
	}
	.pg-citem2 {
		top:2.82352941176471%;
		left:100%;
	}
	.pg-citem3 {
		top:79.705882%;
		left:-180px;
	}
  .pg-cicon4 {
    left:81.470588%;
  }
	.pg-citem4 {
		top:58.35294117647059%;
		left:92%;
	}

	#pg-joins {
		padding:75px 0 52px;
	}
	#pg-joins .pg-new-middle {
		padding:0;
		width:100%;
	}
	.pg-join-info {
		float:none;
		margin:0 auto;
	}
  .pg-join-logo, .pg-join-text {
    margin:0 auto 20px;
    width:282px;
    text-align:center;
  }
  .pg-join-btn  {
    margin:20px auto 0;
    width:340px;
  }
	.pg-new-slides {
		margin:50px auto 0;
		float:none;
	}
}



/* ===== 小屏 ===== */
@media (max-width:540px) {
	.mobileModel #container-wrap,
  .mobileModel #container-wrap .section {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		padding-bottom:0;
	}
  .bannerBG {
    background:url(../images/pg/pg-new-mobile-banner.jpg) no-repeat center;
    background-size:cover;
    min-height:750px;
    min-width:100%;
    width:100%;
  }
  #pg-v2-banner {
    padding:100px 0px 0px;
    min-height:750px;
    box-sizing:border-box;
  }
  .pg-new-dl-btns {
    margin:20px 0 0;
  }
	.mobileModel #footer-wrap,
  .bannerBG img,
  .pg-new-logo img,
  .pg-ficon {
		display:none;
	}
  .pg-new-title-dl {
    float:none;
    margin:0 auto;
    width:344px;
  }

	.pg-playico {
		width:12px;
		height:12px;
		background-size:12px;
	}
  #pg-community {
    padding:30px 0;
  }
	#pg-community h3 {
		margin:0px auto;
		font-size:26px;
    line-height:1.2em;
		text-align:center;
	}
	#pg-community p {
		margin:20px auto;
    width:60%;
		font-size:14px;
		text-align:center;
	}
	.community-list {
		margin:30px auto 0;
		width:100%;
		max-width:320px;
	}
	.community-list li {
		overflow:hidden;
		box-sizing:border-box;
		width:50%;
		height:auto;
		margin:0 auto;
		padding:1px 6px;
	}
	.community-list li i {
		top:0;
		right:9px;
		width:45px;
		height:45px;
		background-position:right top;
		background-size:contain;
	}
	.community-list li a {
		width:auto;
		height:auto;
	}
	.community-list li a img {
		position:static;
		width:100%;
		height:auto;
		-webkit-transform: scale(1.2) translateZ(0);
		-moz-transform: scale(1.2) translateZ(0);
		transform: scale(1.2) translateZ(0)
	}
	.community-list li a:hover img {
		-webkit-transform: scale(1) translateZ(0);
		-moz-transform: scale(1) translateZ(0);
		transform: scale(1) translateZ(0)
	}
	.community-list li a em {
		font-size:12px;
		padding-left:10px;
	}
	.community-playvideo .pg-playvideo {
		font-size:12px;
	}
	.community-playvideo .pg-playico {
		background-position:0 -26px;
	}
	.mobileModel .pg-new-middle {
		position:absolute;
		top:48%;
		left:50%;
		width:79.6875%;
		-webkit-transform: translate3d(-50%, -50%, 0);
		-moz-transform: translate3d(-50%, -50%, 0);
		transform: translate3d(-50%, -50%, 0)
	}
  #pg-popular-tools {
    height:500px;
  }
	.pg-tools-logo {
    top:12.67%;
		width:94px;
		height:54px;
		margin-left:-180px;
	}
	.pg-tools-navbtns {
    margin-left:-247px;
    width:494px;
		bottom:10px;
	}
	.pg-tools-navbtns li {
		margin:0 5px;
	}
	.tool-text {
		bottom:120px;
		left:50%;
		margin:0 0 0 -145px;
		width:290px;
	}
	.tool-text h3 {
		font-size:24px;
	}
	.tool-text h4 {
		font-size:14px;
	}
	.tool-text p {
		margin-top:10px;
	}
	.pg-tool-1 .tool-pic {
		margin:-190px 0 0 -145px;
		width:290px;
	}
  .pg-tool-5 .tool-text.specific {
    left:50%;
  }
  .tool-pic.riding-bike {
    margin:0;
    top:158px;
    left:50%;
    margin-left:-110px;
    width:220px;
  }
  /* Make icons of Tool Nav be half on mobiles: */
  .pg-tools-navbtns {
    margin-left:-170px;
    width:340px;
  }
  .pg-tools-navbtns li {
    width:36px;
    height:36px;
    margin:0 10px;
  }
  .pg-tools-navbtns li,
  .pg-tools-navbtns li span,
  .pg-tools-navbtns li s,
  .pg-tools-navbtns li strong {
    background-image:url(../images/pg/pg-new-icons-half.png);
    background-image:-webkit-image-set(
      url(../images/pg/pg-new-icons-half.png) 1x,
      url(../images/pg/pg-new-icons-1x.png) 2x
    )
  }
  .pg-tools-navbtns li span {
    background-position:-40px 0;
  }
  .pg-tools-navbtns li .switch-icon-1 {
    background-position:0 -40px;
  }
  .pg-tools-navbtns li .switch-icon-2 {
    background-position:-40px -40px;
  }
  .pg-tools-navbtns li .switch-icon-3 {
    background-position:-80px -40px;
  }
  .pg-tools-navbtns li .switch-icon-4 {
    background-position:-120px -40px;
  }
  .pg-tools-navbtns li .switch-icon-5 {
    background-position:-80px 0;
  }
  .pg-tools-navbtns li .switch-icon-6 {
    background-position:0 -120px;
  }

	#pg-features {
    padding:20px 0;
	}
	#pg-features h3 {
		margin:0px auto;
		font-size:26px;
    line-height:1.2em;
		text-align:center;
	}
	#pg-features p {
		margin:10px auto;
    width:100%;
		font-size:14px;
		text-align:center;
	}
	.pg-flist {
    margin:10px auto 0;
	}
  .pg-flist li {
    float:none;
    padding:0px 0px 5px;
    width:100%;
    height:auto;
  }
	.pg-ftitle {
		font-size:16px;
    text-align:left;
    color:#387afb;
	}
	.pg-fdesc {
		font-size:12px;
    text-align:left;
	}
  #pg-creative {
    padding:30px 0;
    height:auto;
  }
	.creative-title h3 {
		margin:0px auto;
		font-size:26px;
		text-align:center;
	}
	.creative-title p {
		margin:20px auto;
    width:60%;
		font-size:14px;
		text-align:center;
	}
	.creative-title {
		position:relative;
	}
	.pg-cbox {
		position:static;
		margin:10px auto 0;
		top:auto;
		left:auto;
		width:100%;
	}
	.pg-imgwrap {
    display:none;
		position:relative;
		margin:0 auto;
		width:250px;
	}
	.pg-cbox img {
		vertical-align:top;
	}
	.pg-clist {
		width:100%;
	}
	.pg-clist {
		position:relative;
	}
	.pg-clist li {
		margin:30px 20px;
	}
	.pg-clist li:after {
		display:block;
		clear:both;
		overflow:hidden;
		width:100%;
		height:0;
		content:'';
	}
	.pg-cicon {
    display:none;
		margin:0 10px 0 0;
		position:relative;
		top:auto;
		left:auto;
		float:left;
	}
	.pg-citem {
		position:static;
		margin:0;
		overflow:hidden;
		width:auto;
	}
  .pg-citem1,
  .pg-citem2,
  .pg-citem3,
  .pg-citem4 {
    left:0;
    top:0;
    right:0;
    bottom:0;
    text-align:left;
  }
	.pg-citem h4 {
    margin:0 0 10px 0;
		font-size:18px;
	}
	.pg-citem p {
		font-size:12px;
	}
  
  #pg-joins  {
    padding:30px 0;
  }
	.pg-join-info {
		float:none;
		margin:0 auto 20px;
		padding:20px 0 0;
		width:90%;
	}
	.pg-join-text {
		padding:15px 0 0 0;
		width:auto;
		font-size:16px;
	}
  .pg-join-btn  {
    margin:20px auto 50px;
  }
	#pg-joins .pg-new-middle {
		max-height:100%;
	}
	.pg-new-slides {
		margin:10px auto;
		padding:54px 15px 0 14px;
		width:200px;
		height:310px;
		background-size:100% auto;
	}
	#pg-v2-slide {
		width:200px;
		height:310px;
	}
	.pg-v2-sharebox {
		display:none;
	}
}
