/*
  CSS of pegasi
  Author: Alex
  Date: 2016-09-28 17:44
*/

/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:'';content:none; }
ins, a, s, a:hover { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }
.section:after, ul.nav:after { content:".";display:block;height:0;clear:both;visibility:hidden; }
.clearfix:after { content:"\0020";display:block;visibility:hidden;clear:both;height:0;overflow:hidden; }

/* Fonts */
@font-face {
	font-family: 'HelveticaBold';
	src: url('../images/fonts/helveticabold.eot');
	src: url('../images/fonts/helveticabold.eot') format('embedded-opentype'), url('../images/fonts/helveticabold.woff') format('woff'), url('../images/fonts/helveticabold.ttf') format('truetype'), url('../images/fonts/helveticabold.svg#HelveticaBold') format('svg')
}
@font-face {
	font-family: 'HelveticaRegular';
	src: url('../images/fonts/helvetica.eot');
	src: url('../images/fonts/helvetica.eot') format('embedded-opentype'), url('../images/fonts/helvetica.woff') format('woff'), url('../images/fonts/helvetica.ttf') format('truetype'), url('../images/fonts/helvetica.svg#HelveticaRegular') format('svg')
}
@font-face {
	font-family: 'helveticaLight';
	src: url('../images/fonts/helveticaneue-light.eot');
	src: url('../images/fonts/helveticaneue-light.eot?#iefix') format('embedded-opentype'), url('../images/fonts/helveticalight.woff') format('woff'), url('../images/fonts/helveticalight.woff') format('woff'), url('../images/fonts/HelveticaLight.ttf') format('truetype'), url('../images/fonts/helveticaneue-light.svg#HelveticaLight') format('svg')
}
@font-face {
	font-family: 'Gotham-Book';
	src: url('../images/fonts/Gotham-Book.eot');
	src: url('../images/fonts/Gotham-Book.eot') format('embedded-opentype'), url('../images/fonts/Gotham-Book.woff') format('woff'), url('../images/fonts/Gotham-Book.ttf') format('truetype'), url('../images/fonts/Gotham-Book.svg#Gotham-Book') format('svg')
}
@font-face {
	font-family: 'Gotham-Book';
	font-weight: bold;
	src: url('../images/fonts/Gotham-Bold.eot');
	src: url('../images/fonts/Gotham-Bold.eot') format('embedded-opentype'), url('../images/fonts/Gotham-Bold.woff') format('woff'), url('../images/fonts/Gotham-Bold.ttf') format('truetype'), url('../images/fonts/Gotham-Bold.svg#Gotham-Bold') format('svg')
}

/* Global styles */
.bodyPegasi {
	font-family: helveticaLight, 'HelveticaRegular', Helvetica, HelveticaNeue, 'Droid Sans', Arial, Verdana, serif, 'Heiti SC', Droidsansfallback, 'Microsoft YaHei', '微软雅黑';
}
.peg-wrapper {
  width:100%;
}
.peg-sec {
  width:100%;
  overflow:hidden;
}
.peg-sec h1, .peg-sec h2 {
  text-align:center;
  font-weight:normal;
}
.peg-sec h1 {
	font-family: 'HelveticaBold';
  font-size:40px;
}
.peg-sec h2 {
  margin:35px 0 60px;
	font-family: 'helveticaLight';
  font-size:18px;
}
.peg-sec p {
  font-size:14px;
  line-height:24px;
}
/* Container and container-wider should be responsive to various devices */
.peg-container {
  margin:0 auto;
  width:1000px;
}
.peg-container-wider {
  margin:0 auto;
  width:1200px;
}
.peg-global-transition {
  -webkit-transition:all .3s ease;
  -moz-transition:all .3s ease;
  -ms-transition:all .3s ease;
  -o-transition:all .3s ease;
  transition:all .3s ease;
}
/* Triplicate items are in container, each of which has 1/3 of container width */
.peg-triplicate-item {
  float:left;
  width:33%;
}
.peg-triplicate-item.right {
  float:right;
}
/* Every icon with this classname is using sprites */
.peg-has-sprites {
  display:block;
  background-image:url(../images/peg-icons-gathering2.png);
  background-repeat:no-repeat;
  overflow:hidden;
}

/* Specific styles */
/* Billboard */
.peg-billboard {
  position:relative;
  height:750px;
  background:url(../images/peg-top-bg.jpg) 50% 0 no-repeat #193344;
  background-size:cover;
}
.peg-topmenu {
  position:fixed;
  z-index:100;
  top:0;
  left:0;
  padding-top:10px;
  width:100%;
  height:50px;
  background:rgba(4, 23, 40, .4);
  background:rgb(4, 23, 40)\0; /* IE8 Hack */
  *background:rgb(4, 23, 40); /* IE7 Hack */
  border-bottom:1px solid #364c5c;
}
.peg-top-inner {
  margin:0 auto;
  width:80%;
  height:100%;
  overflow:hidden;
}
.peg-logo {
  float:left;
  width:116px;
  height:40px;
  text-indent:-9999px;
}
.peg-logarea {
  float:right;
  margin:8px 0 0;
  width:210px;
}
.peg-login-btn, .peg-signup-btn {
  display:block;
  width:96px;
  height:30px;
  border:1px solid #fff;
  border-radius:4px;
  text-align:center;
  line-height:30px;
  font-size:14px;
  color:#fff;
  background:transparent;
}
.peg-login-btn:hover, .peg-signup-btn:hover {
  color:#273a49;
  background:#fff;
}
.peg-login-btn {
  float:left;
}
.peg-signup-btn {
  float:right;
}
.peg-boardmain {
  padding-top:264px;
}
.peg-sec h1.peg-maintitle {
  font-size:48px;
  color:#fff;
}
.peg-sec h2.peg-mainintro {
  margin:30px 0 0;
  font-size:20px;
  color:#fff;
}
.peg-contact-btn {
  margin:60px auto 0;
  display:block;
  width:164px;
  height:50px;
  line-height:50px;
  text-align:center;
  font-size:18px;
  border-radius:4px;
  cursor:pointer;
  background:#00a7ff;
  color:#fff;
}
.peg-contact-btn:hover {
  background:#fff;
  color:#00a7ff;
}
.peg-arrowdown {
  margin:170px auto 0;
  display:block;
  width:30px;
  height:30px;
  cursor:pointer;
  text-indent:-9999px;
  background-position:0 -50px;
}
.peg-arrowdown:hover {
  margin:164px auto 0;
}


/* FourTags */
.peg-fourtag {
  padding-top:30px;
  height:410px;
  background:#fff;
}
.peg-tag-item {
  margin:60px 0 0;
  width:420px;
  height:100px;
}
.peg-tag-item.left {
  float:left;
}
.peg-tag-item.right {
  float:right;
}
.peg-tag-text {
  float:left;
  padding:10px 0 0 20px;
  width:290px;
  color:#333;
}
.peg-tag-icon {
  display:block;
  float:left;
  width:100px;
  height:100px;
  -webkit-transition: transform .4s ease-in-out;
  -moz-transition: transform .4s ease-in-out;
  -ms-transition: transform .4s ease-in-out;
  -o-transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
}
.peg-tag-ad {
  background-position:0 -100px;
}
.peg-tag-tablet {
  background-position:-200px -100px;
}
.peg-tag-graph {
  background-position:-100px -100px;
}
.peg-tag-earth {
  background-position:-300px -100px;
}


/* Stream Service */
.peg-stream {
  padding-top:160px;
  height:460px;
  background:url(../images/peg-stream-service-bg2.jpg) 50% 0 no-repeat #f1f3f4;
}
.peg-stream-title, .peg-stream-intro {
  color:#333;
}
.peg-stream-intro {
  clear:both;
}
.peg-stream-item.left .peg-stream-item-text {
  padding:20px 16px 0 0;
}
.peg-stream-item.mid .peg-stream-item-text {
  padding:20px 8px 0;
}
.peg-stream-item.right .peg-stream-item-text {
  padding:20px 0 0 16px;
}
.peg-stream-item-title {
  position:relative;
  padding-left:45px;
  font-size:18px;
  color:#333;
  line-height:30px;
  font-weight:normal;
}
.peg-stream-item-title s {
  position:absolute;
  left:0;
  top:0;
  width:30px;
  height:30px;
}
.peg-stream-item.mid .peg-stream-item-title {
  padding-left:53px; /* 45+8 */
}
.peg-stream-item.mid .peg-stream-item-title s {
  left:8px;
}
.peg-stream-item.right .peg-stream-item-title {
  padding-left:61px; /* 45+16 */
}
.peg-stream-item.right .peg-stream-item-title s {
  left:16px;
}
.global-coverage s {
  background-position:0 -250px;
}
.rich-content s {
  background-position:-100px -250px;
}
.full-copyright s {
  background-position:-200px -250px;
}


/* Search Kit */
.peg-searchkit {
  padding-top:160px;
  height:500px;
  background:url(../images/peg-search-kit-bg.jpg) 50% 0 no-repeat #626467;
  background-size:cover;
}
.peg-searchkit-title, .peg-searchkit-intro {
  color:#fff;
}
.peg-searchkit-intro {
  clear:both;
}
.peg-sk-icon {
  margin:0 auto;
  width:95px;
  height:95px;
  -webkit-transition: transform .4s ease-in-out;
  -moz-transition: transform .4s ease-in-out;
  -ms-transition: transform .4s ease-in-out;
  -o-transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
}
.peg-sk-icon.keyword {
  background-position:0 -300px;
}
.peg-sk-icon.team {
  background-position:-100px -300px;
}
.peg-sk-icon.wide {
  background-position:-200px -300px;
}
.peg-sk-item-title {
  margin:30px 0 0;
  font-size:18px;
  color:#fff;
  text-align:center;
  font-weight:normal;
}
.peg-sk-item-text {
  margin:10px 0 0;
  padding:10px 15px 0;
  text-align:center;
  color:#e5e5e5;
}


/* Monetization Service */
.peg-monetization {
  padding-top:160px;
  height:430px;
  background:url(../images/peg-monetization-bg.jpg) 50% 0 no-repeat #fff;
  background-size:cover;
}
.peg-monetization-title, .peg-monetization-intro {
  color:#333;
}
.peg-monetization-intro {
  clear:both;
}
.peg-mone-item {
  float:left;
  margin:0 0 20px;
  width:50%;
  height:30px;
}
.peg-mone-icon {
  float:left;
  margin:0 10px 0 80px;
  width:30px;
  height:30px;
}
.peg-mone-icon.connect {
  background-position:0 -400px;
}
.peg-mone-icon.excellent {
  background-position:-200px -400px;
}
.peg-mone-icon.customize {
  background-position:-100px -400px;
}
.peg-mone-icon.dedicate {
  background-position:-300px -400px;
}
.peg-mone-item-title {
  font-size:14px;
  color:#333;
  line-height:30px;
  font-weight:normal;
}

/* Icons to whirl */
.peg-stream-item-title s, .peg-mone-icon {
  -webkit-transition:transform .5s ease-out;
  -moz-transition:transform .5s ease-out;
  -ms-transition:transform .5s ease-out;
  -o-transition:transform .5s ease-out;
  transition:transform .5s ease-out;
}
.peg-stream-item-title s.whirl, .peg-mone-icon.whirl {
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  transform:rotateY(180deg);
}


/* Reputable Companies */
.peg-workwith {
  padding-top:80px;
  height:220px;
  background:#f6f6f6;
}
.peg-workwith h1.peg-workwith-title {
  margin-bottom:20px;
	font-family: 'helveticaLight';
  font-size:24px;
  color:#333;
  clear:both;
}
.peg-work-partner {
  display:block;
  float:left;
  margin:20px 0 0;
  width:120px;
  height:84px;
  overflow:hidden;
  text-indent:-9999px;
  background:url(../images/peg-partner-icons-grey.png) no-repeat;
  -webkit-transform: scale(0.95, 0.95); 
  -moz-transform: scale(0.95, 0.95); 
  -ms-transform: scale(0.95, 0.95); 
  -o-transform: scale(0.95, 0.95); 
  transform: scale(0.95, 0.95); 
  -webkit-transition:transform .3s ease, background .3s ease;
  -moz-transition:transform .3s ease, background .3s ease;
  -ms-transition:transform .3s ease, background .3s ease;
  -o-transition:transform .3s ease, background .3s ease;
  transition:transform .3s ease, background .3s ease;
}
.peg-work-partner.colored {
  background:url(../images/peg-partner-icons-color.png) no-repeat;
  -webkit-transform: scale(1, 1); 
  -moz-transform: scale(1, 1); 
  -ms-transform: scale(1, 1); 
  -o-transform: scale(1, 1); 
  transform: scale(1, 1); 
}
.peg-work-partner.palco-mp3 {
  background-position:0 0;
}
.peg-work-partner.clean-master {
  background-position:-120px 0;
}
.peg-work-partner.solo-launcher {
  background-position:-240px 0;
}
.peg-work-partner.kika-keyboard {
  background-position:-360px 0;
}
.peg-work-partner.hola-launcher {
  background-position:-480px 0;
}
.peg-work-partner.du-speed {
  background-position:-600px 0;
}
.peg-work-partner.du-battery {
  background-position:-720px 0;
}
.peg-work-partner.news-republic {
  background-position:-840px 0;
}
.peg-work-partner.hotspot-shield {
  background-position:-960px 0;
}
.peg-work-partner.touchpal-x {
  background-position:-1080px 0;
}


/* Footer of pegasi */
.peg-footer {
  height:44px;
  background:#d2d3d4;
  text-align:center;
  font-size:12px;
  color:#666;
  line-height:44px;
}
.peg-footer-copyright {
  padding-right:20px;
}


/* ===== Responsive ===== */
@media (min-width: 768px) and (max-width: 999px) {
  .peg-container-wider {
    width: 620px; /* Only for peg partner icons */
  }
  .peg-workwith {
    height:auto;
    padding-bottom:50px;
  }
  .peg-container {
    width:768px;
  }
  .peg-sec h2 {
    margin:35px 20px 60px;
    line-height:1.4em;
  }
  .peg-top-inner {
    width:90%;
  }
  .peg-tag-item {
    width:380px;
  }
  .peg-tag-text {
    padding:10px 0 0 10px;
    width:260px;
  }
  .peg-mone-item {
    margin:0 0 16px;
  }
  .peg-mone-icon {
    margin:0 10px 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .peg-sec h1.peg-maintitle {
    font-size:1.8rem;
  }
  .peg-sec h1 {
    font-size:1.5rem;
  }
  .peg-sec h2, .peg-sec h2.peg-mainintro {
    margin:30px 0 50px;
    font-size:1rem;
  }
  .peg-sec p {
    font-size:1rem;
    line-height:1.4rem;
  }
  .peg-sec h2 {
    margin:35px 20px 60px;
    line-height:1.4em;
  }
  .peg-container-wider {
    width: 262px; /* Only for peg partner icons */
  }
  .peg-boardmain {
    padding-top:204px;
  }
  .peg-container {
    width:90%;
  }
  .peg-stream, .peg-searchkit, .peg-monetization, .peg-workwith, .peg-fourtag {
    padding-top:60px;
    height:auto;
    padding-bottom:70px;
  }
  .peg-top-inner {
    width:90%;
  }
  .peg-logarea {
    width:150px;
  }
  .peg-login-btn, .peg-signup-btn {
    width:70px;
    height:28px;
    border-radius:4px;
    line-height:28px;
    font-size:0.9rem;
  }
  .peg-tag-item {
    margin:30px auto 0;
    width:100%;
    height:auto;
  }
  .peg-tag-item.left {
    float:none;
  }
  .peg-tag-item.right {
    float:none;
  }
  .peg-tag-text {
    padding:20px 0;
    text-align:center;
    width:100%;
  }
  .peg-tag-icon {
    float:none;
    margin:0 auto;
    width:100px;
    height:100px;
  }
  .peg-triplicate-item {
    float:none;
    width:90%;
    margin:0 auto 30px;
  }
  .peg-triplicate-item.right {
    float:none;
  }
  .peg-stream-item.left .peg-stream-item-text,
  .peg-stream-item.mid .peg-stream-item-text,
  .peg-stream-item.right .peg-stream-item-text {
    padding:10px 20px 0;
    text-align:center;
  }
  .peg-stream-item.left .peg-stream-item-title,
  .peg-stream-item.mid .peg-stream-item-title,
  .peg-stream-item.right .peg-stream-item-title {
    padding-left:0px;
    padding-top:35px;
    text-align:center;
  }
  .peg-stream-item.left .peg-stream-item-title s,
  .peg-stream-item.mid .peg-stream-item-title s,
  .peg-stream-item.right .peg-stream-item-title s {
    left:50%;
    top:0;
    margin-left:-15px;
  }
  .peg-mone-icon {
    margin:0 10px;
  }
  .peg-mone-item {
    margin:0 auto 30px;
    float:none;
    width:100%;
  }
  .peg-work-partner {
    margin:10px 5px;
  }
  .peg-workwith h1.peg-workwith-title {
    font-size:1.5rem;
    line-height:1.5em;
  }
  .peg-footer {
    font-size:0.8rem;
  }

}

