/*!
 * CNVPN.CMCM.COM
 * 
 * @author: liyang <liyang5@cmcm.com>
 * @date: 2016-05-09 17:44:03
 */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1;
}

ol,ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:after,blockquote:before,q:after,q:before {
    content: '';
    content: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

button,input,select,textarea {
    font-family: Gotham-Book,Helvetica,Verdana,Arial,'Microsoft YaHei';
    font-size: inherit;
    font-weight: inherit;
    overflow: visible;
    width: auto;
    *font-size: 100%;
}

legend {
    color: #000;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

a,a:active {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
}

.clear {
    zoom: 1;
}

.clear:after {
    font-size: 0;
    display: block;
    clear: both;
    height: 0;
    content: '\200c';
}

.block {
    display: block;
}

.none {
    display: none;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

body {
    font-family: Gotham-Book,HelveticaRegular,Helvetica,Verdana,Arial,'Microsoft YaHei';
    font-size: 14px;
    line-height: 1;
    position: relative;
    color: #333;
    background: #fff;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

#wrap {
    position: relative;
    min-height: 100%;
    _height: 100%;
}

#footer {
    font-size: 12px;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #000;
}

.header {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 1000px;
}

.header .banner {
    width: 100%;
    min-width: 1460px;
    vertical-align: top;
}

.header .wrap {
    position: absolute;
    left: 50%;
    margin-left: -500px;
}

.header .logo {
    position: absolute;
    top: 21px;
    left: 37px;
    width: 78px;
    height: 22px;
    background: url(../images/logo.png) no-repeat center top;
    -o-background-size: contain;
    background-size: contain;
}

.header .welcome {
    width: 385px;
    height: 58px;
    margin: 100px auto 0;
    background: url(../images/welcome.png) no-repeat center top;
    -o-background-size: contain;
    background-size: contain;
}

.header .title {
    width: 510px;
    height: 62px;
    margin: 46px auto 0;
    background: url(../images/title.png) no-repeat center top;
    -o-background-size: contain;
    background-size: contain;
}

.banner-m,.content {
    display: none;
}

.main {
    position: relative;
    overflow: hidden;
}

.list {
    width: 120%;
    margin-top: 83px;
}

.list li.item {
    display: inline;
    float: left;
    width: 207px;
    width: 178px;
    margin: 0 29px 30px 0;
    text-align: center;
}

.list li.item .text {
    font-size: 14px;
    line-height: 50px;
    display: block;
    text-align: center;
    color: #333;
}

.list li.item .desc {
    font-size: 12px;
    text-decoration: underline;
    color: #333;
}

.icon {
    display: block;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background: url(../images/icons.png) no-repeat;
}

.icon:hover {
    cursor: default;
}

.icon.icon-win {
    background-position: 0 0;
}

.icon.icon-mac {
    background-position: 0 -200px;
}

.icon.icon-linux {
    background-position: 0 -400px;
}

.icon.icon-android {
    background-position: 0 -600px;
}

.hover .icon.icon-android,.icon.icon-android:hover {
    background-position: 0 -1000px;
}

.icon.icon-ios {
    background-position: 0 -800px;
}

.hover .icon.icon-ios,.icon.icon-ios:hover {
    background-position: 0 -1200px;
}

.btn {
    line-height: 34px;
    display: block;
    width: 138px;
    height: 34px;
    margin: 20px auto 8px;
    text-align: center;
    color: #f0641e;
    border: #ef631d solid 1px;
}

.btn:hover {
    color: #fff;
    background-color: #ff6500;
}

@media (max-width:1000px) {
    .header,.wrap {
        width: 100%;
        min-width: inherit;
    }

    .header .wrap {
        left: 0;
        margin: 0;
    }

    .list {
        width: 100%;
    }

    .list li.item {
        width: 20%;
        margin-right: 0;
    }
}

@media (max-width:860px) {
    .list li.item {
        width: 33.33333333%;
    }
}

@media (max-width:540px) {
    .header .welcome {
        width: 193px;
        height: 29px;
    }

    .header .title {
        width: 255px;
        height: 31px;
    }

    .list {
        margin-top: 30px;
    }

    .list li.item {
        width: 100%;
    }
}

.content {
    padding: 0 15px 15px;
}

.content .button {
    font-size: 20px;
    line-height: 45px;
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
    background: #f0641e;
}

.content .button:active {
    background: #e5570f;
}

.content .icon-m {
    width: 109px;
    height: 109px;
    margin: -55px auto 0;
    border-radius: 50%;
    background: no-repeat center #f7f7f7;
    -o-background-size: contain;
    background-size: contain;
}

.content .icon-m.icon-m-ios {
    background-image: url(../images/ios.png);
}

.content .icon-m.icon-m-android {
    background-image: url(../images/android.png);
}

.content img {
    width: 100%;
}

.mobile {
    background-color: #f7f7f7;
}

.mobile .main {
    overflow: visible;
}

.mobile .banner-m,.mobile .content {
    display: block;
}

.mobile .banner {
    display: none;
}

.mobile .banner-m {
    width: 100%;
    vertical-align: top;
}

.mobile .header .logo {
    top: 12px;
    left: 7px;
    width: 46px;
    height: 13px;
}

.mobile .header .welcome {
    width: 124px;
    height: 20px;
    margin-top: 50px;
    background-image: url(../images/welcome-mobile.png);
}

.mobile .header .title {
    width: 271px;
    height: 31px;
    margin-top: 20px;
    background-image: url(../images/title-mobile.png);
}

.mobile .list {
    display: none;
}

.mobile #footer {
    line-height: 40px;
    position: static;
    height: 40px;
    color: #fff;
    background: #515151;
}

.ios .android-content {
    display: none;
}

.android .ios-content {
    display: none;
}