@font-face {
	font-family: 'Gotham-Light';
	src: url('/images/v1/fonts/Gotham-Light.eot');
	src: url('/images/v1/fonts/Gotham-Light.eot') format('embedded-opentype'),
		 url('/images/v1/fonts/Gotham-Light.woff') format('woff'),
		 url('/images/v1/fonts/Gotham-Light.ttf') format('truetype'),
		 url('/images/v1/fonts/Gotham-Light.svg#Gotham-Light') format('svg');
}
@font-face {
	font-family: 'Gotham-Medium';
	src: url('/images/v1/fonts/Gotham-Medium.eot');
	src: url('/images/v1/fonts/Gotham-Medium.eot') format('embedded-opentype'),
		 url('/images/v1/fonts/Gotham-Medium.woff') format('woff'),
		 url('/images/v1/fonts/Gotham-Medium.ttf') format('truetype'),
		 url('/images/v1/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
}
@font-face {
	font-family: 'Gotham-Book';
	src: url('/images/v1/fonts/Gotham-Book.eot');
	src: url('/images/v1/fonts/Gotham-Book.eot') format('embedded-opentype'),
		 url('/images/v1/fonts/Gotham-Book.woff') format('woff'),
		 url('/images/v1/fonts/Gotham-Book.ttf') format('truetype'),
		 url('/images/v1/fonts/Gotham-Book.svg#Gotham-Book') format('svg');
}
/*@font-face {
	font-family: 'Gotham-Bold';
	src: url('/images/v1/fonts/Gotham-Bold.eot');
	src: url('/images/v1/fonts/Gotham-Bold.eot') format('embedded-opentype'),
		 url('/images/v1/fonts/Gotham-Bold.woff') format('woff'),
		 url('/images/v1/fonts/Gotham-Bold.ttf') format('truetype'),
		 url('/images/v1/fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
}*/
/*@font-face {
  font-family: Circular;
  src: url("/images/v1/fonts/circular-book.eot");
  src: url("/images/v1/fonts/circular-book.eot?#") format("eot"), url("/images/v1/fonts/circular-book.woff") format("woff"), url("/images/v1/fonts/circular-book.ttf") format("truetype"), url("/images/v1/fonts/circular-book.svg") format("svg"); }*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend,figure, button, input, textarea, th, td { margin:0; padding:0; -webkit-tap-highlight-color: rgba(0,0,0,0);}
body, button, input, select, textarea { font:16px/1.5 Helvetica,Verdana, Arial, "Microsoft YaHei"; color:#434343; }
h1, h2, h3, h4, h5, h6 { font-size:100%; }
/*html, body { height:100%;}*/
html {/* _background-image:url(about:blank); _background-attachment:fixed;*/}
ul, ol { list-style:none; }
a { text-decoration:none; color:#333; outline:none; _blr:expression(this.onFocus=this.blur());}
a:hover { text-decoration:none;}
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
.clear:after,.inner:after,.blog-list ul:after,.home-list:after,.detail-info:after,.detail-cate:after,.category:after{display: block;clear: both;visibility: hidden;height: 0;content: '';}
.clear,.inner,.home-list,.blog-list,.category {zoom:1;}

.testfont { background:#EC6100; color:#fff; font-size:20px; padding:20px; font-weight:bold; letter-spacing:0.3px;}

body { background:#eee; position: relative; min-height: 100%; _height: 100%;-webkit-font-smoothing: antialiased;}
body.body-en { font-family: "Gotham-Book", Helvetica,Verdana, Arial, "Microsoft YaHei";}
body.page-detail { background:#fff;}
.inner { max-width:1000px; margin:0 auto; _width:1000px; min-width:240px;}
#header { position:absolute; width:100%; height:68px; z-index:5; /*background:#E55E00; border-bottom:1px #ED6A0E solid;*/-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;}
.page-detail #header {border-bottom:1px #F0F0F0 solid; }
#logo { float:left; padding:10px 0 0 10px;}
#logo a { display:block; width:102px; height:46px; background:url(/images/v1/logo-orange.png) 0 12px no-repeat;}
.page-home #logo a { background-image:url(/images/v1/logo-white.png);}
#logo img { display:block;}
#menu-more { float:right; cursor:pointer; padding:30px 20px 0 20px; height:37px;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;transition:all .2s ease;}
.icon-menu,.icon-menu:before,.icon-menu:after { position:relative; display:block; width:26px; height:3px; background:#757575;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;transition:all .2s ease;}
.icon-menu:before,.icon-menu:after { content:''; position:absolute; left:0; top:-8px;}
.icon-menu:after { top:8px;}
.page-home .icon-menu,.page-home .icon-menu:before,.page-home .icon-menu:after { background:#fff;}
#menu-more.active { opacity:.5;}
/*#menu-more.active .icon-menu,#menu-more.active .icon-menu:before,#menu-more.active .icon-menu:after,.show-pannel #menu-more .icon-menu,.show-pannel #menu-more .icon-menu:before,.show-pannel #menu-more .icon-menu:after { background:rgba(255,255,255,1);}*/
.more-text { float:right; color:#757575; margin-top:-11px; font-style:normal; margin-left:40px; font-size:18px;}
.page-home .more-text { color:#fff;}



.menu-list { position: absolute; top: 68px; width: 100%; height: 0; min-height:0; z-index: 2; height:0; -webkit-transition:height .3s ease; -moz-transition:height .3s ease; transition:height .3s ease; background: #000; background: rgba(0,0,0,0.85); overflow: hidden;}
.menu-list ul { position: absolute; width: 1000px; top: 50%; left: 50%; margin: -150px 0 0 -500px; _margin-top:-200px; }
.menu-list li { float: left; color: #fff; width: 30%; margin: 20px 0 10px 3.3%; _margin-left:1%; display:inline; line-height: 35px; font-size: 18px; white-space: nowrap; overflow: hidden;}
.menu-list li.primary { display: none; }
.menu-list li h2 { font-size: 36px; padding: 0 0 10px 24px; }
.menu-list li a { color: #aaa; }
.menu-list li a.active{ color: #fff; }
.menu-list li a span { float: left; height: 12px; width: 12px; overflow: hidden; background: #eb6100; border-radius: 10px; margin: 11px 10px 0 0; visibility: hidden; }
.menu-list li a.active span { visibility: visible; }
.show-pannel .menu-list { height:100%; -webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;/* -webkit-animation:slideDown .4s ease; -moz-animation:slideDown .4s ease; animation:slideDown .4s ease;*/}
/*.show-pannel #layer { display:block; height:100%;-webkit-animation:slideDown .7s ease;}*/

/*.small-header #header { height: 50px; box-shadow: 0 2px 10px rgba(0,0,0,0.2); }
.small-header #logo,.small-header #logo a { width:108px; height:35px;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;}
.small-header #logo { padding:8px 0 0 20px;}
.small-header .menu-list { top: 50px; }
.small-header #menu-more { padding:24px 20px 0 0; height:26px;}*/

.menu-share {
	line-height: 26px;
	font-size: 14px;
	margin-top: 146px;
}
.menu-share-label {
	float: left;
	color: rgba(255,255,255,0.2);
	color/*\**/:#535354 \9;
	padding: 0 18px 0 22px;
	white-space: nowrap;
}
.menu-share-btn {
	float: left;
	width: 26px;
	height: 26px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(/images/v1/icon-shares.png) no-repeat;
	background-color:rgba(255,255,255,0.2);
	background-color/*\**/:#535354 \9;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	margin-right: 6px;
}
.menu-share-fb{
	background-position: 0 0;
}
.menu-share-fb:hover{
	background-color: #3a5898;
}
.menu-share-gp{
	background-position: 0 -30px;
}
.menu-share-gp:hover{
	background-color: #ca151a;
}
.menu-share-tt{
	background-position: 0 -60px;
}
.menu-share-tt:hover{
	background-color: #31aae1;
}
.menu-share-li{
	background-position: 0 -90px;
}
.menu-share-li:hover{
	background-color: #0074b1;
}

#banner { background-repeat:no-repeat; background-position:center 0; -webkit-background-size:cover; background-size:cover; padding-top:100px;}
#banner .inner { position:relative; height:248px;}
#banner img { display:block; max-width:100%; margin:0 auto;}
.blog_name { position:absolute; width:195px; height:43px; right:200px; bottom:178px; background:url(/images/v1/icon-title.png) no-repeat;}
.blog_name:hover { opacity:.8;}
.category { position:absolute; bottom:0; _bottom:20px;}
.category li { display:inline-block; line-height:80px; *float:left; *height:50px; _height:30px; *line-height: normal; padding:0 20px; min-width:60px; text-align:center; cursor:pointer; -webkit-transition:all .2s ease;-moz-transition:all .2s ease;transition:all .2s ease;}
.category li:hover { background-color:rgba(0,0,0,.56); }
.category li a { color:#fff; font-family: "Gotham-Book"; line-height:26px; padding:0 3px; font-size:16px; display:inline-block;}
.category li.cur a { border-bottom:1px #fff solid;}
.category_mobile_wrap { display:none; background:#fff; position:relative;}
.category_mobile { margin:0 10px;}
.category_mobile ul { white-space:nowrap; font-size:0;}
.category_mobile li { display:inline-block; padding:0 9px; font-size:15px;}
.category_mobile li a { display:block; background:#fff; text-align:center; line-height:44px; color:#000;}
.category_mobile li a.active { color:#f96502;}
.category_mobile li.cur a { color:#e55e00;}
.icon_scroll_prev,.icon_scroll_next { position:absolute; background:url(/images/v1/top-nav-icon.png) no-repeat; width:45px; height:44px; top:0; right:0;}
.icon_scroll_prev { background-position:  -15px -13px; background-size: 169%;}
.icon_scroll_next { background-position: -18px -80px; background-size: 169%}
.icon_scroll_prev { display:none; right:auto; left:0;/*-webkit-box-shadow: 10px 4px 15px rgba(246,246,246,1),10px -4px 15px rgba(246,246,246,1);*/}
/*.icon_scroll_prev:after,.icon_scroll_next:after { content:''; width:8px; height:8px; position:absolute; right:15px; top:15px; border:2px solid; border-color:#C2C2C2 #C2C2C2 transparent transparent; -webkit-transform: rotate(45deg); }*/
.icon_scroll_prev:after { right:auto; left:15px;-webkit-transform: rotate(-135deg);}
.show_mobile_category .category_mobile { display:block;}

.home-tags { margin-top:20px; margin-bottom:-10px;}
.home-tags a { display:inline-block; background:#f7f7f7; line-height:34px; border:1px #E1E1E1 solid; padding:0 12px; margin-right:10px; margin-bottom:10px; font-size:12px;}
.home-tags a:hover { color:#e55e00; background:#FDFAF1; border-color:#E57E39;}
.home-tags a.cur { color:#e55e00; border-color: #E1E1E1;}
.blog-list ul { padding:10px 0;}
.blog-list li { width:50%; float:left; padding:10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.blog-list li a { display:block; position:relative;}
.blog-list li a:after,.home-list li .img:after,.list-layer { content:''; position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,1); filter:alpha(opacity=40); opacity:.4; -webkit-transition:all .1s ease;-moz-transition:all .1s ease;transition:all .1s ease; cursor:pointer; _display:none;}
.blog-list li a span { position:absolute; width:95%; left:10px; bottom:10px; color:#fff; font-size:24px; z-index:1; cursor:pointer; line-height:1;}
.blog-list li img { width:480px; max-width:100%; display:block;}
.blog-list li a.active:after,.blog-list li a.active .list-layer {filter:alpha(opacity=40); opacity:0.4;}
.home-list { padding-top:10px;}
.home-blank { text-align:center; padding:80px 0;}
.home-list ul { font-size:0;}
.home-list li { background:#fff; padding:30px; display:inline-block; vertical-align:top; _display:inline; *zoom:1; width:49%; margin-right:10px; margin-top:10px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
.home-list li:nth-child(even) { margin-right:0;}
.home-list li .text { height:145px; overflow:hidden;}
.home-list li .img { position:relative; display:block; background:#eee; max-height:215px; _height:215px; overflow:hidden;}
.home-list li .img img { width:100%; min-height:150px; height:auto; display:block;}
.home-list li .img:after,.home-list .list-layer { opacity:0;filter:alpha(opacity=0);}
.home-list li a:active:after,.home-list li a:active .list-layer { filter:alpha(opacity=60); opacity:0.6;}
.home-list li .title { font-size:22px; line-height:27px; max-height:80px; overflow: hidden; display:block; margin-top:15px; font-family: "Gotham-Medium";}
.home-list li .icon-hot { background:url(/images/v1/icon-hot.png) no-repeat; width:18px; height:21px; display:inline-block; vertical-align:middle; margin-right:5px; margin-top:-5px; -webkit-background-size:auto 21px; background-size:auto 21px; }
.home-list li .des { font-size:14px; line-height:21px; max-height:84px; overflow:hidden; display:block; margin-top:10px;}
.home-list li .text .title:hover {color:#f96502;}
.home-list li .op { padding-top:10px;}
.home-list li .op .gray { font-size:14px; color:#888;}
.home-list li .op .gray a { color:#f96502;}
.home-list li .op .gray a:hover { text-decoration:underline;}
.home-list li .op .gray em { font-style:normal; font-size:10px; color:#ccc; padding:0 5px;}
.home-list li .op .addthis_sharing_toolbox,.home-list li .op .addthis_button { float:right; margin-right:3px;}
.text-contact { padding-top:15px;}
.text-contact a { color:#f96502;}
.text-contact a:hover { text-decoration:underline;}
/*.op .addthis_sharing_toolbox .at-svc-facebook,.op .addthis_sharing_toolbox .at-svc-twitter,.op .addthis_sharing_toolbox .at-svc-google_plusone_share { display:none;}
.addthis_sharing_toolbox .at-svc-compact { background:none; width:60px; max-width:60px!important; height:20px; margin:0!important;}
.addthis_sharing_toolbox .at-svc-compact .aticon-compact { background:url(/images/v1/icon-share.png) 0 3px no-repeat!important; -webkit-background-size:60px auto!important;background-size:60px auto!important; width:60px!important; height:20px!important;}
.ie .addthis_sharing_toolbox .at-svc-compact .at15t_compact { background:url(/images/v1/icon-share-ie.png) 0 2px no-repeat;width:60px!important; height:20px!important;}*/
.addthis_sharing_toolbox .at-share-btn { -webkit-border-radius:16px; border-radius:16px;}
.addthis_sharing_toolbox .at-share-btn:hover { opacity:.8;}
.addthis_horizontal_follow_toolbox { text-align:center; height:32px; padding:20px 0;}
.addthis_horizontal_follow_toolbox .addthis_default_style .addthis_separator,.addthis_horizontal_follow_toolbox .addthis_default_style .at300b, .addthis_horizontal_follow_toolbox .addthis_default_style .at4-icon, .addthis_horizontal_follow_toolbox .addthis_default_style .at300bo,.addthis_horizontal_follow_toolbox  .addthis_default_style .at300m,.addthis_horizontal_follow_toolbox  .addthis_default_style .at300bs { float:none; border-radius:50%; margin:0 2px;}
/*scroll load*/
.scroll_loading { display:none;height: 100px; position: relative;}
.scroll_loading i { position: absolute; left: 50%; margin: -25px 0 0 -25px; top: 50%;width: 50px; height: 50px; background: url(/images/v1/scroll_loading_icon.png) no-repeat; animation: loadingRotate .8s infinite linear;-webkit-animation: loadingRotate .8s infinite linear; -ms-animation: loadingRotate .8s infinite linear; -moz-animation: loadingRotate .8s infinite linear;}
@keyframes loadingRotate {
	0%   {transform: rotate(0deg);}
	50%  {transform: rotate(300deg)}
	100% {transform: rotate(360deg)}
}
@-webkit-keyframes loadingRotate {
	0%   {-webkit-transform: rotate(0deg);}
	50%  {-webkit-transform: rotate(300deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes loadingRotate {
	0%   {-moz-transform: rotate(0deg);}
	50%  {-moz-transform: rotate(300deg);}
	100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes loadingRotate {
	0%   {-ms-transform: rotate(0deg);}
	50%  {-ms-transform: rotate(300deg);}
	100% {-ms-transform: rotate(360deg);}
}
/*页面导航*/
.wp-pagenavi { margin-top:30px; text-align:center;}
.wp-pagenavi a,.wp-pagenavi span { width:32px; height:32px; line-height:32px; display:inline-block; vertical-align:middle; text-align:center; margin:0 2px;}
.wp-pagenavi a:hover { background:#EF6320; border-radius:50%; -webkit-border-radius:50%; color:#fff;}
.wp-pagenavi a.previouspostslink { margin-right:10px;}
.wp-pagenavi a.nextpostslink { margin-left:10px;}
.wp-pagenavi .current { color:#ed632c;}
/*detail*/
.page-detail #main { padding-top:69px;}
.detail-box { max-width:700px; _width:700px; margin:0 auto;}
.detail-pos { font-size:14px; padding:15px 0; color:#757575;}
.detail-pos a { color:#757575;}
.detail-pos a:hover { color:#f96502;}
.detail-cover {}
.detail-cover img { display:block; width:100%; height:auto;}
.detail-title { font-size:22px; padding:10px 0;}
.detail-info,.detail-cate { min-height:32px;}
.detail-info p,.detail-cate p { float:left; font-size:13px; color:#999;}
.detail-info p a,.detail-cate p a { color:#f96502;}
.detail-info p a:hover,.detail-cate p a:hover { text-decoration:underline;}
.detail-info p em { font-style:normal; font-size:10px; color:#ccc; padding:0 5px;}
.detail-content { padding:20px 0; font-size:14px; color:#333;}
.detail-content p { padding:10px 0;}
.detail-content p:first-of-type { padding-top:0;}
.detail-content p img {max-width:100%;}
.detail-content a { color:#f96502;}
.detail-content a.active { text-decoration:underline;}
.detail-content img,.detail-content figure.wp-caption { max-width:100%; height:auto;}
.detail-content img.aligncenter,.detail-content figure.aligncenter { margin:0 auto; display:block;}
.detail-content figure.aligncenter { text-align:center;}
.detail-content blockquote {padding: 10px 15px; line-height: 1.6em; border-left: 4px #ddd solid; background: #F5F5F5;font-size: .95em; margin-bottom: 20px;}
.detail-content blockquote p { margin-bottom:0; padding:0;}
.detail-content .wp-video { max-width:100%; margin:0 auto;}
.detail-content .wp-video video { max-width:100%; height:auto;}
.detail-content iframe { max-width:100%;}
.social-share { float:right; margin-top:-5px;}
.social-share #atstbx { height:32px;}
.detail-info .social-share,.detail-cate .social-share { display:none;}
/*.social-share span { display: inline-block; vertical-align: middle; color: #EF7500; margin-right: 7px; }
.social-share a { display: inline-block; width: 27px; height: 27px; background: url(/images/v1/icon-social.png) no-repeat; -webkit-background-size: auto 27px; background-size: auto 27px; margin: 0 6px; vertical-align: middle; -webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-transition:none;-moz-transition:none;transition:none;}
.social-share a.twitter { background-position: -35px 0; }
.social-share a.google { background-position: -70px 0; }
.social-share a:hover,.social-share a.active { opacity:.6;}*/
/*.social-share a.facebook.active { background-position: -211px 0; }
.social-share a.twitter.active { background-position: -313px 0; }
.social-share a.google.active { background-position: -263px 0; }*/
.detail-cate { position:relative;}
.detail-page { }
.icon-prev,.icon-next { display:inline-block; background:url(/images/v1/icon-page.png) 0 13px no-repeat; width:12px; height:11px; height:40px; vertical-align:middle;}
.icon-prev { margin-right:5px;}
.icon-next { background-position:0 -24px; margin-left:5px;}
.detail-page .next,.detail-page .prev { position:absolute; top:-10px;}
.detail-page .next { right:-100px;}
.detail-page .prev { left:-100px;}
.detail-page .next a,.detail-page .prev a { color:#f96502; display:inline-block;text-align:center;}
.detail-page .next a:hover,.detail-page .prev a:hover { opacity:.5;}
.detail-qrcode { padding:40px 0;}
.detail-qrcode img { display:block; width:104px; height:104px; margin:0 auto;}
.detail-qrcode span { display:block; text-align:center; color:#666;margin-top:5px; font-size:12px;}
.share-btns { margin-bottom:20px;}
.bdsharebuttonbox  { float:right!important;}
#uyan_frame iframe { background:none;}

/* single detail */
.single-detail .detail-title { padding-bottom:0;}
.single-detail .detail-content { min-height:470px; padding-top:0;}


/* footer */
#footer { text-align: center; padding: 10px 0 10px; word-spacing: 5px; font-size: 12px; line-height: 20px; }
#footer a.active { text-decoration: underline; }
.subscribe_area { margin-bottom: 20px;}
.subscribe_area.no_margin_bottom { margin-bottom: 0;}
#footer .subscribe { width: 278px; height: 36px; margin: 0 auto; border-radisu: 5px; -webkit-border-radius: 5px; text-align: left; font-size: 14px;}
.subscribe #mail_address { width: 160px; height: 36px; padding: 0 15px; border:0; outline: 0; background: #dadada; color: #202020; }
#mail_address::-webkit-input-placeholder { font-size: 14px; color: #202020;}
.subscribe #sub_btn { width:83px; height:36px; border:0; margin-left: -10px; background: #777; color:#fff; border-radius: 5px; -webkit-border-radius: 5px; outline: 0; cursor: pointer;}
.subscribe_area .prompt { display: none; width: 278px; text-align: left; color: #d81313; margin: 3px auto 10px auto;}
.foot-copy em { font-style: normal; opacity: .5; }
.foot-copy .lang-current { background-position: 0 -198px; opacity: 1; cursor: pointer;}

/*language*/
.foot-lang { display: inline-block; vertical-align: middle; margin: 0 0 0 5px; cursor: pointer; position: relative; z-index: 2; }
.foot-lang img { display: block; }
.lang-list { display: none; font-style: normal; position: absolute; width: 80px; filter:alpha(opacity=90); opacity: .9; border-radius: 5px; border: 1px solid rgba(0,0,0,.1); background:#FBFBFB; left:-8px; bottom: 35px; padding: 8px 0; text-align: left; }
.show-lang-list { display:block;}
.lang-list a { display: block; color: #000!important; line-height: 27px; padding-left: 15px; }
.lang-list a.active { background: #666; color: #fff!important; text-decoration: none!important; }
.lang-tab:after { content: ''; position: absolute; width: 100%; height: 5px; background: url(http://www.cmcm.com/images/v3/lang_icons.png) center -17px no-repeat; bottom: -6px; left: 0; opacity: .4; }
.lang-current { background: url(http://www.cmcm.com/images/v3/lang_icons.png) no-repeat; display: inline-block; padding-left: 18px; }
.lang-list {  display:block; height: 0;bottom: 25px; padding-bottom: 35px; padding: 0; border:0; background: 0; overflow: hidden; -webkit-transition: height .5s; transition: height .5s;}
.lang-tab { position: absolute; z-index:999;left:0; top: 72px; width:80px; padding: 8px 0; border-radius: 5px;border: 1px solid rgba(0,0,0,.1);font-style: normal; background: #fff;-webkit-transition: top .5s; transition: top .5s;}
.lang-list.slideUp{height: 47px;}
.lang-list.slideUp .lang-tab{top: 0;}
.lang-list a:hover { background: #666; color: #fff!important; text-decoration: none!important; }
body.body-en .blog-list li a span,body.body-en .detail-box  { font-family: 'Gotham-Book',Helvetica,Verdana, Arial, "Microsoft YaHei";}
body.body-en .detail-title { font-family: 'Gotham-Medium',Helvetica,Verdana, Arial, "Microsoft YaHei";}
.body-cn .figure-author span { background:none!important; padding-left:0;}
.body-cn .detail-content { font-size:16px;}
.body-cn .detail-content p { text-indent:0;}

/*南北美洲*/
.lang-current { background-position: 0 -164px; font-style: normal;}
/*亚洲*/
.asia .lang-current { background-position: 0 -198px;}
/*欧洲非洲*/
.euro .lang-current { background-position: 0 -232px;}

/*lower IE Browser*/
.ie .inner { width:1000px;}
.ie #logo a { }
/*.ie #menu-more:hover { background:#000; filter:alpha(opacity=10); opacity:0.1;}*/
.ie .icon-menu { width:26px; height:19px; background:url(/images/v1/menu-small-gray.png) 0 0 no-repeat;}
.ie .icon-menu:before,.ie .icon-menu:after { display:none;}
.ie .page-home .icon-menu { background-image:url(/images/v1/menu-small.png);}
.ie #menu-more { padding-top:24px;}
.ie .small-header #logo a { background-image:url(/images/v1/logo-small-ie.png);}
.ie .small-header #menu-more { padding:16px 20px 0 0; height:24px;}
.ie .small-header #banner { top:50px;}
.ie .blog-list li { width:47%; padding:10px 1%;}
.ie .blog-list .list-layer { width:98%; left:1%;}
/*.ie .social-share a { background-image:url(http://www.cmcm.com/images/v3/socila-share-ie.png);}*/
.ie .figure-author span { background-image:url(/images/v1/icon_twitter_ie.png);}
.ie6 .blog-list li { width:480px; padding:10px;}
.ie6 .list-layer { width:100%; height:250px; left:0;}
.ie6 .blog-list li a span { bottom:30px;}
.ie .home-list ul { }
.ie .home-list li { width:420px; float:left; margin:10px;}
.ie8 .home-list li { width:460px;}

@-webkit-keyframes slideUp{
	0%{
		-webkit-transform: translateY(100%);
	}
	100%{
		-webkit-transform: translateY(0);
	}
}
@keyframes slideUp{
	0%{
		-webkit-transform: translateY(100%);
	}
	100%{
		-webkit-transform: translateY(0);
	}
}
@-webkit-keyframes slideDown{
	0%{
		height:1%;
	}
	100%{
		height:100%;
	}
}
@keyframes slideDown{
	0%{
		height:1%;
	}
	100%{
		height:100%;
	}
}
@-webkit-keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*将:hover效果全部放入 > 801px 里面处理*/
@media (min-width:1520px) {
.inner { max-width:1510px;}
.home-list li { width:490px; margin:10px 10px 0 0!important;}
.detail-box { max-width:900px;}
}
@media (max-width:920px) {
	.detail-page .prev { left:0;}
	.detail-page .next { right:0;}
	.detail-cate p { padding-left:70px;}
	.text-contact { padding:15px 10px 0;}
}
@media (min-width:801px) {
/*#menu-more:hover .icon-menu,#menu-more:hover .icon-menu:before,#menu-more:hover .icon-menu:after { background:rgba(255,255,255,1);}*/
.menu-list li a:hover { color: #fff; }
.menu-list li a:hover span { visibility: visible; }
.blog-list li:hover a:after,.blog-list li a:hover .list-layer,.home-list li:hover a:after,.home-list li a:hover .list-layer {filter:alpha(opacity=40); opacity:0.4;}
.detail-content a:hover { text-decoration:underline;}
/*.social-share a.facebook:hover { background-position: -211px 0; }
.social-share a.twitter:hover { background-position: -313px 0; }
.social-share a.google:hover { background-position: -263px 0; }*/
#footer a:hover { text-decoration: underline; }
}
@media (max-width:800px) {
#header { height: 50px; box-shadow: none; position:absolute; }
#logo,#logo a { width:108px; height:35px;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;}
#logo { padding:6px 0 0 10px;}
#logo a { background-size:100%; width:62px;}
#menu-more { padding:22px 10px 0 0; height:26px;}
#banner { padding-top:50px;}
#banner,#banner .inner { height:160px;}
.page-detail #main { padding-top:50px;}
.blog_name { right:100px; bottom:98px;}
.category li { padding:0 4px; line-height:50px; min-width: inherit;}
.category li a { font-size:14px;}
/*.show-pannel #header{ height:100%;}*/
.menu-list { top: 50px; position: absolute; bottom: 0; }
.menu-list ul { position: static; margin: 0; width: auto; }
.menu-list ul { padding: 20px 0 0 15%; }
.menu-list li { width: 97%; font-size: 16px; line-height: 30px; margin-top: 10px; }
.menu-list li a span { margin-top: 8px; }
.menu-list li.primary { display: block; }
.menu-list li h2 { font-size: 30px; padding-bottom: 8px; }
.blog-list li a:after,.list-layer { -webkit-transition:none;-moz-transition:none;transition:none;}
.blog-list li a span { font-size:16px;}
.show-pannel .menu-list { min-height:650px;}
.detail-box { margin:0; padding: 0 20px;}
}

@media (min-width:541px) and (max-width:999px) {
.blog-list li { width:50%; margin:10px 0; padding:0 10px;}
}

@media (max-width:540px) {
.more-text { display:none;}
.blog-list li { width:100%;}
.lang-list { left: auto; right: 0; padding-top:15px;}
.home-list li { width:100%; margin-right:0; padding:15px;}
.home-list li:first-of-type { margin-top:0;}
.home-list li .text { max-height: none;height:auto;}
.category li { display:none;}
.category_mobile_wrap { display:block;}
#banner, #banner .inner { height:120px;}
.blog_name { width:120px; right:55px; bottom:38px; -webkit-background-size:100% auto;}
.home-tags { margin-top:10px; padding-left:15px;}
#footer { word-spacing: 2px; font-size: 10px;}
.detail-box { padding: 0 15px;}
.detail-pos { padding:10px 0;}
.detail-title { font-size:18px; letter-spacing:-0.5px;}
.detail-info { font-size:12px;}
.detail-content { padding-top:30px;}
.detail-info p,.detail-cate p { float:none;}
.social-share { float:none; margin-left:-5px; margin-top:0; padding:10px 0 0;}
.detail-cate .social-share { padding-top:0;}
.detail-info .social-share,.detail-cate .social-share { display:block;}
.detail-cate p { float:none; padding-left:0; padding-top:20px;}
.detail-page .prev,.detail-page .next { position:static;}
.detail-page .next { float:right;}
.single-detail .detail-content { min-height:250px;}
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
.lang-current { background-position: 0 -241px; background-size: 14px;}
.asia .lang-current { background-position: 0 -276px;}
.euro .lang-current { background-position: 0 -311px;}
}
.detail-content img[width="700"] {width: 100%;}
