/*
  Main styles of Cheetah Ads.
  Author: Alexandra
  Latest modified: 2017-02-28 18:36 */

@main-orange:#f63;
@dark-grey:#333;
@page-bg:#fff;
@top-bar-height:60px;
@pc-container-width:86%;
@opening-largest-width:600px;
@transition-duration:.4s;
@transition-function:ease;

/* Global */
html, body {
  width:100%;
  background:@page-bg;
  overflow:hidden;/* For full-screen style */
}
.wrapper {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  overflow:hidden;
}
.container {
  margin:0 auto;
  width:@pc-container-width;
  height:100%;
}
.has-trans {
  -webkit-transition: all @transition-duration @transition-function;
  -moz-transition: all @transition-duration @transition-function;
  -ms-transition: all @transition-duration @transition-function;
  -o-transition: all @transition-duration @transition-function;
  transition: all @transition-duration @transition-function;
}

/* Top bar and nav */
.top-bar {
  position:absolute;
  z-index:9;
  left:0px;
  top:0px;
  width:100%;
  height:@top-bar-height;
}
.top-bar.float {
  position:fixed;
  background:rgba(0,0,0,.6);
}
.the-logo {
  display:block;
  float:left;
  margin-top:15px;
  width:220px;
  height:30px;
  text-indent:-9999px;
  background:url(http://www.cmcm.com/images/asd/logo.png) no-repeat;
  background-size:220px 30px;
}
.the-burger {
  display:none;
}
.navs {
  float:right;
}
.nav-item {
  float:left;
  height:@top-bar-height;
}
.nav-item.hide {
  display:none;
}
.nav-item.has-login, .nav-item.get-started {
  padding-left:20px;
}
.nav-a {
  display:block;
  position:relative;
  margin-top:15px;
  padding:0 12px;
  font-size:16px;
  line-height:32px;
  color:#fff;
  text-align:center;
  cursor:pointer;
}
.nav-a s {
  position:absolute;
  text-indent:-9999px;
  left:0px;
  bottom:0px;
  width:0px;
  height:2px;
  background:#fff;
}
.nav-a:hover s {
  width:100%;
}
.nav-a.has-border {
  padding:0 20px;
  border:2px solid #fff;
}
.nav-a.has-border:hover {
  background:rgba(255,255,255,.3);
}
.get-started .nav-a {
  background:@main-orange;
  border:2px solid @main-orange;
}
.get-started .nav-a:hover {
  background:transparent;
  border:2px solid @main-orange;
  color:@main-orange;
}

/* Side menus, fixed to the right */
.side-menus {
  position:fixed;
  z-index:10;
  right:10px;
  top:38%;
  width:50px;
}
.side-menu-item {
  display:block;
  margin:20px 0;
  width:20px;
  height:20px;
  border-radius:20px;
  background:@dark-grey;
  text-indent:-9999px;
}
.side-menu-item.active, .side-menu-item:hover {
  background:@main-orange;
}


/* Sections, using full-screen style */
.section-frame {
  width:100%;
}
.section-frame.active {
}

/* First Screen */
.first-screen {
}
/* Billboard */
.billboard {
  position:relative;
  width:100%;
  height:100%;
  background-color:@main-orange;
}
.billboard .container {
  position:relative;
  z-index:3;
}
.britney {
  position:absolute;
  z-index:1;
  left:50%;
  top:0;
  width:50%;
  height:100%;
}
/* Left parts with Slogan on the first screen */
.opening {
  width:50%;
  height:100%;
  max-width:@opening-largest-width;
}
.slogan {
  padding-top:300px; /* Can be valued dynamically */
  font-size:60px;
  color:#fff;
}
.description {
  padding:50px 20px 20px 0;
  font-size:18px;
  line-height:1.5em;
  color:#fff;
}
.big-btn {
  margin:0;
  display:block;
  width:214px;
  height:54px;
  border:3px solid #fff;
  color:#fff;
  text-align:center;
  font-size:22px;
  line-height:55px;
  cursor:pointer;
}
.big-btn:hover {
  color:@main-orange;
  background:#fff;
}

/* Second Screen */
.second-screen {
  width:100%;
  background:#0096ff;
}
.second-screen .container {
  padding:50px 0;
}
.why-me-title {
  font-size:30px;
  text-align:center;
  color:#fff;
}

.data-item {
  float:left;
  width:150px;
  border:1px dashed @dark-grey;
  color:@dark-grey;
}
.data-on-top {
  padding:0 5px;
}
.data-on-top.with-left-border {
  border-left:2px solid @main-orange;
}
.data-on-top strong, .data-on-top span {
  display:block;
  font-family:'GothamBold';
}
.data-on-top strong {
  font-size:36px;
}
.data-on-top span {
  margin-top:3px;
  font-size:18px;
}
.data-on-bottom {
  margin-top:15px;
  font-size:14px;
  line-height:18px;
}



/* Third Screen */
.third-screen {
  width:100%;
  background:#4e4444;
  color:#fff;
}
.third-screen .container {
  padding:50px 0;
}




/* Fourth Screen */
.fourth-screen {
  width:100%;
  background:@main-orange;
  color:#fafafa;
}
.fourth-screen .container {
  padding:50px 0;
}




/* Fifth Screen */
.fifth-screen {
  width:100%;
  background:@dark-grey;
  color:#fafafa;
}
.fifth-screen .container {
  padding:50px 0;
}




/* Sixth Screen */
.sixth-screen {
  width:100%;
  background:pink;
  color:#fafafa;
}
.sixth-screen .container {
  padding:50px 0;
}









/* Copyright */
.copyright {
  height:100px;
  background:@dark-grey;
}
.copyright .container {
  width:402px;
  font-size:12px;
  line-height:96px;
  color:#fff;
}
.cp-link {
  color:#eee;
  padding:0 4px 0 0;
}
.cp-link:hover {
  color:#fff;
}
.cp-txt {
  padding:0 0 0 6px;
}



/* ===== Responsive Styles ===== */
@media (max-width: 1488px) {
}

/* Mobile type display */
@media (max-width: 868px) {
  .the-logo {
    margin-top:20px;
    width:150px;
    height:20px;
    background-size:150px 20px;
  }
  /* Navs become the burger style on mobile */
  .the-burger {
    display:block;
    float:right;
    padding:20px 10px 10px 10px;
    text-align:center;
    cursor:pointer;
  }
  .the-burger span {
    display:block;
    width:22px;
    height:2px;
    background:#fff;
    margin-bottom:4px;
    text-indent:-9999px;
  }
  .navs {
    float:none;
    position:absolute;
    left:0;
    top:60px;
    width:100%;
    height:0px;
    overflow:hidden;
    background:rgba(0,0,0,.7);
  }
  .navs.showing {
    height:230px;
  }
  .navs li.nav-item {
    float:none;
    height:45px;
    border-bottom:1px solid rgba(255,255,255,.3);
  }
  .nav-item.hide {
    display:block;
  }
  .nav-a, .nav-a.has-border {
    margin-top:0;
    padding:0;
    border:none;
    line-height:48px;
  }
  .nav-item.has-login, .nav-item.get-started {
    padding-left:0px;
  }
  .get-started .nav-a {
    background:none;
    border:none;
  }
  .get-started .nav-a:hover {
    background:none;
    border:none;
    color:#fff;
  }

  .britney {
    left:0;
    width:100%;
    background-image:url(http://www.cmcm.com/images/asd/head-img-mob-compress.png);
  }
  .opening {
    width:100%;
    max-width:100%;
  }
  .slogan {
    padding-top:150px!important;
    font-size:40px;
    text-align:center;
  }
  .description {
    padding:40px 30px 30px;
    text-align:center;
  }
  .big-btn {
    margin:0 auto;
  }
  .data-item {
    width:33%;
  }
  .data-on-top strong {
    font-size:24px;
  }
  .data-on-top span {
    font-size:14px;
  }
  .data-on-bottom {
    margin-top:10px;
    line-height:16px;
  }


  .copyright {
    height:80px;
  }
  .copyright .container {
    line-height:80px;
  }

}
