<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<title>@_@i18n.title</title>
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="@_@i18n.keywords">
<meta name="description" content="@_@i18n.description">
<link rel="shortcut icon" href="public/images/favicon.ico" type="image/x-icon" />
<link type="text/css" href="/build/css/combo.css" rel="stylesheet">
</head>
<body class="body-@_@i18n.file">

  <div class="global-wrapper" id="Wrapper">
    
    <div class="global-header" id="Header">
      <ul class="nav">
        <li><a class="nav-link home" href="#">@_@i18n.nav.home</a></li>
        <li><a class="nav-link products" href="#">@_@i18n.nav.products</a></li>
        <li><a class="nav-link services" href="#">@_@i18n.nav.services</a></li>
        <li><a class="nav-link contact" href="#">@_@i18n.nav.contact</a></li>
      </ul>
    </div><!-- #Header -->

