/*
  CSS for PMP Techniques
  Author: Alexandra Wang
  Latest modified: 2017-05-05 16:11
*/

html, body {
  background:#f4f4f4;
}
.wrapper {
  width:100%;
  overflow:hidden;
}
.has-trans {
  -webkit-transition:all .4s ease;
  -moz-transition:all .4s ease;
  -ms-transition:all .4s ease;
  -o-transition:all .4s ease;
  transition:all .4s ease;
}
.hiding {
  background:#aaa;
  color:#fff;
}

/* ===== Left Pan ===== */
.main-pan {
  margin:0 auto;
  width:96%;
  max-width:1440px;
  border:1px dashed yellow;
}
.tech-contents {
  padding:50px 0;
  border:1px dashed pink;
}
.tech-title {
  margin:0 0 18px;
  text-align:center;
  font-size:22px;
  color:#4e4444;
}
table {
  margin:0 auto;
  width:97%;
  border:1px solid #c0c0c0;
  border-collapse:collapse;
}
thead {
  background:#e0e4cc;
  color:#585858;
  border-bottom:2px solid #c0c0c0;
}
thead th {
  padding:20px 0;
}
thead th p {
  border-right:1px solid #c0c0c0;
  border-left:1px solid #fff;
  font-size:16px;
}
thead th.last p {
  border-right:none;
}
thead th.first p {
  border-left:none;
  font-size:14px;
  color:#999;
}
tbody th, tbody td {
  padding:18px 0;
  border:1px solid #c0c0c0;
  color:#585858;
}
tbody th {
  font-size:16px;
  vertical-align:middle;
}
tbody td.no-process {
  text-align:center;
  vertical-align:middle;
  color:#cdcdcd;
}

tbody td a.one-process {
  position:relative;
  display:block;
  margin:10px auto;
  padding:10px 4px;
  width:80%;
  font-size:14px;
  border-radius:4px;
  text-align:center;
  background:#69d2e7;
  color:#eee;
  cursor:pointer;
}
tbody td a.one-process:hover {
  box-shadow:2px 2px 8px rgba(0,0,0,.3);
  color:#fff;
}
tbody td a.one-process.active {
  box-shadow:1px 1px 4px rgba(0,0,0,.4);
  color:#fff;
  background:#fa6900;
}

tbody td a.one-process s {
  position:absolute;
  left:-10px;
  top:-8px;
  width:25px;
  height:25px;
  line-height:27px;
  border-radius:25px;
  font-size:12px;
  background:#a7dbdb;
}
tbody td a.one-process:hover s {
  box-shadow:1px 1px 5px rgba(0,0,0,.3);
  color:#fff;
}
tbody td a.one-process.active s {
  box-shadow:1px 1px 3px rgba(0,0,0,.4);
  color:#fff;
  background:#f38630;
}














