/*
  CSS for PMP Techniques
  Author: Alexandra Wang
  Latest modified: 2017-05-12 16:06
*/

html, body {
  background:#f4f4f4;
}
.wrapper {
  width:100%;
  overflow:hidden;
}
.has-trans {
  -webkit-transition:all .4s ease;
  -moz-transition:all .4s ease;
  -ms-transition:all .4s ease;
  -o-transition:all .4s ease;
  transition:all .4s ease;
}

/* ===== Pop up styles ===== */
.pop-mask {
  display:none;
  position:absolute;
  z-index:100;
  left:0;
  top:0;
  width:100%;
  height:100%;/* Revalued dynamically in JS */
  background:rgba(0,0,0, .38);
}
.pop-mask.active {
  display:block;
}
.pop-close {
  position:fixed;
  z-index:120;
  right:-150px;
  top:-100px;
  padding:10px 20px;
  border-left:1px solid #a0a0a0;
  border-bottom:1px solid #a0a0a0;
  color:#dedede;
  background:rgba(0,0,0, .58);
  font-size:20px;
  overflow:hidden;
  cursor:pointer;
  border-radius:0 0 0 4px;
}
.pop-close.active {
  right:0px;
  top:0px;
}
.pop-close:hover {
  padding:12px 22px;
  border-left:1px solid #fafafa;
  border-bottom:1px solid #fafafa;
  color:#fff;
}
.detail-wrapper {
  position:absolute;
  top:80px;
  left:50%;
  margin-left:-450px;
  padding:50px 0;
  width:900px;
  background:#fff;
  border-radius:4px;
}
.detail-title {
  margin:0 auto 8px;
  text-align:center;
  width:90%;
  font-size:20px;
  font-weight:normal;
  color:#69d2e7;
}
.detail-subtitle {
  margin:0 auto 20px;
  text-align:center;
  width:90%;
  font-size:16px;
  font-weight:normal;
  color:#909090;
}

.detail-infos,
.detail-notes,
.detail-input,
.detail-tools,
.detail-output {
  margin:0 auto 20px;
  padding:10px 0;
  width:90%;
  border-radius:4px;
}
.detail-infos {
  text-align:center;
  border:1px dashed #d5d5d5;
  background:#fafafa;
}
.detail-infos:hover {
  background:#ededed;
  border:1px solid #dcdcdc;
}
.detail-kl, .detail-gp {
  font-size:14px;
  color:#696969;
}
.detail-notes h3,
.detail-input h4, 
.detail-tools h4,
.detail-output h4 {
  margin:0 0 12px;
  font-size:16px;
  color:#585858;
}

.detail-notes li {
  position:relative;
  margin:0 0 10px 10px;
  padding:0 5px 0 10px;
  font-size:14px;
  color:#585858;
  border-left:1px dotted #989898;
  border-bottom:1px dotted #cdcdcd;
}
.detail-notes .item-text {
  line-height:1.5em;
}
.detail-notes .item-extend {
  color:#fa6900;
}
.detail-notes .item-extend:hover {
  color:#69d2e7;
}

.detail-input li,
.detail-tools li,
.detail-output li {
  position:relative;
  float:left;
  margin:5px 10px;
  padding:10px 15px;
  font-size:14px;
  border:1px solid #e0e4cc;
  border-radius:4px;
  background:#c6d5cd;
  text-align:center;
  color:#585858;
}
.detail-input li:hover,
.detail-tools li:hover,
.detail-output li:hover {
  background:#69d2e7;
  border:1px solid #a7dbdb;
  color:#fff;
}
.detail-input .item-extend,
.detail-tools .item-extend,
.detail-output .item-extend {
  color:#fa6900;
}
.detail-input .item-extend:hover,
.detail-tools .item-extend:hover,
.detail-output .item-extend:hover {
  color:#fff;
}

.dialog-bubble {
  position:absolute;
  z-index:121;
  right:0px;
  bottom:0px;
  padding:0;
  width:0px;
  border-radius:4px;
  border:none;
  background:#fafafa;
  overflow:hidden;
}
.dialog-bubble.active {
  padding:10px 15px 15px;
  width:400px;
  border:1px dashed #e0e4cc;
  right:-80%;
  bottom:40px;
  box-shadow:2px 2px 8px rgba(0,0,0,.4);
}
.dialog-bubble s {
  position:absolute;
  right:8px;
  bottom:4px;
  font-size:12px;
  color:#fa6900;
  cursor:pointer;
}
.dialog-bubble s:hover {
  font-size:14px;
  font-weight:bold;
}

.dialog-bubble .dialog-text {
  display:block;
  margin:15px 0;
  text-align:left;
  color:#989898;
  font-size:14px;
  line-height:20px;
}


/* ===== Main Pan ===== */
.main-pan {
  margin:0 auto;
  width:96%;
  max-width:1440px;
}
.tech-contents {
  padding:50px 0;
  border:1px dashed pink;
}
.tech-title {
  margin:0 0 18px;
  text-align:center;
  font-size:22px;
  color:#4e4444;
}
table {
  margin:0 auto;
  width:97%;
  border:1px solid #c0c0c0;
  border-collapse:collapse;
}
thead {
  background:#e0e4cc;
  color:#585858;
  border-bottom:2px solid #c0c0c0;
}
thead th {
  padding:20px 0;
}
thead th p {
  border-right:1px solid #c0c0c0;
  border-left:1px solid #fff;
  font-size:16px;
}
thead th.last p {
  border-right:none;
}
thead th.first p {
  border-left:none;
  font-size:14px;
  color:#999;
}
tbody th, tbody td {
  padding:18px 0;
  border:1px solid #c0c0c0;
  color:#585858;
}
tbody th {
  font-size:16px;
  vertical-align:middle;
}
tbody td.no-process {
  text-align:center;
  vertical-align:middle;
  color:#cdcdcd;
}

tbody td a.one-process {
  position:relative;
  display:block;
  margin:10px auto;
  padding:10px 4px;
  width:80%;
  font-size:14px;
  border-radius:4px;
  text-align:center;
  background:#69d2e7;
  color:#eee;
  cursor:pointer;
}
tbody td a.one-process:hover {
  box-shadow:2px 2px 8px rgba(0,0,0,.3);
  color:#fff;
}
tbody td a.one-process.active {
  box-shadow:1px 1px 4px rgba(0,0,0,.4);
  color:#fff;
  background:#fa6900;
}

tbody td a.one-process s {
  position:absolute;
  left:-10px;
  top:-8px;
  width:25px;
  height:25px;
  line-height:27px;
  border-radius:25px;
  font-size:12px;
  background:#a7dbdb;
}
tbody td a.one-process:hover s {
  box-shadow:1px 1px 5px rgba(0,0,0,.3);
  color:#fff;
}
tbody td a.one-process.active s {
  box-shadow:1px 1px 3px rgba(0,0,0,.4);
  color:#fff;
  background:#f38630;
}














