/*
  Latest modified: 2017-05-22 19:02
*/

@charset "utf-8";

@font-face {
	font-family: 'Gotham-Book';
	src: url('/cleanmaster/images/fonts/Gotham-Book.eot');
	src: url('/cleanmaster/images/fonts/Gotham-Book.eot') format('embedded-opentype'), url('/cleanmaster/images/fonts/Gotham-Book.woff') format('woff'), url('/cleanmaster/images/fonts/Gotham-Book.ttf') format('truetype'), url('/cleanmaster/images/fonts/Gotham-Book.svg#Gotham-Book') format('svg');
}

/* Reset css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';content:none;}
table {border-collapse:collapse;border-spacing:0;}
/* To preserve line-height and selector appearance */
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,button,textarea,select{
  font-family: "Gotham-Book", Helvetica, Verdana, Arial, "Microsoft YaHei", '微软雅黑';
  font-size:inherit;
  font-weight:inherit;
  *font-size:100%;/* To enable resizing for IE */
  width:auto;
  overflow:visible;
}
	
/* Because legend doesn't inherit in IE */
legend {color:#000;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
/* End reset css */
html, body {height:100%;}
a, a:active {color:#333;text-decoration:none;outline:none;}
/* Float clear */
.clear {zoom:1;}
.clear:after {content:"\200c";display:block;height:0;font-size:0;clear:both;}
.section:after, ul.nav:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix:after {content:"\0020";display:block;visibility:hidden;clear:both;height:0;overflow:hidden;}
.none {display:none;overflow:hidden;}
a {-webkit-tap-highlight-color:rgba(0,0,0,0);}
/* ========== ========== ========== ========== */
body {
	font-family: "Gotham-Book", Helvetica, Verdana, Arial, "Microsoft YaHei";
	background:#fff;
	color:#333;
	font-size:12px;
	line-height:1.4;
	-webkit-user-select:none; /* 禁止选择 */
	-moz-user-select:none;
	-ms-user-select:none;
	-webkit-touch-callout:none; /* 禁用弹出 */
}
.wrapper {
	width: 100%;
	display: block;
	min-width: 960px;
}
.main {
	margin: 0 auto;
	width: 960px;
}
.alignleft {
	float: left;
	display: inline;
}
.alignright {
	float: right;
	display: inline;
}
#wrap {
	min-height: 100%;
	_height: 100%;
	position: relative;
	overflow: hidden;
}
.inner {
	max-width: 1000px;
	margin: 0 auto;
	_width: 1000px;
	min-width: 240px;
}
#header {
	position: fixed;
	_position: absolute;
	width: 100%;
	height: 100px;
	z-index: 10;
	background: rgba(243, 243, 243, .95);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}
#logo {
	float: left;
	padding: 25px 0 0 20px;
}
#logo a {
	display: block;
	width: 104px;
	height: 53px;
	background: url(../images/logo_black.png) no-repeat;
	background-size: cover;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-transition: opacity .4s ease-in;
	-webkit-transition: opacity .4s ease-in;
	-ms-transition: opacity .4s ease-in;
	transition: opacity .4s ease-in;
}
#logo a:hover {
	opacity: .8;
	filter: alpha(opacity=80);
}
#logo img {
	display: block;
}
#menu-more {
	float: right;
	cursor: pointer;
	padding: 50px 30px 0 30px;
	height: 50px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
}
.icon-menu, .icon-menu:before, .icon-menu:after {
	position: relative;
	display: block;
	width: 26px;
	height: 3px;
	background: #585858;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
}
.icon-menu:before, .icon-menu:after {
	content: '';
	position: absolute;
	left: 0;
	top: -8px;
}
.icon-menu:after {
	top: 8px;
}
#menu-more.active .icon-menu, #menu-more.active .icon-menu:before, #menu-more.active .icon-menu:after, .show-pannel #menu-more .icon-menu, .show-pannel #menu-more .icon-menu:before, .show-pannel #menu-more .icon-menu:after {
	background: #323232;
}
#menu {
	float: right;
	font-size: 16px;
}
#menu a {
	display: inline-block;
	padding: 0 35px;
	color: #333;
	line-height: 100px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
}
#menu a:hover {
	color: rgba(51, 51, 51, 1);
	background-color: #DBDBDB;
	opacity: 1;
}
#menu a.active {
	color: #fff;
}
.menu-list {
	position: fixed;
	_position: absolute;
	top: 100px;
	width: 100%;
	height: 0;
	min-height: 0;
	z-index: 23333;
	height: 0;
	-webkit-transition: height .3s ease;
	-moz-transition: height .3s ease;
	transition: height .3s ease;
	background: #000;
	background: rgba(0, 0, 0, 0.85);
	overflow: hidden;
}
.menu-list ul {
	position: absolute;
	width: 1000px;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -500px;
	_margin-top: -200px;
}
.menu-list li {
	float: left;
	color: #fff;
	width: 30%;
	margin: 20px 0 10px 3.3%;
	_margin-left: 1%;
	display: inline;
	line-height: 35px;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
}
.menu-list li.primary {
	display: none;
}
.menu-list li h2 {
	font-size: 36px;
	padding: 0 0 10px 24px;
}
.menu-list li a {
	color: #aaa;
}
.menu-list li a.active {
	color: #fff;
}
.menu-list li a span {
	float: left;
	height: 12px;
	width: 12px;
	overflow: hidden;
	background: #eb6100;
	border-radius: 10px;
	margin: 11px 10px 0 0;
	visibility: hidden;
}
.menu-list li a.active span {
	visibility: visible;
}
.show-pannel #menu-more, #menu-more:active {
	background: #DADADA;
}
.show-pannel .menu-list {
	height: 100%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;/* -webkit-animation:slideDown .4s ease; -moz-animation:slideDown .4s ease; animation:slideDown .4s ease;*/
}

/*.show-pannel #layer { display:block; height:100%;-webkit-animation:slideDown .7s ease;}*/
.small-header #header {
	height: 50px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.small-header #logo, .small-header #logo a {
	width: 69px;
	height: 35px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}
.small-header #logo {
	padding: 8px 0 0 20px;
}
.small-header #menu a {
	line-height: 50px;
}
.small-header .menu-list {
	top: 50px;
}
.small-header #menu-more {
	padding: 24px 20px 0 20px;
	height: 26px;
}

#container-wrap {
	padding: 0 0 40px;
}
.cmltpage {
	position: relative;
}
.cmltpage .bg {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
}
.cmltpage .main {
	display: none;
	position: relative;
}
.animated .main {
	display: block;
}
#cmlt1 {
	padding: 101px 0 0;
	background:url(../images/new-cm-bg-bar1.png) 0 100% repeat-x #f6f8fa;
	height: 600px;
}
#cmlt1 .main {
	height:280px;
	padding:120px 0 200px;
}
#cmlt1 .billboard-left {
  margin:0 0 0 70px;
  width:290px;/* Should be same as img.title */
}
#cmlt1 .title {
	margin:0 auto;
  width:290px;
	height:90px;/* Original size: 290*90 */
	display:none;
}
#cmlt1 .cm-2dcode {
	display:none;
  margin:18px auto 0;
  width:128px;
}

#cmlt1 .banner {
	position: fixed;
	top: 101px;
	right: -100%;
}
#cmlt1 img {
	display:block;
}
#cmlt1 .dl {
	position:relative;
	z-index:1;
	display:none;
	margin:60px auto 0;
	width:214px;
	height:56px;
	line-height:56px;
	text-align:center;
	background:#2f6bd6;
	color:#fff;
	font-size:18px;
  border-radius:5px;
  -webkit-transition:all .4s ease;
  -moz-transition:all .4s ease;
  -ms-transition:all .4s ease;
  -o-transition:all .4s ease;
  transition:all .4s ease;
}
#cmlt1 .dl:hover {
	background:#3973e5;
}
#cmlt1 .dl:active {
	background:#2a64cb;
}
#cmlt1 .phone {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 690px;
}

#cmlt2 {
	height:600px;
}
#cmlt2 .main {
	padding:200px 0 100px;
	height:300px;
}
#cmlt2 .flyLeft {
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:0;
}
.garbage {
  position:absolute;
  bottom:90px;
  left:30px;
	width:386px;
	height:386px;
}
.garb-son {
  position:absolute;
  left:0;
  top:0;
}

.garb-son.broom,
.garb-son.fan,
.garb-son.done,
.garb-son.bubbles {
  width:386px;
  height:386px;
}
.garb-son.broom {
  background:url(../images/new-cm-new-broom.png?v=new) no-repeat;
  -webkit-animation:rotateBroom .5s ease forwards 2s;
  -moz-animation:rotateBroom .5s ease forwards 2s;
  -ms-animation:rotateBroom .5s ease forwards 2s;
  -o-animation:rotateBroom .5s ease forwards 2s;
  animation:rotateBroom .5s ease forwards 2s;
}
@-webkit-keyframes rotateBroom {from {-webkit-transform:rotateY(0deg);opacity:1;} to {-webkit-transform:rotateY(90deg);opacity:0;}}
@-moz-keyframes rotateBroom {from {-moz-transform:rotateY(0deg);opacity:1;} to {-moz-transform:rotateY(90deg);opacity:0;}}
@-ms-keyframes rotateBroom {from {-ms-transform:rotateY(0deg);opacity:1;} to {-ms-transform:rotateY(90deg);opacity:0;}}
@-o-keyframes rotateBroom {from {-o-transform:rotateY(0deg);opacity:1;} to {-o-transform:rotateY(90deg);opacity:0;}}
@keyframes rotateBroom {from {transform:rotateY(0deg);opacity:1;} to {transform:rotateY(90deg);opacity:0;}}

.garb-son.fan { /* Multiple animations: first rotate, then swirl, which is sync as .done ! */
  background:url(../images/new-cm-rolling-fan.png) no-repeat;
  -webkit-animation:rotateFan 2s linear forwards, swirlFan .5s ease forwards 2s;
  -moz-animation:rotateFan 2s linear forwards, swirlFan .5s ease forwards 2s;
  -ms-animation:rotateFan 2s linear forwards, swirlFan .5s ease forwards 2s;
  -o-animation:rotateFan 2s linear forwards, swirlFan .5s ease forwards 2s;
  animation:rotateFan 2s linear forwards, swirlFan .5s ease forwards 2s;
}
@-webkit-keyframes rotateFan {from {-webkit-transform:rotate(0deg);} to {-webkit-transform:rotate(720deg);}}
@-moz-keyframes rotateFan {from {-moz-transform:rotate(0deg);} to {-moz-transform:rotate(720deg);}}
@-ms-keyframes rotateFan {from {-ms-transform:rotate(0deg);} to {-ms-transform:rotate(720deg);}}
@-o-keyframes rotateFan {from {-o-transform:rotate(0deg);} to {-o-transform:rotate(720deg);}}
@keyframes rotateFan {from {transform:rotate(0deg);} to {transform:rotate(720deg);}}

@-webkit-keyframes swirlFan {from {-webkit-transform:rotateY(0deg);opacity:1;} to {-webkit-transform:rotateY(90deg);opacity:0;}}
@-moz-keyframes swirlFan {from {-moz-transform:rotateY(0deg);opacity:1;} to {-moz-transform:rotateY(90deg);opacity:0;}}
@-ms-keyframes swirlFan {from {-ms-transform:rotateY(0deg);opacity:1;} to {-ms-transform:rotateY(90deg);opacity:0;}}
@-o-keyframes swirlFan {from {-o-transform:rotateY(0deg);opacity:1;} to {-o-transform:rotateY(90deg);opacity:0;}}
@keyframes swirlFan {from {transform:rotateY(0deg);opacity:1;} to {transform:rotateY(90deg);opacity:0;}}


.garb-son.done {
  opacity:0;
  background:url(../images/new-cm-checking-done.png) no-repeat;
  -webkit-animation: showDone .5s ease forwards 2.5s;
  -moz-animation: showDone .5s ease forwards 2.5s;
  -ms-animation: showDone .5s ease forwards 2.5s;
  -o-animation: showDone .5s ease forwards 2.5s;
  animation: showDone .5s ease forwards 2.5s;
}
@-webkit-keyframes showDone {from {opacity:0;-webkit-transform:rotateY(90deg);} to {opacity:1;-webkit-transform:rotateY(0deg);}}
@-moz-keyframes showDone {from {opacity:0;-moz-transform:rotateY(90deg);} to {opacity:1;-moz-transform:rotateY(0deg);}}
@-ms-keyframes showDone {from {opacity:0;-ms-transform:rotateY(90deg);} to {opacity:1;-ms-transform:rotateY(0deg);}}
@-o-keyframes showDone {from {opacity:0;-o-transform:rotateY(90deg);} to {opacity:1;-o-transform:rotateY(0deg);}}
@keyframes showDone {from {opacity:0;transform:rotateY(90deg);} to {opacity:1;transform:rotateY(0deg);}}


/* Animations for bubbles, make every bubble-div rotate */
.bubble {
  position:absolute;
  width:100%;
  height:100%;
}
.bubble s {
  position:absolute;
  background-repeat:no-repeat;
  background-image:url(../images/new-cm-ball64.png);
  text-indent:-9999px;
}
@-webkit-keyframes hidingBubbles {from {opacity:1;} to{opacity:0;}}
@-moz-keyframes hidingBubbles {from {opacity:1;} to{opacity:0;}}
@-ms-keyframes hidingBubbles {from {opacity:1;} to{opacity:0;}}
@-o-keyframes hidingBubbles {from {opacity:1;} to{opacity:0;}}
@keyframes hidingBubbles {from {opacity:1;} to{opacity:0;}}
/* ==== Bubble A: ==== */
.bubble.bubb-a {
  right:-80px;
  top:-10px;
  -webkit-animation: bubbleMoving_A .6s ease-in forwards .1s 3, hidingBubbles .1s ease forwards 2s;
  -moz-animation: bubbleMoving_A .6s ease-in forwards .1s 3, hidingBubbles .1s ease forwards 2s;
  -ms-animation: bubbleMoving_A .6s ease-in forwards .1s 3, hidingBubbles .1s ease forwards 2s;
  -o-animation: bubbleMoving_A .6s ease-in forwards .1s 3, hidingBubbles .1s ease forwards 2s;
  animation: bubbleMoving_A .6s ease-in forwards .1s 3, hidingBubbles .1s ease forwards 2s;
}
.bubble.bubb-a s {
  right:30px;
  top:0px;
  background-size:30px 30px;
  width:30px;
  height:30px;
}
@-webkit-keyframes bubbleMoving_A {
  0 {-webkit-transform:rotate(0deg);right:-80px;top:-10px;scale(1);}
  100% {-webkit-transform:rotate(120deg);right:100px;top:-180px;scale(2);}
}
@-moz-keyframes bubbleMoving_A {
  0 {-moz-transform:rotate(0deg);right:-80px;top:-10px;scale(1);}
  100% {-moz-transform:rotate(120deg);right:100px;top:-180px;scale(0);}
}
@-ms-keyframes bubbleMoving_A {
  0 {-ms-transform:rotate(0deg);right:-80px;top:-10px;scale(1);}
  100% {-ms-transform:rotate(120deg);right:100px;top:-180px;scale(0);}
}
@-o-keyframes bubbleMoving_A {
  0 {-o-transform:rotate(0deg);right:-80px;top:-10px;scale(1);}
  100% {-o-transform:rotate(120deg);right:100px;top:-180px;scale(0);}
}
@keyframes bubbleMoving_A {
  0 {transform:rotate(0deg);right:-80px;top:-10px;scale(1);}
  100% {transform:rotate(120deg);right:100px;top:-180px;scale(2);}
}

/* ==== Bubble B: ==== */
.bubble.bubb-b {
  left:-20px;
  top:-30px;
  -webkit-animation: bubbleMoving_B .5s ease-in forwards .2s 3, hidingBubbles .1s ease forwards 2s;
  -moz-animation: bubbleMoving_B .5s ease-in forwards .2s 3, hidingBubbles .1s ease forwards 2s;
  -ms-animation: bubbleMoving_B .5s ease-in forwards .2s 3, hidingBubbles .1s ease forwards 2s;
  -o-animation: bubbleMoving_B .5s ease-in forwards .2s 3, hidingBubbles .1s ease forwards 2s;
  animation: bubbleMoving_B .5s ease-in forwards .2s 3, hidingBubbles .1s ease forwards 2s;
}
.bubble.bubb-b s {
  top:30px;
  background-size:45px 45px;
  width:45px;
  height:45px;
}
@-webkit-keyframes bubbleMoving_B {
  0 {-webkit-transform:rotate(0deg);left:-20px;top:-30px;scale(1);}
  100% {-webkit-transform:rotate(120deg);left:-175px;top:75px;scale(0);}
}
@-moz-keyframes bubbleMoving_B {
  0 {-moz-transform:rotate(0deg);left:-20px;top:-30px;scale(1);}
  100% {-moz-transform:rotate(120deg);left:-175px;top:75px;scale(0);}
}
@-ms-keyframes bubbleMoving_B {
  0 {-ms-transform:rotate(0deg);left:-20px;top:-30px;scale(1);}
  100% {-ms-transform:rotate(120deg);left:-175px;top:75px;scale(0);}
}
@-o-keyframes bubbleMoving_B {
  0 {-o-transform:rotate(0deg);left:-20px;top:-30px;scale(1);}
  100% {-o-transform:rotate(120deg);left:-175px;top:75px;scale(0);}
}
@keyframes bubbleMoving_B {
  0 {transform:rotate(0deg);left:-20px;top:-30px;scale(1);}
  100% {transform:rotate(120deg);left:-175px;top:75px;scale(0);}
}

/* ==== Bubble C: ==== */
.bubble.bubb-c {
  right:-50px;
  bottom:-20px;
  -webkit-animation: bubbleMoving_C .7s ease-in forwards .1s 3, hidingBubbles .1s ease forwards 2s;
  -moz-animation: bubbleMoving_C .7s ease-in forwards .1s 3, hidingBubbles .1s ease forwards 2s;
  -ms-animation: bubbleMoving_C .7s ease-in forwards .1s 3, hidingBubbles .1s ease forwards 2s;
  -o-animation: bubbleMoving_C .7s ease-in forwards .1s 3, hidingBubbles .1s ease forwards 2s;
  animation: bubbleMoving_C .7s ease-in forwards .1s 3, hidingBubbles .1s ease forwards 2s;
}
.bubble.bubb-c s {
  background-size:64px 64px;
  width:64px;
  height:64px;
  right:20%;
  bottom:0;
}
@-webkit-keyframes bubbleMoving_C {
  0 {-webkit-transform:rotate(0deg);right:-50px;bottom:-20px;scale(1);}
  100% {-webkit-transform:rotate(125deg);right:-180px;bottom:-35px;scale(0);}
}
@-moz-keyframes bubbleMoving_C {
  0 {-moz-transform:rotate(0deg);right:-50px;bottom:-20px;scale(1);}
  100% {-moz-transform:rotate(125deg);right:-180px;bottom:-35px;scale(0);}
}
@-ms-keyframes bubbleMoving_C {
  0 {-ms-transform:rotate(0deg);right:-50px;bottom:-20px;scale(1);}
  100% {-ms-transform:rotate(125deg);right:-180px;bottom:-35px;scale(0);}
}
@-o-keyframes bubbleMoving_C {
  0 {-o-transform:rotate(0deg);right:-50px;bottom:-20px;scale(1);}
  100% {-o-transform:rotate(125deg);right:-180px;bottom:-35px;scale(0);}
}
@keyframes bubbleMoving_C {
  0 {transform:rotate(0deg);right:-50px;bottom:-20px;scale(1);}
  100% {transform:rotate(125deg);right:-180px;bottom:-35px;scale(0);}
}

/* ==== Bubble D: ==== */
.bubble.bubb-d {
  left:-120px;
  top:0px;
  -webkit-animation: bubbleMoving_D .6s ease-in forwards .2s 3, hidingBubbles .1s ease forwards 2s;
  -moz-animation: bubbleMoving_D .6s ease-in forwards .2s 3, hidingBubbles .1s ease forwards 2s;
  -ms-animation: bubbleMoving_D .6s ease-in forwards .2s 3, hidingBubbles .1s ease forwards 2s;
  -o-animation: bubbleMoving_D .6s ease-in forwards .2s 3, hidingBubbles .1s ease forwards 2s;
  animation: bubbleMoving_D .6s ease-in forwards .2s 3, hidingBubbles .1s ease forwards 2s;
}
.bubble.bubb-d s {
  background-size:32px 32px;
  width:32px;
  height:32px;
  left:10%;
  bottom:0;
}
@-webkit-keyframes bubbleMoving_D {
  0 {-webkit-transform:rotate(0deg);left:-120px;top:0px;scale(1);}
  100% {-webkit-transform:rotate(150deg);left:-20px;top:250px;scale(0);}
}
@-moz-keyframes bubbleMoving_D {
  0 {-moz-transform:rotate(0deg);left:-120px;top:0px;scale(1);}
  100% {-moz-transform:rotate(150deg);left:-20px;top:250px;scale(0);}
}
@-ms-keyframes bubbleMoving_D {
  0 {-ms-transform:rotate(0deg);left:-120px;top:0px;scale(1);}
  100% {-ms-transform:rotate(150deg);left:-20px;top:250px;scale(0);}
}
@-o-keyframes bubbleMoving_D {
  0 {-o-transform:rotate(0deg);left:-120px;top:0px;scale(1);}
  100% {-o-transform:rotate(150deg);left:-20px;top:250px;scale(0);}
}
@keyframes bubbleMoving_D {
  0 {transform:rotate(0deg);left:-120px;top:0px;scale(1);}
  100% {transform:rotate(150deg);left:-20px;top:250px;scale(0);}
}

#cmlt2 .desc {
	padding-left:520px;
	position:relative;
	z-index:1;
}
#cmlt2 .desc img {
	width:422px;
}
#cmlt2 .desc dl {
	display:none;
	margin-top:35px;
	color:#777;
	font-size:14px;
}
#cmlt2 .desc dt {
	color:#8b8b8b;
	font-size:24px;
	margin-bottom:4px;
	font-weight:normal;
}

#cmlt3 {
	height:500px;
}
#cmlt3 .main {
	height:80px;
	padding:60px 0 340px;
}
#cmlt3 .title {
	display:block;
	margin:0 auto;
}
#cmlt3 ul {
	position:absolute;
	left:0;
	bottom:-160px;
	z-index:1;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
#cmlt3 li {
	padding:0 0 55px;
	background:url(../images/cmlite/s1.png) no-repeat center bottom;
	float:left;
	text-align:center;
	display:none;
	color:#FCF7F7;
}
#cmlt3 p.tip {
	position:absolute;
	left:0;
	bottom:-180px;
	z-index:1;
	font-size:12px;
	color:#8b8b8b;
}
.canRgba #cmlt3 li {
	color: rgba(255, 255, 255, .8);
}
#cmlt3 .b2 {
	margin: 0 60px;
}
#cmlt3 .box {
	position: relative;
	height:400px;
	width:280px;
  border-radius:6px;
	overflow:hidden;
}
#cmlt3 .b1 .box {
	background: #ec732e;
}
#cmlt3 .b2 .box {
	background: #19aa49;
}
#cmlt3 .b3 .box {
	background: #3060b2;
}
#cmlt3 .icon {
	width: 122px;
	height: 122px;
	position: absolute;
	background-repeat: no-repeat;
}
.canTransform #cmlt3 li.hover .icon, #cmlt3 .icon {
	left:80px;
	top:100px;
	right:auto;
}
#cmlt3 li.hover .icon {
	-webkit-transform: scale(1.2) translate(80px, -80px) rotate(-30deg);
	-moz-transform: scale(1.2) translate(80px, -80px) rotate(-30deg);
	-ms-transform: scale(1.2) translate(80px, -80px) rotate(-30deg);
	transform: scale(1.2) translate(80px, -80px) rotate(-30deg);
	opacity:.3;
	filter:alpha(opacity=30);
	top:-40px;
	right:-40px;
	left:auto;
}
#cmlt3 .b1 .icon {
  background-image:url(../images/new-cm-icon-acce.png);
}
#cmlt3 .b2 .icon {
  background-image:url(../images/new-cm-icon-wechat.png);
}
#cmlt3 .b3 .icon {
  background-image:url(../images/new-cm-icon-noti.png);
}
.canBackgroundSize #cmlt3 .b1 .icon {
  background-image:url(../images/new-cm-icon-acce.png);
}
.canBackgroundSize #cmlt3 .b2 .icon {
  background-image:url(../images/new-cm-icon-wechat.png);
}
.canBackgroundSize #cmlt3 .b3 .icon {
  background-image:url(../images/new-cm-icon-noti.png);
}
#cmlt3 .exp, #cmlt3 .desc {
	position: absolute;
	padding: 0 30px;
	width: 220px;
	top: 235px;
	left: 0;
}
#cmlt3 .exp {
	font-size: 15px;
	line-height: 1.5;
}
#cmlt3 .exp h3 {
	font-size: 24px;
	color: #fff;
}
#cmlt3 .desc {
	top: 200px;
	font-size: 14px;
	line-height: 1.6;
	text-align: left;
	opacity: 0;
	filter: alpha(opacity=0);
}
#cmlt3 .desc h3 {
	font-size: 22px;
	margin-bottom: 10px;
	color: #fff;
}
#cmlt3 li.hover .exp {
	-webkit-transform: translate(0, 100px);
	-moz-transform: translate(0, 100px);
	transform: translate(0, 100px);
	opacity: 0;
	filter: alpha(opacity=0);
}
#cmlt3 li.hover .desc {
	opacity: 1;
	filter: alpha(opacity=100);
}
.new-cm-bottom-board {
  padding:110px 0 0;
  width:100%;
  height:320px;
  background:#fff;
}
.bottom-content {
  margin:0 auto;
  width:548px;
}
.bottom-2dcode {
  display:block;
  float:left;
}
.bottom-right {
  float:right;
}
.bottom-right img {
  display:block;
  margin:0 0 30px 0;
}
.bottom-right a.dl {
  display:block;
	width:214px;
	height:56px;
	line-height:56px;
	text-align:center;
	background:#2f6bd6;
	color:#fff;
	font-size:18px;
  border-radius:4px;
  -webkit-transition:all .4s ease;
  -moz-transition:all .4s ease;
  -ms-transition:all .4s ease;
  -o-transition:all .4s ease;
  transition:all .4s ease;
}
.bottom-right a.dl:hover {
	background:#3973e5;
}
.bottom-right a.dl:active {
	background:#2a64cb;
}

#cmlt4 {
	height:740px;
}
#cmlt4 .main {
	padding: 200px 0 50px;
	height: 490px;
}
#cmlt4 .desc {
	padding-left: 530px;
	width: 380px;
}
#cmlt4 .phone {
	position: absolute;
	bottom: 0;
	left: 0;
	width:450px;
}
#cmlt4 .p1 {
	z-index: 1;
}
#cmlt4 .p2 {
	left: 246px;
	width: 200px;
}
#cmlt4 .title {
	display: block;
}
#cmlt4 dl {
	margin-top: 60px;
	display: none;
	padding-left: 60px;
}
#cmlt4 .d0 {
	background:url(../images/new-cm-icon-lock.png) no-repeat;
}
#cmlt4 .d1 {
	background:url(../images/new-cm-icon-security.png) no-repeat;
}
#cmlt4 .d2 {
	background:url(../images/new-cm-icon-manage.png) no-repeat;
}
#cmlt4 dt {
	font-size: 24px;
	color: #1457cc;
}
#cmlt4 dd {
	font-size: 14px;
	margin-top: 10px;
	line-height: 1.8;
}
.pageNav {
	position:fixed;
	right:5px;
	top:50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 10;
}
.pageNav i {
	width: 1px;
	height: 8px;
	border: 1px solid rgba(0, 0, 0, .5);
	display: block;
	margin-top: 4px;
}
.pageNav i.active {
	background: #000;
}
#footer, #lastfooter {
	position: relative;
	position: absolute;
	text-align: center;
	font-size: 12px;
	bottom: 0;
	left: 0;
	background: #333;
	color: #fff;
	padding: 10px 0;
	height: 20px;
	line-height: 20px;
}
#lastfooter {
	display: none;
}
#iosTips {
	display: none;
	margin: 0 auto;
	padding-top: 6px;
	text-align: center;
	font-size: 12px;
	color: #adadad;
}

/* Lower IE Browser */
.ie #header {
	background:#f3f3f3;
}
.ie #menu-more {
	padding-top: 42px;
	height: 58px;
}

.ie .icon-menu {
	width:26px;
	height:19px;
	background:url(../images/menumore_black.png) no-repeat!important;
	filter:alpha(opacity=80);
	opacity:0.8;
}
.ie #menu-more:hover .icon-menu {
	filter:alpha(opacity=100);
	opacity:1;
}
.ie .small-header #logo a {
	background-image:url(/images/v1/logo-small-ie.png);
}
.ie .small-header #menu-more {
	padding:16px 20px 0 0;
	height:24px;
}

/* Language menu and video style */
.language-menu {
	display: inline-block;
	width: 80px;
	height: 20px;
	line-height: 20px;
	position: relative;
	text-align: center;
	cursor: pointer;
	vertical-align: top;
}
.language-menu i {
	display: block;
	background: url(../images/lg-icon.png) no-repeat 4px center;
	text-indent: 20px;
	overflow: hidden;
	font-style: normal;
}
.language-menu em {
	display: none;
	width: 80px;
	height: 252px;
	padding-bottom: 11px;
	border-radius: 4px;
	background: #333;
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: 19px;
	overflow: hidden;
}
.language-menu a {
	display: block;
	width: 80px;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	float: left;
	color: #fff;
	font-style: normal;
}
.language-menu a:hover {
	background: #444;
}
.languageAnition em {
	display: block;
	animation-name: languageAni;
	-webkit-animation: languageAni 0.2s linear 0s normal none;
	-moz-animation: languageAni 0.2s linear 0s normal none;
	animation: languageAni 0.2s linear 0s normal none;
}
@-webkit-keyframes languageAni {
	from {opacity:0;-webkit-transform:scale(1,0);transform-origin:left bottom;}
	to {opacity:1;-webkit-transform: scale(1,1);transform-origin: left bottom;}
}
@-moz-keyframes languageAni {
	from {opacity:0;-moz-transform:scale(1,0);transform-origin:left bottom;}
	to {opacity:1;-moz-transform:scale(1,1);transform-origin:bottom bottom;}
}
@keyframes languageAni {
	from {opacity:0;transform:scale(1,0);transform-origin:left bottom;}
	to {opacity:1;transform:scale(1,1);transform-origin:left bottom;}
}

.copyright {
	display:inline-block;
	height:20px;
	line-height:20px;
	padding-right:15px;
	vertical-align:top;
}
.copyright a {
	color:#fff;
}
.copyright em {
	color:#777;
}
.video-wrap {
	display: none;
	width: 100%;
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	background: #fff;
}
.close-btn {
	display: block;
	width: 29px;
	height: 29px;
	background: url(../images/closeVideo.png) no-repeat left top;
	background-size: 100% 100%;
	position: absolute;
	z-index: 111;
	top: 50%;
	left: 50%;
	margin: -310px 0 0 320px;
	cursor: pointer;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
}
.close-btn:hover {
	display: block;
	background: url(../images/closeVideohover.png) no-repeat left top;
	background-size: 100% 100%;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}
.video-main {
	width: 640px;
	height: 500px;
	border: 1px solid #ccc;
	position: absolute;
	z-index: 112;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -320px;
	overflow: hidden;
}
#cmlt1 .play-video {
	display:none;
  position:relative;
	margin:3px auto 0;
	position:relative;
	z-index:1;
	width:68px;
	height:22px;
	line-height:22px;
	font-size:16px;
	color:#2f6bd6;
	text-align:left;
}
#cmlt1 .play-video s {
  position:absolute;
  right:-16px;
  top:3px;
  width:16px;
  height:16px;
  text-indent:-9999px;
	background:url(../images/new-cm-playbtn.png) no-repeat;
}

/* slide */
.slide-main {
	display: block;
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 121;
	overflow: hidden;
}
.prev, .next {
	display: block;
	width: 49px;
	height: 49px;
	position: absolute;
	background: url(../images/slide-fbtn.png);
	background-repeat: no-repeat;
	border-radius: 5px;
	z-index: 50;
	top: 50%;
	margin-top: -25px;
	cursor: pointer;
	text-indent: -999px;
	overflow: hidden;
}
.prev {
	left: 60px;
	background-position: left top;
}
.next {
	right: 60px;
	background-position: left -50px;
}
.prev:hover {
	background-position: left -100px;
}
.next:hover {
	background-position: left -150px;
}
.slide {
	display: block;
	width: 100%;
	min-height: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}
.item {
	display: block;
	width: 100%;
	height: 13px;
	position: absolute;
	z-index: 40;
	left: 0;
	bottom: 60px;
	text-align: center;
}
.item a {
	display: inline-block;
	width: 13px;
	height: 13px;
	margin: 0 5px;
	background: url(../images/slide-fbtn.png) no-repeat -25px -219px;
}
.item a.cur {
	background-position: left -219px;
}
.sldieAnimate {
	display: block;
	z-index: 9
}
.wxclean-phone, .wxclean-text {
	display: none;
	position: absolute;
	z-index: 11;
}
.wxclean-phone {
	width: 596px;
	height: 796px;
	bottom: -50px;
	left: 50%;
	margin-left: -600px;
}
.wxclean-text {
	left: 50%;
	margin: -50px 0 0 100px;
	top: 50%;
}
.wxclean-phone img {
	width: 100%;
	vertical-align: top;
}
.wxclean-text strong, .wxclean-text i {
	display: block;
}
.wxclean-text strong {
	padding-bottom: 20px;
	font-size: 64px;
	color: #333;
	font-weight: normal;
}
.wxclean-text i {
	padding-bottom: 44px;
	font-size: 20px;
	color: #22b577;
}
.wxclean-btn {
	display: block;
	width: 192px;
	height: 60px;
	line-height: 60px;
	background: #22b577;
	font-size: 20px;
	text-align: center;
	color: #fff;
}
.wxclean-btn:hover {
	background: #11905a;
}
.wxclean-btn.nosandroid {
	background: #bebebe;
}
.sldieAnimate .wxclean-phone {
	display: block;
	animation-name: wxcleana;
	-webkit-animation: wxcleana 0.4s linear 0s normal none;
	-moz-animation: wxcleana 0.4s linear 0s normal none;
	animation: wxcleana 0.4s linear 0s normal none;
}
@-webkit-keyframes wxcleana {
	from {opacity: 0;-webkit-transform: translateX(-50px);}
	to {opacity: 1;-webkit-transform: translateX(0px);}
}
@-moz-keyframes wxcleana {
	from {opacity:0;-moz-transform: translateX(-50px);}
	to {opacity:1;-moz-transform: translateX(0px);}
}
@keyframes wxcleana {
	from {opacity:0;transform: translateX(-50px);}
	to {opacity:1;transform: translateX(0px);}
}
.sldieAnimate .wxclean-text {
	display: block;
	animation-name: wxcleanb;
	-webkit-animation: wxcleanb 0.4s linear 0s normal none;
	-moz-animation: wxcleanb 0.4s linear 0s normal none;
	animation: wxcleanb 0.4s linear 0s normal none;
}
@-webkit-keyframes wxcleanb {
	from {opacity: 0;-webkit-transform: translateX(50px);}
	to {opacity: 1;-webkit-transform: translateX(0px);}
}
@-moz-keyframes wxcleanb {
	from {opacity: 0;-moz-transform: translateX(50px);}
	to {opacity: 1;-moz-transform: translateX(0px);}
}
@keyframes wxcleanb {
	from {opacity:0;transform: translateX(50px);}
	to {opacity:1;transform: translateX(0px);}
}

/* 将 :hover 效果全部放入 > 801px 里面处理 */
@media (min-width:801px) {
	#menu-more:hover .icon-menu, #menu-more:hover .icon-menu:before, #menu-more:hover .icon-menu:after {
		background: #323232;
	}
	.menu-list li a:hover {
		color: #fff;
	}
	.menu-list li a:hover span {
		visibility: visible;
	}
}

@media  only screen and (-webkit-min-device-pixel-ratio:1.5),
        only screen and (min--moz-device-pixel-ratio:1.5),
        only screen and (-moz-min-device-pixel-ratio:1.5),
        only screen and (-o-min-device-pixel-ratio:3/2),
        only screen and (min-device-pixel-ratio:1.5) {/* 高分屏 */
	#logo a{background-image:url(../images/x2/logo_black.png);}
	.fixed #logo a{background-image:url(../images/x2/logo_black_small.png);}
	.canTransition .fixed #logo a{background-image:url(../images/x2/logo_black.png);}
}

@media (min-width:1300px) {
	.inner{max-width:1200px;}
}


/* ===== 宽版: ===== */
@media (min-width:1300px) and (min-height:750px) {
	body {
		font-size: 14px;
	}
	.wrapper {
		min-width: 1200px;
	}
	.main {
		width: 1200px;
	}
	#cmlt1 {
		height: 800px;
	}
	#cmlt1 .main {
		height:300px;
		padding:250px 0 250px;
    border:none;
	}
	#cmlt1 .title {
		height: auto;
	}
	#cmlt1 .phone {
		width: auto;
	}
  #cmlt1 .cm-2dcode {
    margin:38px auto 0;
  }
	#cmlt2 {
		height: 800px;
	}
	#cmlt2 .main {
		padding: 300px 0 200px;
		height: 300px;
	}
	#cmlt2 .garbage {
    left: 120px;
    bottom: 175px;
	}
	#cmlt2 .desc {
		padding-left: 650px;
	}
	#cmlt2 .desc img {
		width: auto;
	}
	#cmlt3 {
		height: 760px;
	}
	#cmlt3 .main {
		height: 110px;
		padding: 150px 0 500px;
	}
	#cmlt3 .title {
		height: auto;
	}
	#cmlt3 .box {
		height: 550px;
		width: 320px;
	}
	#cmlt3 li {
		padding: 0 0 45px;
		background: url(../images/cmlite/s1.png) no-repeat center bottom;
	}
	#cmlt3 .b2 {
		margin: 0 120px;
	}
	#cmlt3 .icon {
		left: 100px;
		top: 160px;
	}
	#cmlt3 .exp, #cmlt3 .desc {
		padding: 0 40px;
		width: 240px;
		top: 305px;
	}
	#cmlt3 .exp {
		font-size: 18px;
		line-height: 1.8;
	}
	#cmlt3 .desc {
		top: 280px;
	}
	#cmlt4 {
		height: 1060px;
	}
	#cmlt4 .main {
		padding: 280px 0 150px;
		height: 630px;
	}
	#cmlt4 dl {
		margin-top: 120px;
	}
	#cmlt4 .desc {
		padding-left: 730px;
	}
	#cmlt4 .phone {
		width: auto;
	}
	#cmlt4 .p2 {
		left: 358px;
		width: auto;
	}
	#cmlt4 .title {
		height: auto;
	}
}

/* ===== 单独处理: ===== */
@media (max-width:1008px) {
  #cmlt3 .b2 {margin:0 50px;}
}
@media (max-width:988px) {
  #cmlt3 .b2 {margin:0 40px;}
}
@media (max-width:978px) {
  #cmlt3 .b2 {margin:0 30px;}
}
@media (max-width:918px) {
  #cmlt3 .b2 {margin:0 20px;}
}
@media (max-width:899px) {
  #cmlt3 .box {width:270px;}
}
@media (max-width:869px) {
  #cmlt3 .box {width:260px;}
}
@media (max-width:839px) {
  #cmlt3 .box {width:250px;}
}
@media (max-width:829px) {
  #cmlt3 .b2 {margin:0 5px;}
}




/* ===== 平板: ===== */
@media (max-width:800px) {
	.prev, .next {
		display: none;
	}
	#container-wrap {
		padding: 0 0 0;
	}
	.CMLITE #footer {
		display:none;
	}
	#lastfooter {
		display:block;
	}
	.wrapper {
		min-width: 320px;
	}
	.main {
		width: 100%;
	}
	#header {
		height: 50px;
		box-shadow: none;
		position: absolute;
	}
	#logo, #logo a {
		width: 108px;
		height: 35px;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		transition: all .3s ease;
	}
	#logo {
		padding: 8px 0 0 10px;
	}
	#logo a {
		background-image: url(../images/x2/logo-mobile-black.png);
		background-position: 0 center;
		background-size: 100%;
		width: 62px;
	}
	#menu-more {
		padding: 24px 10px 0 10px;
		height: 26px;
	}
	#menu a {
		line-height: 50px;
		padding: 0 15px;
	}
	.icon-menu, .icon-menu:before, .icon-menu:after {
		width: 20px;
		height: 2px;
	}
	.icon-menu:before, .icon-menu:after {
		top: -5px;
	}
	.icon-menu:after {
		top: 5px;
	}
	.menu-list {
		top: 50px;
		position: absolute;
		bottom: 0;
	}
	.menu-list ul {
		position: static;
		margin: 0;
		width: auto;
	}
	.menu-list ul {
		padding: 20px 0 0 15%;
	}
	.menu-list li {
		width: 97%;
		font-size: 16px;
		line-height: 30px;
		margin-top: 10px;
	}
	.menu-list li a span {
		margin-top: 8px;
	}
	.menu-list li.primary {
		display: block;
	}
	.menu-list li h2 {
		font-size: 30px;
		padding-bottom: 8px;
	}
	.blog-list li a:after, .list-layer {
		-webkit-transition: none;
		-moz-transition: none;
		transition: none;
	}
	.blog-list li a span {
		font-size: 16px;
	}
	.show-pannel .menu-list {
		min-height: 650px;
	}
	#cmlt1 {
		height: 480px;
	}
	#cmlt1 .banner {
		top: 51px;
		height: 50px;
	}
	#cmlt1 .title {
		margin:0 auto 20px;
	}
	#cmlt1 .phone {
		width:500px;
		left:50%;
		margin-left:-250px;
	}
	#cmlt1 .main {
		padding:30px 0 250px;
	}
	#cmlt2 {
		height:580px;
	}
	#cmlt2 .main {
		padding:50px 0 170px;
	}
	#cmlt2 .garbage{
		left:50%;
		bottom:0;
		margin:0 0 -60px -208px;
		-webkit-transform:translate3d(0,0,0) scale(0.7);
		-moz-transform:translate3d(0,0,0) scale(0.7);
		-ms-transform:translate3d(0,0,0) scale(0.7);
		-o-transform:translate3d(0,0,0) scale(0.7);
		transform:translate3d(0,0,0) scale(0.7);
	}
	#cmlt2 .desc {
		padding-left: 0;
		text-align: center;
	}
	#cmlt2 .desc img{
		width: 300px;
	}
	#cmlt2 .desc dl{
		margin-top: 15px;
	}
	#cmlt3 ul {
		display: -webkit-box;
		display: -moz-box;
		display: box;
		z-index: 1;
	}
	#cmlt3 li {
		width: 100%;
	}
	#cmlt3 .b2 {
		margin: 0;
	}
	#cmlt3 .box {
		margin:0 auto;
    width:280px;
	}
	#cmlt3 .nav {
		position: absolute;
		bottom: -100px;
		text-align: center;
		width: 100%;
		z-index: 6;
	}
	#cmlt3 .nav i {
		border: 1px solid #fff;
		border-radius: 100%;
		display: inline-block;
		margin: 0 5px;
		width: 7px;
		height: 7px;
		cursor: pointer;
	}
	#cmlt3 .nav .active {
		background: #fff;
	}
	#cmlt3 .title{
		height: 30px;
	}
	#cmlt4 .title {
		display: block;
		margin: 0 auto;
		height: 42px;
	}
	#cmlt4 .desc {
		margin: 0 auto;
		padding-left: 0;
	}
	#cmlt4 .phone {
		display: none;
	}
	#cmlt4 dl {
		margin-top:45px;
	}
}

@media (max-width:540px) {
	body {
		background: #fff;
	}
	#container-wrap {
		padding: 0 0 0;
	}
	#lastfooter {
		display:block;
	}
	.cmltpage {
		height:400px!important;
	}
	.cmltpage#cmlt2 {
		height:500px!important;
	}
	.cmltpage .main {
		height:100%!important;
		box-sizing:border-box;
	}
	#cmlt1 {
		padding-top: 51px;
	}
	.canTouch .cmltpage {
		position: absolute;
		top: 51px;
		left: 0;
		bottom: 0;
		height: auto !important;
		display: none;
	}
	.canTouch .cmltpage .main {
		height: 100% !important;
		box-sizing: border-box;
	}
	.canTouch #cmlt1 {
		padding:0;
	}
	#cmlt1 .banner {
		display:none;
	}
  #cmlt1 .billboard-left {
    margin:0 auto;
  }
	#cmlt1 .title {
		margin:0 auto 20px;
	}
	#cmlt1 .dl {
    margin:25px auto 0;
	}
  #cmlt1 .cm-2dcode {
    display:none;
    margin:0;
    width:0px;
    height:0px;
  }
	#cmlt1 .phone {
		width:300px;
		margin-left:-150px;
	}
	#cmlt2 .main {
		padding-top: 30px;
	}
	#cmlt2 .garbage{
    margin:0 0 -70px -208px;
    bottom:30px;
    -webkit-transform: translate3d(0,0,0) scale(0.6);
    -moz-transform: translate3d(0,0,0) scale(0.6);
    -ms-transform: translate3d(0,0,0) scale(0.6);
    -o-transform: translate3d(0,0,0) scale(0.6);
    transform: translate3d(0,0,0) scale(0.6);
	}
	#cmlt2 .desc img {
		width: auto;
    height: 58px;
	}
	#cmlt2 .desc dl{
		margin-top: 10px;
	}
	#cmlt2 .desc dt {
		font-size: 18px;
		color: #8b8b8b;
	}
	#cmlt2 .pgy {
		width: 220px;
		left: 20px;
		z-index: 0;
	}
	#cmlt3 .main {
		padding-top: 30px;
	}
	#cmlt3 .title {
		height: 30px;
		position: relative;
		z-index: 7;
	}
	#cmlt3 ul {
		bottom: 0;
		top: 0;
	}
	#cmlt3 p.tip{
		left: 5%;
		text-align: center;
		width: 90%;
		bottom: 32px;
		color: #FFF;
	}
	#cmlt3 li {
		padding-bottom: 0;
		background: none;
	}
	#cmlt3 .box {
		width:100%;
		position:absolute;
		height:100%;
		top:0;
		left:0;
	}
	#cmlt3 .icon {
		left: 50%;
		margin-left: -60px;
		top: 120px;
	}
	#cmlt3 li.hover .icon {
		margin-left: 0;
	}
	#cmlt3 .exp, #cmlt3 .desc {
		width: 260px;
		left: 50%;
		margin-left: -160px;
	}
	#cmlt3 .exp {
		top: 255px;
	}
	#cmlt3 .desc {
		top: 220px;
	}
	#cmlt3 .nav {
		bottom: 15px;
	}
	#cmlt4 .main {
		padding: 20px 0 0;
	}
	#cmlt4 .title {
		height: 30px;
	}
	#cmlt4 .desc {
		width: 300px;
	}
	#cmlt4 dl {
		margin-top: 20px;
		display: none;
		padding-left: 50px;
	}
	#cmlt4 dt {
		font-size: 18px;
	}
	#cmlt4 .d0 {
    background:url(../images/new-cm-icon-lock.png) no-repeat;
		background-size:28px 34px;
	}
	#cmlt4 .d1 {
    background:url(../images/new-cm-icon-security.png) no-repeat;
		background-size:28px 34px;
	}
	#cmlt4 .d2 {
    background:url(../images/new-cm-icon-manage.png) no-repeat;
		background-size:28px 34px;
	}
	#cmlt4 dd {
		line-height: 1.5;
	}
  .cmltpage#cmlt5 {
    height:auto!important;
  }
  .new-cm-bottom-board {
    padding:70px 0 0;
    height:250px;
  }
  .bottom-content {
    width:96%;
  }
  .bottom-2dcode {
    display:none;
  }
  .bottom-right {
    float:none;
  }
  .bottom-right img {
    margin:0 auto 20px;
    width:214px;
  }
  .bottom-right a.dl {
    margin:0 auto;
  }

	.close-btn {
		display: block;
		width: 20px;
		height: 20px;
		background: url(../images/closeVideo.png) no-repeat left -3px;
		background-size: 100% 100%;
		position: absolute;
		z-index: 111;
		top: 10px;
		left: 90%;
		margin: 0;
		cursor: pointer;
		-webkit-transition: 0.2s ease-in-out;
		-moz-transition: 0.2s ease-in-out;
		-ms-transition: 0.2s ease-in-out;
	}
	.close-btn:hover {
		display: block;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
	}
	.video-main {
		width: 90%;
		height: 60%;
		top: 20%;
		left: 5%;
		margin: 0;
		overflow: hidden;
	}
} /* End media of 540 */

/* animate */
@-webkit-keyframes flyMe {
	0% {
		-webkit-transform: translate(-40%, 40%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(0, 0);
		opacity: 1;
	}
}
@-moz-keyframes flyMe {
	0% {
		-moz-transform: translate(-40%, 40%);
		opacity: 0;
	}
	100% {
		-moz-transform: translate(0, 0);
		opacity: 1;
	}
}
@keyframes flyMe {
	0% {
		transform: translate(-40%, 40%);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}
@-webkit-keyframes pgyAni {
	0% {
		-webkit-transform: perspective(500px) translate(-100px, 50px);
		opacity: 0;
	}
	40% {
		-webkit-transform: perspective(500px) translate(0, -50px) rotateX(30deg) rotateY(-30deg);
		opacity: 1;
	}
	70% {
		-webkit-transform: perspective(500px) translate(100px, -100px) scale(.7);
		opacity: 1;
	}
	100% {
		-webkit-transform: perspective(500px) translate(150px, -140px) rotateX(-30deg) rotateY(30deg) scale(.4);
		opacity: 0;
	}
}
@-moz-keyframes pgyAni {
	0% {
		-moz-transform: perspective(500px) translate(-100px, 50px);
		opacity: 0;
	}
	40% {
		-moz-transform: perspective(500px) translate(0, -50px) rotateX(30deg) rotateY(-30deg);
		opacity: 1;
	}
	70% {
		-moz-transform: perspective(500px) translate(100px, -100px) scale(.7);
		opacity: 1;
	}
	100% {
		-moz-transform: perspective(500px) translate(150px, -140px) rotateX(-30deg) rotateY(30deg) scale(.4);
		opacity: 0;
	}
}
@-ms-keyframes pgyAni {
	0% {
		-ms-transform: perspective(500px) translate(-100px, 50px);
		opacity: 0;
	}
	40% {
		-ms-transform: perspective(500px) translate(0, -50px) rotateX(30deg) rotateY(-30deg);
		opacity: 1;
	}
	70% {
		-ms-transform: perspective(500px) translate(100px, -100px) scale(.7);
		opacity: 1;
	}
	100% {
		-ms-transform: perspective(500px) translate(150px, -140px) rotateX(-30deg) rotateY(30deg) scale(.4);
		opacity: 0;
	}
}
@keyframes pgyAni {
	0% {
		transform: perspective(500px) translate(-100px, 50px);
		opacity: 0;
	}
	40% {
		transform: perspective(500px) translate(0, -50px) rotateX(30deg) rotateY(-30deg);
		opacity: 1;
	}
	70% {
		transform: perspective(500px) translate(100px, -100px) scale(.7);
		opacity: 1;
	}
	100% {
		transform: perspective(500px) translate(150px, -140px) rotateX(-30deg) rotateY(30deg) scale(.4);
		opacity: 0;
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
@-moz-keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
@-webkit-keyframes scaleIn {
	0% {
		-webkit-transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes scaleIn {
	0% {
		-moz-transform: scale(0);
	}
	100% {
		-moz-transform: scale(1);
	}
}
@keyframes scaleIn {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@-webkit-keyframes scaleOut {
	0% {
		-webkit-transform: scale(2);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes scaleOut {
	0% {
		-moz-transform: scale(2);
	}
	100% {
		-moz-transform: scale(1);
	}
}
@keyframes scaleOut {
	0% {
		transform: scale(2);
	}
	100% {
		transform: scale(1);
	}
}
@-webkit-keyframes scaleIn2 {
	50% {
		-webkit-transform: scale(.9);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
@-webkit-keyframes flyLeft {
	0% {
		-webkit-transform: translateX(-50px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateX(0);
		opacity: 1
	}
}
@-moz-keyframes flyLeft {
	0% {
		-moz-transform: translateX(-50px);
		opacity: 0
	}
	100% {
		-moz-transform: translateX(0);
		opacity: 1
	}
}
@keyframes flyLeft {
	0% {
		transform: translateX(-50px);
		opacity: 0
	}
	100% {
		transform: translateX(0);
		opacity: 1
	}
}
@-webkit-keyframes flyRight {
	0% {
		-webkit-transform: translateX(50px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateX(0);
		opacity: 1
	}
}
@-moz-keyframes flyRight {
	0% {
		-moz-transform: translateX(50px);
		opacity: 0
	}
	100% {
		-moz-transform: translateX(0);
		opacity: 1
	}
}
@keyframes flyRight {
	0% {
		transform: translateX(50px);
		opacity: 0
	}
	100% {
		transform: translateX(0);
		opacity: 1
	}
}
@-webkit-keyframes flyTop {
	0% {
		-webkit-transform: translateY(-50px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes flyTop {
	0% {
		-moz-transform: translateY(-50px);
		opacity: 0
	}
	100% {
		-moz-transform: translateY(0);
		opacity: 1
	}
}
@keyframes flyTop {
	0% {
		transform: translateY(-50px);
		opacity: 0
	}
	100% {
		transform: translateY(0);
		opacity: 1
	}
}
@-webkit-keyframes flyBottom {
	0% {
		-webkit-transform: translateY(50px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateY(0);
		opacity: 1
	}
}
@-moz-keyframes flyBottom {
	0% {
		-moz-transform: translateY(50px);
		opacity: 0
	}
	100% {
		-moz-transform: translateY(0);
		opacity: 1
	}
}
@keyframes flyBottom {
	0% {
		transform: translateY(50px);
		opacity: 0
	}
	100% {
		transform: translateY(0);
		opacity: 1
	}
}
@-webkit-keyframes popIn {
	0% {
		-webkit-transform: scale(0, 0);
		opacity: 0.5;
	}
	100% {
		-webkit-transform: scale(1, 1);
		opacity: 1;
	}
}
@-moz-keyframes popIn {
	0% {
		-moz-transform: scale(0, 0);
		opacity: 0.5;
	}
	100% {
		-moz-transform: scale(1, 1);
		opacity: 1;
	}
}
@keyframes popIn {
	0% {
		transform: scale(0, 0);
		opacity: 0.5;
	}
	100% {
		transform: scale(1, 1);
		opacity: 1;
	}
}
@-webkit-keyframes flipinX {
	0% {
		-webkit-transform: perspective(400px) rotateX(90deg);
		opacity: .8;
	}
	40% {
		-webkit-transform: perspective(400px) rotateX(-10deg);
	}
	70% {
		-webkit-transform: perspective(400px) rotateX(10deg);
	}
	100% {
		-webkit-transform: perspective(400px) rotateX(0);
		opacity: 1;
	}
}
@-moz-keyframes flipinX {
	0% {
		-moz-transform: perspective(400px) rotateX(90deg);
		opacity: .8;
	}
	40% {
		-moz-transform: perspective(400px) rotateX(-10deg);
	}
	70% {
		-moz-transform: perspective(400px) rotateX(10deg);
	}
	100% {
		-moz-transform: perspective(400px) rotateX(0);
		opacity: 1;
	}
}
@-ms-keyframes flipinX {
	0% {
		-ms-transform: perspective(400px) rotateX(90deg);
		opacity: .8;
	}
	40% {
		-ms-transform: perspective(400px) rotateX(-10deg);
	}
	70% {
		-ms-transform: perspective(400px) rotateX(10deg);
	}
	100% {
		-ms-transform: perspective(400px) rotateX(0);
		opacity: 1;
	}
}
@keyframes flipinX {
	0% {
		transform: perspective(400px) rotateX(90deg);
		opacity: .8;
	}
	40% {
		transform: perspective(400px) rotateX(-10deg);
	}
	70% {
		transform: perspective(400px) rotateX(10deg);
	}
	100% {
		transform: perspective(400px) rotateX(0);
		opacity: 1;
	}
}
.flyMe {
	-webkit-animation: flyMe 1s ease;
	-moz-animation: flyMe 1s ease;
	animation: flyMe 1s ease;
}
.fadeIn {
	-webkit-animation: fadeIn 1s ease;
	-moz-animation: fadeIn 1s ease;
	animation: fadeIn 1s ease;
}
.scaleIn {
	-webkit-animation: scaleIn 1s ease;
	-moz-animation: scaleIn 1s ease;
	animation: scaleIn 1s ease;
}
.scaleOut {
	-webkit-animation: scaleOut 1s ease;
	-moz-animation: scaleOut 1s ease;
	animation: scaleOut 1s ease;
}
.flyLeft {
	-webkit-animation: flyLeft 1s ease;
	-moz-animation: flyLeft 1s ease;
	animation: flyLeft 1s ease;
}
.flyRight {
	-webkit-animation: flyRight 1s ease;
	-moz-animation: flyRight 1s ease;
	animation: flyRight 1s ease;
}
.flyTop {
	-webkit-animation: flyTop 1s ease;
	-moz-animation: flyTop 1s ease;
	animation: flyTop 1s ease;
}
.flyBottom {
	-webkit-animation: flyBottom 1s ease;
	-moz-animation: flyBottom 1s ease;
	animation: flyBottom 1s ease;
}
.popIn {
	-webkit-animation: popIn 1s ease;
	-moz-animation: popIn 1s ease;
	animation: popIn 1s ease;
	-webkit-transform-origin: right;
	-moz-transform-origin: right;
	transform-origin: right;
}
.cheetah {
	-webkit-animation: cheetah .6s ease;
	-moz-animation: cheetah .6s ease;
	animation: cheetah .6s ease;
}

/* update */
#cmlt1 .dl.isIoss, #cmlt1 .dl.isIoss:hover {
	background: #bebebe;
}
#wxTispb {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	background: url(../images/maskbg.png);
	text-align: right;
}
#wxTispb img {
	vertical-align: top;
	width: 90%;
	margin: 20px 20px 0 0;
}
.log_content:after, .log-wrap:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
.log-wrap {
	width: 100%;
	margin: 0 auto;
	padding: 142px 0 90px 0;
	background: #fff;
	zoom: 1;
}
.log_content {
	display: block;
	width: 868px;
	margin: 0 auto 20px auto;
	padding: 80px 56px 80px 56px;
	border: 1px solid #dedede;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0 0 2px #ccc;
	position: relative;
	overflow: hidden;
	zoom: 1;
}
.log_date {
	width: 178px;
	position: relative;
	float: left;
}
.log_date h2.new {
	color: #134d88;
}
.log_date h2 b {
	display: block;
	font-size: 20px;
}
.date {
	color: #666;
	font-size: 12px;
}
.log_list {
	line-height: 28px;
	padding-left: 32px;
	border-left: 1px solid #dfdfdf;
	margin-left: 188px;
	font-size: 14px;
	color: #666;
}
.log_list b {
	padding-right: 8px;
	color: #134d88;
}
.log-down {
	display: block;
	width: 100px;
	min-height: 100%;
	background: #204aa7 url(../images/log-down.png) no-repeat 21px center;
	position: absolute;
	top: 0;
	right: 0;
	text-indent: -999px;
	overflow: hidden;
	cursor: pointer;
}
.log-down.logdhover {
	background-position: -123px center;
	-webkit-transition: background-position .2s ease;
	-moz-transition: background-position .2s ease;
	-ms-transition: background-position .2s ease;
	transition: background-position .2s ease
}

/* function bar */
#function-bar {
	display: none;
	width: 40px;
	height: 152px;
	position: relative;
	position: fixed;
	_position: absolute;
	top: 50%;
	right: 40px;
	z-index: 1;
	margin-top: -76px;
	animation-name: fcBar;
	-webkit-animation: fcBar 0.4s linear 0s normal none;
	-moz-animation: fcBar 0.4s linear 0s normal none;
	animation: fcBar 0.4s linear 0s normal none;
}
#function-bar .fb-sina, #function-bar .fb-wx, #function-bar .fb-dcode, #function-bar .fb-qq {
	display: block;
	width: 40px;
	height: 40px;
	margin-bottom: 12px;
	background: url(../images/cmlite/bar-icon.png);
	_background: url(../images/cmlite/bar-icon-8.png);
	background-repeat: no-repeat;
}
#function-bar .fb-sina {
	background-position: left top;
}
#function-bar .fb-wx {
	background-position: left -56px;
}
#function-bar .fb-dcode {
	background-position: left -112px;
}
#function-bar .fb-dcode.away {
	background-position: -44px -112px;
}

#function-bar .fb-qq {
	background-position: left -168px;
}
#function-bar .fb-sina, #function-bar .fb-wx, #function-bar .fb-dcode, #function-bar .fb-qq {
	-webkit-transition: background-position .2s ease;
	-moz-transition: background-position .2s ease;
	-ms-transition: background-position .2s ease;
	transition: background-position .2s ease
}
#function-bar .fb-sina:hover {
	background-position: -44px top;
}
#function-bar .fb-wx:hover {
	background-position: -44px -56px;
}
#function-bar .fb-dcode:hover {
	background-position: -44px -112px;
}
#function-bar .fb-qq:hover {
	background-position: -44px -168px;
}
#function-bar .fb-sina:hover, #function-bar .fb-wx:hover, #function-bar .fb-dcode:hover {
	display: block;
	animation-name: saAni;
	-webkit-animation: saAni 0.4s linear 0s normal none;
	-moz-animation: saAni 0.4s linear 0s normal none;
	animation: saAni 0.4s linear 0s normal none;
}
@-webkit-keyframes saAni {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes saAni {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes saAni {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
#function-bar .code-dwrap, #function-bar .code-gwrap, #function-bar .code-qwrap {
	display:none;
	width: 125px;
	height: 131px;
	padding-top: 9px;
	background: url(../images/cmlite/code-wrap.png) no-repeat left top;
	overflow: hidden;
	position: absolute;
	z-index: 22;
	left: -145px;
	top: 0;
}
#function-bar .code-dwrap img, #function-bar .code-gwrap img, #function-bar .code-qwrap img {
	width: 98px;
	height: 98px;
	margin-left: 10px;
	vertical-align: top;
}
#function-bar .code-dwrap p, #function-bar .code-gwrap p , #function-bar .code-qwrap p {
	display: block;
	width: 116px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
}
#function-bar .code-qwrap p {
    height: 32px;
    line-height: 16px;
    margin-top: 5px;
}
#function-bar .code-gwrap {
	display: none;
	top: -56px;
}
#function-bar .code-qwrap {
	display: none;
	height: 138px;
	top: 52px;
}
.banAnimate .obj-b {
	display: block;
	animation-name: saAni;
	-webkit-animation: saAni 0.5s linear 0s normal none;
	-moz-animation: saAni 0.5s linear 0s normal none;
	animation: saAni 0.5s linear 0s normal none;
}
@-webkit-keyframes fcBar {
	from {
		opacity: 0;
		-webkit-transform: scale(0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: scale(1, 1);
	}
}
@-moz-keyframes fcBar {
	from {
		opacity: 0;
		-moz-transform: scale(0, 0);
	}
	to {
		opacity: 1;
		-moz-transform: scale(1, 1);
	}
}
@keyframes fcBar {
	from {
		opacity: 0;
		transform: scale(0, 0);
	}
	to {
		opacity: 1;
		transform: scale(1, 1);
	}
}
@media(min-width:1000px) and (max-height:930px) {
	.wxclean-phone {
		display: block;
		width: 473px;
		height: 600px;
		left: 50%;
		bottom: 0;
		margin: 0 0 0 -460px;
	}
}
@media(max-width:982px) {
	.wrapper {
		min-width: 0;
	}
	.main {
		width: auto;
	}
	.log-wrap {
		padding-top: 140px;
	}
	.log_content {
		width: 90%;
		padding: 30px 20px;
		margin: 0 auto 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.log_content:first-of-type .log_list {
		margin-right: 100px;
	}
}
@media(max-width:768px) {
	#function-bar {
		display: none;
	}
	.log-wrap {
		padding-top: 70px;
	}
	.log_content {
		padding: 20px;
	}
	.log_date {
		width: auto;
		float: none;
	}
	.log_date h2 b {
		display: inline;
		padding-right: 3px;
	}
	.log_date .date {
		margin-bottom: 5px;
	}
	.log_list {
		margin-left: 0;
		line-height: 22px;
		padding: 10px 20px;
		background: #F3F3F3
	}
	.slide, .slide-main {
		width: 100%;
		height: 100%;
	}
	.wxclean-phone {
		display: block;
		width: 50%;
		height: auto;
		left: 50%;
		bottom: 0;
		margin: 0 0 0 -30%;
	}
	.wxclean-phone img {
		width: 100%;
		vertical-align: bottom;
	}
	.item {
		display: block;
		bottom: 30px;
	}
	.wxclean-text {
		width: 100%;
		left: 0;
		top: 10%;
		margin: 0 0 0 0;
		text-align: center;
	}
	.wxclean-text strong img {
		width: 160px;
		margin: 0 auto;
		vertical-align: bottom;
	}
	.wxclean-text p {
		padding-bottom: 20px;
	}
	.wxclean-btn {
		width: 50%;
		height: 40px;
		line-height: 40px;
		margin: 0 auto;
	}
	.wxclean-text strong, .wxclean-text i {
		display: block;
	}
	.wxclean-text strong {
		padding-bottom: 10px;
		font-size: 32px;
		color: #333;
		font-weight: normal;
	}
	.wxclean-text i {
		padding-bottom: 20px;
		font-size: 1.25em;
		color: #22b577;
	}
	.wxclean-btn {
		width: 160px;
		height: 36px;
		line-height: 36px;
	}
}
@media(max-width:540px) {
	#menu a {
		padding: 0 10px;
	}
	.language-menu i {
		background-size: 10px 10px;
		background-position: 8px center;
	}
	.log_content {
		width: 100%;
		padding: 10px;
		border: 0;
		box-shadow: none;
		border-bottom: 1px #eee solid;
	}
	.log_list {
		background: #fff;
	}
	.log_content:first-of-type .log_list {
		margin-right: 0;
	}
	.log-down {
		position: static;
		width: 100%;
		height: 50px !important;
		border-radius: 5px;
		margin-top: 10px;
		background-image: none;
		text-indent: 0;
		color: #fff;
		line-height: 50px;
		font-size: 20px;
		text-align: center;
	}
	.log-down:active {
		color: #fff;
		background-color: #1C408E;
	}
}
@media (max-width:414px) and (min-height:481px) {
	#cmlt1 .main, #cmlt4 .main {
		padding:25px 0 0;
	}
	#cmlt2 .desc img {
		height:58px;
		margin-bottom:20px;
	}
	#cmlt1 .phone {
		width:100%;
		margin-left:-54%;
	}
	#cmlt2 .pgy {
		width: 100%;
		left: 0;
		margin-bottom: -40px;
	}
	#cmlt2 .desc dl {
		margin-top: 0;
	}
	#cmlt3 .title {
		margin-top: 20px;
		height: 24px;
	}
	#cmlt3 .icon {
		top: 140px;
	}
	#cmlt3 .exp {
		top: 270px;
	}
	#cmlt4 .title {
		height: 26px;
	}
	#cmlt4 .desc {
		width: 90%;
	}
}
@media (max-width:375px) {
	#cmlt4 .title {
		height: 24px;
	}
}
@media (max-width:359px) {
	#cmlt4 .title {
		height: 22px;
	}
}
@media(max-height:431px) {
	.pgy {
		width: 200px;
		height: 120px;
	}
	#cmlt4 dl {
		margin-top: 30px;
	}
	#cmlt4 dt {
		font-size: 18px;
		color: #1457cc;
	}
	#cmlt4 dd {
		font-size: 14px;
		margin-top: 8px;
		line-height: 1.4;
	}
	#cmlt3 .nav {
		bottom: 18px;
	}
	#cmlt3 .desc {
		top: 160px;
	}
	#cmlt3 .main {
		padding-top: 0;
	}
	#pgyy {
		top: 28px;
	}
	#cmlt3 .icon {
		top: 100px;
	}
	#cmlt3 .exp {
		top: 230px;
	}
	.wxclean-text {
		top: 30px;
	}
	.wxclean-phone {
		width: 50%;
		margin: 0 0 0 -30%;
	}
}
@media(max-height:381px) {
	#cmlt4 dl {
		margin-top: 20px;
		display: none;
		padding-left: 50px;
	}
	#cmlt3 .main {
		padding-top: 0;
		transform: translateY(-10px);
	}
	#cmlt1 .main .phone {
		margin-bottom: -40px;
	}
	.wxclean-text {
		top: 20px;
	}
	.wxclean-phone {
		width: 50%;
		margin: 0 0 0 -30%;
	}
}
