<!DOCTYPE html>
<html>
<head>
  <title>Response of POST</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <div>
    <div>
      <h1>Response of POST... ...</h1>
      <h2 class="global-title"><%= test %></h2>
    </div>
  </div>
</body>
</html>
